kylo/templates/webservice_ingest.template/template.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [],
  "feedRoleMemberships": [],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "GetHTTP",
      "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.standard.GetHTTP",
      "key": "Filename",
      "value": "{DAF_DATASET_NAME}_${now():format('yyyyMMddHHmmss')}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Filename",
        "displayName": "Filename",
        "description": "The filename to assign to the file when pulled",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "{DAF_DATASET_NAME}_${now():format('yyyyMMddHHmmss')}",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-GetHTTP-Filename",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Filename",
      "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Filename"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "GetHTTP",
      "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.standard.GetHTTP",
      "key": "Password",
      "value": "{cipher}{DAF_WS_PASSWORD}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Password",
        "displayName": "Password",
        "description": "Password required to access the URL",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": true,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": "******",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": true,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-GetHTTP-Password",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Password",
      "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Password"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "GetHTTP",
      "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.standard.GetHTTP",
      "key": "URL",
      "value": "{DAF_WS_URL}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "URL",
        "displayName": "URL",
        "description": "The URL to pull from",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "{DAF_WS_URL}",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-GetHTTP-URL",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-URL",
      "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-URL"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "GetHTTP",
      "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.standard.GetHTTP",
      "key": "Username",
      "value": "{DAF_WS_USERNAME}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Username",
        "displayName": "Username",
        "description": "Username required to access the URL",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": "{DAF_WS_USERNAME}",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-GetHTTP-Username",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Username",
      "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Username"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.category.systemName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-category",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.systemFeedName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-feed",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.archive.root",
      "value": "${config.hdfs.archive.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.archive.root",
        "displayName": "hdfs.archive.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.archive.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hdfs.archive.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hdfs.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.master.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.master.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.profile.root",
      "value": "${config.hive.profile.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.profile.root",
        "displayName": "hive.profile.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.profile.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.profile.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFormat",
      "value": "${metadata.table.feedFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFormat",
        "displayName": "metadata.table.feedFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.feedFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldIndexString",
      "value": "${metadata.table.fieldIndexString}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldIndexString",
        "displayName": "metadata.table.fieldIndexString",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldIndexString}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldIndexString",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldPoliciesJson}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionSpecs",
      "value": "${metadata.table.partitionSpecs}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionSpecs",
        "displayName": "metadata.table.partitionSpecs",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionSpecs}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.partitionSpecs",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionStructure",
      "value": "${metadata.table.partitionStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionStructure",
        "displayName": "metadata.table.partitionStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.partitionStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetMergeStrategy}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetTblProperties}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.nifi.home}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-nifi.home",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "skipHeader",
      "value": "${metadata.options.skipHeader}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "skipHeader",
        "displayName": "skipHeader",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.options.skipHeader}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
      "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-skipHeader",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.category.systemName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-category",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.systemFeedName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-feed",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.archive.root",
          "value": "${config.hdfs.archive.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.archive.root",
            "displayName": "hdfs.archive.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.archive.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hdfs.archive.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hdfs.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.master.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.master.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.profile.root",
          "value": "${config.hive.profile.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.profile.root",
            "displayName": "hive.profile.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.profile.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-hive.profile.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFormat",
          "value": "${metadata.table.feedFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFormat",
            "displayName": "metadata.table.feedFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.feedFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldIndexString",
          "value": "${metadata.table.fieldIndexString}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldIndexString",
            "displayName": "metadata.table.fieldIndexString",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldIndexString}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldIndexString",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldPoliciesJson}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.fieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionSpecs",
          "value": "${metadata.table.partitionSpecs}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionSpecs",
            "displayName": "metadata.table.partitionSpecs",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionSpecs}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.partitionSpecs",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionStructure",
          "value": "${metadata.table.partitionStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionStructure",
            "displayName": "metadata.table.partitionStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.partitionStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetMergeStrategy}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetTblProperties}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.nifi.home}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-nifi.home",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "skipHeader",
          "value": "${metadata.options.skipHeader}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "skipHeader",
            "displayName": "skipHeader",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.options.skipHeader}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a-skipHeader",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Initialize Feed Parameters",
      "id": "66e99f1b-0f6d-3da0-6e79-a2e2c77fe89a",
      "groupName": "NiFi Flow",
      "groupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "GetHTTP",
          "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.standard.GetHTTP",
          "key": "Filename",
          "value": "{DAF_DATASET_NAME}_${now():format('yyyyMMddHHmmss')}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Filename",
            "displayName": "Filename",
            "description": "The filename to assign to the file when pulled",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "{DAF_DATASET_NAME}_${now():format('yyyyMMddHHmmss')}",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-GetHTTP-Filename",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Filename",
          "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Filename"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "GetHTTP",
          "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.standard.GetHTTP",
          "key": "Password",
          "value": "{cipher}{DAF_WS_PASSWORD}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Password",
            "displayName": "Password",
            "description": "Password required to access the URL",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": true,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": "******",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": true,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-GetHTTP-Password",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Password",
          "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Password"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "GetHTTP",
          "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.standard.GetHTTP",
          "key": "URL",
          "value": "{DAF_WS_URL}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "URL",
            "displayName": "URL",
            "description": "The URL to pull from",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "{DAF_WS_URL}",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-GetHTTP-URL",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-URL",
          "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-URL"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "GetHTTP",
          "processorId": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
          "processGroupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
          "processorType": "org.apache.nifi.processors.standard.GetHTTP",
          "key": "Username",
          "value": "{DAF_WS_USERNAME}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Username",
            "displayName": "Username",
            "description": "Username required to access the URL",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": "{DAF_WS_USERNAME}",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-GetHTTP-Username",
          "idKey": "39b53e89-3812-1f4d-6819-c69472a579f6-8cdce117-789c-36a7-6be6-e701da3e3fd3-Username",
          "processorNameTypeKey": "GetHTTP-org.apache.nifi.processors.standard.GetHTTP-Username"
        }
      ],
      "type": "org.apache.nifi.processors.standard.GetHTTP",
      "name": "GetHTTP",
      "id": "8cdce117-789c-36a7-6be6-e701da3e3fd3",
      "groupName": "NiFi Flow",
      "groupId": "39b53e89-3812-1f4d-6819-c69472a579f6",
      "inputProcessor": true,
      "userDefinedInputProcessor": false
    }
  ],
  "id": "797a5e04-121d-470a-b145-f4d336f0e23c",
  "nifiTemplateId": "f445e1a2-9691-40d1-98f0-59d64e99f0f8",
  "templateName": "Webservice Ingest",
  "updateDate": 1517917508192,
  "createDate": 1517324586203,
  "icon": "http",
  "iconColor": "#FF5252",
  "description": null,
  "state": "ENABLED",
  "defineTable": true,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "to-dataset-ingest",
      "reusableTemplateInputPortName": "dataset-ingest",
      "inputPortDisplayName": "dataset-ingest"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "org.apache.nifi.processors.standard.GetHTTP",
      "processorName": "GetHTTP",
      "processorId": "8cdce117-789c-36a7-0000-000000000000",
      "datasourceDefinition": {
        "processorType": "org.apache.nifi.processors.standard.GetHTTP",
        "connectionType": "SOURCE",
        "datasourcePropertyKeys": [
          "File Name",
          "URL"
        ],
        "datasourceType": "HTTPDatasource",
        "identityString": "${File Name},${URL}",
        "description": null,
        "title": "${File Name},${URL}"
      }
    },
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "cd9f851b-4f87-322f-79e6-a45cd4cd804d",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    },
    {
      "processorType": "org.apache.nifi.processors.hadoop.PutHDFS",
      "processorName": "Upload to HDFS",
      "processorId": "38082a38-3552-3ff8-d298-6c28edb6d622",
      "datasourceDefinition": {
        "processorType": "org.apache.nifi.processors.hadoop.PutHDFS",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Directory"
        ],
        "datasourceType": "HDFSDatasource",
        "identityString": "${Directory}",
        "description": null,
        "title": "${Directory}"
      }
    }
  ],
  "order": 1,
  "templateOrder": null,
  "feedsCount": 9,
  "templateTableOption": "DEFINE_TABLE",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": false,
  "isStream": false
}