nifi/templates/dataset_ingestion/Dataset_Ingest.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.1">
    <description></description>
    <groupId>a95459a9-0165-1000-4d8a-b3ef8d95d8a1</groupId>
    <name>Dataset Ingest</name>
    <snippet>
        <connections>
            <id>a253508f-7111-3eba-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>e38ff38f-802d-3a2b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>8432e35e-a0d6-3bc0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ba2df684-8fa7-3ccc-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>4d2dda78-2c07-38d3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>7b85446b-c7dc-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cb5c8477-0d91-37a2-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>4d2dda78-2c07-38d3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>3132f0be-f277-33de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>daead823-352d-30d3-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>142b4443-3b0b-37a5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>11a359b1-8a3b-3a8e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f1242092-ce35-3dee-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>c9e4539d-e739-3ca5-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>dc7095fa-e7b8-3f47-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2acb8519-7176-34d2-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>c9e4539d-e739-3ca5-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>4d2dda78-2c07-38d3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2ae11a35-96aa-342b-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>6754db57-b7fb-3601-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>7b85446b-c7dc-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2be15f17-042e-3cbd-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>3132f0be-f277-33de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>e38ff38f-802d-3a2b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2e853c70-d04d-307a-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>4873c4aa-1b35-3af8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>40345138-cec9-3d61-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>39abd33d-955d-32ff-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>2a05ef60-0e82-3836-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>142b4443-3b0b-37a5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>48baf5e9-684c-35db-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>7b85446b-c7dc-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>zip</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>3132f0be-f277-33de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4ac85027-208b-353c-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>5bebf770-efeb-30e8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>6754db57-b7fb-3601-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>68bfc485-9139-3d17-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>40345138-cec9-3d61-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>7b85446b-c7dc-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6922f9ca-96ce-34db-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>dc7095fa-e7b8-3f47-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>table-avro</selectedRelationships>
            <source>
                <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
                <id>4d2dda78-2c07-38d3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>8927a1b0-caeb-3d31-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Spring Context Service</key>
                    <value>
                        <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService>
                        <name>Spring Context Service</name>
                    </value>
                </entry>
            </descriptors>
            <name>Kylo Cleanup Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Spring Context Service</key>
                    <value>d46c2b8e-0ab3-350c-0000-000000000000</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.cleanup.JmsCleanupEventService</type>
        </controllerServices>
        <controllerServices>
            <id>d46c2b8e-0ab3-350c-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Configuraton Classes</key>
                    <value>
                        <name>Configuraton Classes</name>
                    </value>
                </entry>
            </descriptors>
            <name>SpringContextLoaderService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Configuraton Classes</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.spring.SpringContextLoaderService</type>
        </controllerServices>
        <controllerServices>
            <id>034f600e-21df-33a5-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>client-password</key>
                    <value>
                        <name>client-password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>
                        <name>client-username</name>
                    </value>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>
                        <name>Implementation</name>
                    </value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>
                        <name>rest-client-url</name>
                    </value>
                </entry>
            </descriptors>
            <name>Kylo Metadata Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>client-password</key>
                    <value></value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>dladmin</value>
                </entry>
                <entry>
                    <key>Spring Context Service</key>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>REMOTE</value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>http://tba-kylo-ui:8400/proxy/v1/metadata</value>
                </entry>
                <entry>
                    <key>Cleanup Event Service</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
        </controllerServices>
        <labels>
            <id>bd450356-812b-3de2-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>17.392503714223494</x>
                <y>734.2725252525215</y>
            </position>
            <height>189.8345489501953</height>
            <label>Cleanup</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#dbdbdb</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>1254.49951171875</width>
        </labels>
        <outputPorts>
            <id>c9e4539d-e739-3ca5-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1456.7303910977225</x>
                <y>890.4616414293441</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>filesystem-to-dataset-ingest</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>2a05ef60-0e82-3836-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1029.1355147832019</x>
                <y>805.3475350467429</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>to-dataset-ingest-cleanup</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>8432e35e-a0d6-3bc0-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>505.6708962573093</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>/var/dropzone</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>.*csv</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Filesystem</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#11f237</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>dc7095fa-e7b8-3f47-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1958.6124139374988</x>
                <y>616.9793115576681</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>
                            <name>metadata.table.feedFieldStructure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>
                            <name>skipHeader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>${db.table.avro.schema}</value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>DB Avro Ingest Parameters</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>e38ff38f-802d-3a2b-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>449.50020894353474</x>
                <y>502.9044208039095</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>
                            <name>hive.profile.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetFormat</key>
                        <value>
                            <name>metadata.table.targetFormat</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spark.input_folder</key>
                        <value>
                            <name>spark.input_folder</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldStructure</key>
                        <value>
                            <name>metadata.table.fieldStructure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>
                            <name>nifi.home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>
                            <name>skipHeader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>archiveId</key>
                        <value>
                            <name>archiveId</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldPoliciesJson</key>
                        <value>
                            <name>metadata.table.fieldPoliciesJson</name>
                        </value>
                    </entry>
                    <entry>
                        <key>feed</key>
                        <value>
                            <name>feed</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.archive.root</key>
                        <value>
                            <name>hdfs.archive.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>
                            <name>hdfs.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetTblProperties</key>
                        <value>
                            <name>metadata.table.targetTblProperties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kylo.tmp.baseFolder</key>
                        <value>
                            <name>kylo.tmp.baseFolder</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>
                            <name>metadata.table.feedFieldStructure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>
                            <name>category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>
                            <name>hive.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>
                            <name>hive.master.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>
                            <name>metadata.table.targetMergeStrategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFormat</key>
                        <value>
                            <name>metadata.table.feedFormat</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>/app/tba/model.db</value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetFormat</key>
                        <value>STORED AS PARQUET</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>spark.input_folder</key>
                        <value>/tmp/kylo-nifi/spark</value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldStructure</key>
                        <value>REA|string||0|0|0|REA
PARTITA_IVA|string||0|0|0|PARTITA_IVA
DIDATTICA_SOCIALE|string||0|0|0|DIDATTICA_SOCIALE
FATTORIE_DIDATTICHE_SOCIALI|string||0|0|0|FATTORIE_DIDATTICHE_SOCIALI
RAGIONE_SOCIALE|string||0|0|0|RAGIONE_SOCIALE
INDIRIZZO|string||0|0|0|INDIRIZZO
CAP|string||0|0|0|CAP
COMUNE|string||0|0|0|COMUNE
PROV|string||0|0|0|PROV
TELEFONO|string||0|0|0|TELEFONO
TELEFONO_2|string||0|0|0|TELEFONO_2
FAX|string||0|0|0|FAX
E-MAIL|string||0|0|0|E-MAIL
E-MAIL_2|string||0|0|0|E-MAIL_2
SITO|string||0|0|0|SITO
SITO_2|string||0|0|0|SITO_2
Tipologia|string||0|0|0|Tipologia
Settore_produttivo|string||0|0|0|Settore_produttivo
Orario_di_vendita|string||0|0|0|Orario_di_vendita
Punto_vendita|string||0|0|0|Punto_vendita
Periodo_consigliato|string||0|0|0|Periodo_consigliato
Orari|string||0|0|0|Orari
Offerta_territoriale|string||0|0|0|Offerta_territoriale
Ricettività|string||0|0|0|Ricettività
Offerte_didattiche|string||0|0|0|Offerte_didattiche
Posizione_sul_territorio|string||0|0|0|Posizione_sul_territorio
Servizi_aggiuntivi|string||0|0|0|Servizi_aggiuntivi
Coordinate|string||0|0|0|Coordinate</value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>/usr/nifi</value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>archiveId</key>
                        <value>${now():format('yyyyMMddHHmmss')}_${UUID()}</value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldPoliciesJson</key>
                        <value>[{"profile":false,"index":false,"fieldName":"REA","feedFieldName":"REA","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"PARTITA_IVA","feedFieldName":"PARTITA_IVA","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"DIDATTICA_SOCIALE","feedFieldName":"DIDATTICA_SOCIALE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"FATTORIE_DIDATTICHE_SOCIALI","feedFieldName":"FATTORIE_DIDATTICHE_SOCIALI","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"RAGIONE_SOCIALE","feedFieldName":"RAGIONE_SOCIALE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"INDIRIZZO","feedFieldName":"INDIRIZZO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"CAP","feedFieldName":"CAP","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"COMUNE","feedFieldName":"COMUNE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"PROV","feedFieldName":"PROV","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"TELEFONO","feedFieldName":"TELEFONO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"TELEFONO_2","feedFieldName":"TELEFONO_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"FAX","feedFieldName":"FAX","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"E-MAIL","feedFieldName":"E-MAIL","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"E-MAIL_2","feedFieldName":"E-MAIL_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"SITO","feedFieldName":"SITO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"SITO_2","feedFieldName":"SITO_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Tipologia","feedFieldName":"Tipologia","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Settore_produttivo","feedFieldName":"Settore_produttivo","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Orario_di_vendita","feedFieldName":"Orario_di_vendita","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Punto_vendita","feedFieldName":"Punto_vendita","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Periodo_consigliato","feedFieldName":"Periodo_consigliato","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Orari","feedFieldName":"Orari","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Offerta_territoriale","feedFieldName":"Offerta_territoriale","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Ricettività","feedFieldName":"Ricettività","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Offerte_didattiche","feedFieldName":"Offerte_didattiche","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Posizione_sul_territorio","feedFieldName":"Posizione_sul_territorio","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Servizi_aggiuntivi","feedFieldName":"Servizi_aggiuntivi","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Coordinate","feedFieldName":"Coordinate","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false}]</value>
                    </entry>
                    <entry>
                        <key>feed</key>
                        <value>test_ingestion_2_o_test_fattorie_didattiche_fvg_5</value>
                    </entry>
                    <entry>
                        <key>hdfs.archive.root</key>
                        <value>/app/tba/archive</value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>/app/tba/etl</value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>metadata.table.targetTblProperties</key>
                        <value>tblproperties("parquet.compression"="SNAPPY")</value>
                    </entry>
                    <entry>
                        <key>kylo.tmp.baseFolder</key>
                        <value>/tmp/kylo-nifi</value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>REA|string||0|0|0|REA
PARTITA_IVA|string||0|0|0|PARTITA_IVA
DIDATTICA_SOCIALE|string||0|0|0|DIDATTICA_SOCIALE
FATTORIE_DIDATTICHE_SOCIALI|string||0|0|0|FATTORIE_DIDATTICHE_SOCIALI
RAGIONE_SOCIALE|string||0|0|0|RAGIONE_SOCIALE
INDIRIZZO|string||0|0|0|INDIRIZZO
CAP|string||0|0|0|CAP
COMUNE|string||0|0|0|COMUNE
PROV|string||0|0|0|PROV
TELEFONO|string||0|0|0|TELEFONO
TELEFONO_2|string||0|0|0|TELEFONO_2
FAX|string||0|0|0|FAX
E-MAIL|string||0|0|0|E-MAIL
E-MAIL_2|string||0|0|0|E-MAIL_2
SITO|string||0|0|0|SITO
SITO_2|string||0|0|0|SITO_2
Tipologia|string||0|0|0|Tipologia
Settore_produttivo|string||0|0|0|Settore_produttivo
Orario_di_vendita|string||0|0|0|Orario_di_vendita
Punto_vendita|string||0|0|0|Punto_vendita
Periodo_consigliato|string||0|0|0|Periodo_consigliato
Orari|string||0|0|0|Orari
Offerta_territoriale|string||0|0|0|Offerta_territoriale
Ricettività|string||0|0|0|Ricettività
Offerte_didattiche|string||0|0|0|Offerte_didattiche
Posizione_sul_territorio|string||0|0|0|Posizione_sul_territorio
Servizi_aggiuntivi|string||0|0|0|Servizi_aggiuntivi
Coordinate|string||0|0|0|Coordinate</value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>test_ingestion_2</value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>/app/tba/model.db</value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>/daf</value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>DEDUPE_AND_MERGE</value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFormat</key>
                        <value>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
 WITH SERDEPROPERTIES ( 'separatorChar' = ',' ,'escapeChar' = '\\' ,'quoteChar' = '\"') STORED AS TEXTFILE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialize Feed Parameters</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#11f237</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>11a359b1-8a3b-3a8e-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>36.160264539061245</x>
                <y>771.7303475467429</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Cleanup Event Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService>
                            <name>Feed Cleanup Event Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>034f600e-21df-33a5-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>${metadata.category.systemName}</value>
                    </entry>
                    <entry>
                        <key>Feed Cleanup Event Service</key>
                        <value>8927a1b0-caeb-3d31-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${metadata.systemFeedName}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>TriggerCleanup</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ff9900</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type>
        </processors>
        <processors>
            <id>142b4443-3b0b-37a5-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>482.8328567021472</x>
                <y>777.9416512576804</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>feed</key>
                        <value>
                            <name>feed</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>
                            <name>hive.profile.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>
                            <name>hdfs.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>
                            <name>category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>
                            <name>hive.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>
                            <name>hive.master.root</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>feed</key>
                        <value>${metadata.systemFeedName}</value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>${config.hive.profile.root}</value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>${config.hdfs.ingest.root}</value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>${metadata.category.systemName}</value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>${config.hive.ingest.root}</value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>${config.hive.master.root}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialize Cleanup Parameters</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#11f237</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>3132f0be-f277-33de-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>895.8194151161279</x>
                <y>505.6708962573093</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>zip</key>
                        <value>
                            <name>zip</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>zip</key>
                        <value>${filename:endsWith('.zip')}</value>
                    </entry>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>zip</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>40345138-cec9-3d61-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1898.1335874356591</x>
                <y>384.83494606669956</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename}.read</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Set read filename</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>4873c4aa-1b35-3af8-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>2426.9758713394913</x>
                <y>377.35543060302734</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Group</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>${absolute.path}</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Save read file</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>4d2dda78-2c07-38d3-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1401.7303910977225</x>
                <y>616.9793115576681</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-avro</key>
                        <value>
                            <name>table-avro</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>table-avro</key>
                        <value>${db.table.output.format:equals('AVRO')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Detect DB Avro Ingest</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>table-avro</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>5bebf770-efeb-30e8-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1417.0135942227225</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Group</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>${absolute.path}</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Save failed unzip file</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>6754db57-b7fb-3601-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1424.4289424725412</x>
                <y>185.57989162553486</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename}.failure</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Set failed filename</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7b85446b-c7dc-3ba7-0000-000000000000</id>
            <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
            <position>
                <x>1401.7303910977225</x>
                <y>383.61267852783203</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Packaging Format</key>
                        <value>
                            <name>Packaging Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Packaging Format</key>
                        <value>zip</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>.*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>UnpackContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UnpackContent</type>
        </processors>
    </snippet>
    <timestamp>09/05/2018 14:03:06 GMT</timestamp>
</template>
