nifi/templates/dataset_ingestion/HDFS_Ingest.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>a95459a9-0165-1000-4d8a-b3ef8d95d8a1</groupId>
    <name>HDFS Ingest</name>
    <snippet>
        <connections>
            <id>d1f947b0-cfed-363f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>9437771e-aa5c-35a2-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>697d5107-a31e-39bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d81796b6-5b4f-3b6b-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>426f7eeb-3416-3d84-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>38af81c9-cbcc-3844-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>eeff3839-7a69-3f93-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>697d5107-a31e-39bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>0bde88e1-0929-3f1f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4178dd09-7485-398f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>2c11e1ae-44dd-3893-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>426f7eeb-3416-3d84-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>b71e5795-a3c5-3c76-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>client-password</key>
                    <value>
                        <name>client-password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>
                        <name>client-username</name>
                    </value>
                </entry>
                <entry>
                    <key>Spring Context Service</key>
                    <value>
                        <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService>
                        <name>Spring Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>
                        <name>Implementation</name>
                    </value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>
                        <name>rest-client-url</name>
                    </value>
                </entry>
            </descriptors>
            <name>Kylo Metadata Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>client-password</key>
                    <value></value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>dladmin</value>
                </entry>
                <entry>
                    <key>Spring Context Service</key>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>REMOTE</value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>http://tba-kylo-ui:8400/proxy/v1/metadata</value>
                </entry>
                <entry>
                    <key>Cleanup Event Service</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
        </controllerServices>
        <controllerServices>
            <id>f9e6dcdb-1555-30a8-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Spring Context Service</key>
                    <value>
                        <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService>
                        <name>Spring Context Service</name>
                    </value>
                </entry>
            </descriptors>
            <name>Kylo Cleanup Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Spring Context Service</key>
                    <value>556a45c4-471f-3995-0000-000000000000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.cleanup.JmsCleanupEventService</type>
        </controllerServices>
        <controllerServices>
            <id>556a45c4-471f-3995-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Configuraton Classes</key>
                    <value>
                        <name>Configuraton Classes</name>
                    </value>
                </entry>
            </descriptors>
            <name>SpringContextLoaderService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Configuraton Classes</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.spring.SpringContextLoaderService</type>
        </controllerServices>
        <labels>
            <id>e191328f-7765-3334-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>185.74232482910156</height>
            <label>Initialize</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>1256.4584045410156</width>
        </labels>
        <labels>
            <id>222b6376-1639-326a-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>2.4758547868721053</x>
                <y>256.43211934962846</y>
            </position>
            <height>189.8345489501953</height>
            <label>Cleanup</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#dbdbdb</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>1254.49951171875</width>
        </labels>
        <outputPorts>
            <id>9437771e-aa5c-35a2-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1014.2188658558505</x>
                <y>327.50712914384985</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>to-dataset-ingest-cleanup</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>2c11e1ae-44dd-3893-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>982.5422883129493</x>
                <y>51.14613787020107</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>hdfs-to-dataset-ingest</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>0bde88e1-0929-3f1f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>21.243615611709856</x>
                <y>293.88994164384985</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Cleanup Event Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService>
                            <name>Feed Cleanup Event Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>${metadata.category.systemName}</value>
                    </entry>
                    <entry>
                        <key>Feed Cleanup Event Service</key>
                        <value>f9e6dcdb-1555-30a8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${metadata.systemFeedName}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>TriggerCleanup</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ff9900</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type>
        </processors>
        <processors>
            <id>38af81c9-cbcc-3844-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>10.016026016845217</x>
                <y>20.811007462062207</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>
                            <name>File Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filter Match Name Only</key>
                        <value>
                            <name>Filter Match Name Only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>
                            <name>Ignore Dotted Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>{DAF_FILTER_REGEX}</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>Filter Match Name Only</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>/usr/nifi/daf.keytab</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>daf@DAF.GOV.IT</value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/uploads/{DAF_USER}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>GetHDFS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.GetHDFS</type>
        </processors>
        <processors>
            <id>426f7eeb-3416-3d84-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>434.58356001618336</x>
                <y>25.064014901016435</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>
                            <name>hive.profile.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetFormat</key>
                        <value>
                            <name>metadata.table.targetFormat</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spark.input_folder</key>
                        <value>
                            <name>spark.input_folder</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldStructure</key>
                        <value>
                            <name>metadata.table.fieldStructure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>
                            <name>nifi.home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>
                            <name>skipHeader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>archiveId</key>
                        <value>
                            <name>archiveId</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldPoliciesJson</key>
                        <value>
                            <name>metadata.table.fieldPoliciesJson</name>
                        </value>
                    </entry>
                    <entry>
                        <key>feed</key>
                        <value>
                            <name>feed</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.archive.root</key>
                        <value>
                            <name>hdfs.archive.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>
                            <name>hdfs.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetTblProperties</key>
                        <value>
                            <name>metadata.table.targetTblProperties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kylo.tmp.baseFolder</key>
                        <value>
                            <name>kylo.tmp.baseFolder</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>
                            <name>metadata.table.feedFieldStructure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>toFetch</key>
                        <value>
                            <name>toFetch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>
                            <name>category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>
                            <name>hive.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>
                            <name>hive.master.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>
                            <name>metadata.table.targetMergeStrategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFormat</key>
                        <value>
                            <name>metadata.table.feedFormat</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>/app/tba/model.db</value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetFormat</key>
                        <value>STORED AS PARQUET</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>spark.input_folder</key>
                        <value>/tmp/kylo-nifi/spark</value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldStructure</key>
                        <value>REA|string||0|0|0|REA
PARTITA_IVA|string||0|0|0|PARTITA_IVA
DIDATTICA_SOCIALE|string||0|0|0|DIDATTICA_SOCIALE
FATTORIE_DIDATTICHE_SOCIALI|string||0|0|0|FATTORIE_DIDATTICHE_SOCIALI
RAGIONE_SOCIALE|string||0|0|0|RAGIONE_SOCIALE
INDIRIZZO|string||0|0|0|INDIRIZZO
CAP|string||0|0|0|CAP
COMUNE|string||0|0|0|COMUNE
PROV|string||0|0|0|PROV
TELEFONO|string||0|0|0|TELEFONO
TELEFONO_2|string||0|0|0|TELEFONO_2
FAX|string||0|0|0|FAX
E-MAIL|string||0|0|0|E-MAIL
E-MAIL_2|string||0|0|0|E-MAIL_2
SITO|string||0|0|0|SITO
SITO_2|string||0|0|0|SITO_2
Tipologia|string||0|0|0|Tipologia
Settore_produttivo|string||0|0|0|Settore_produttivo
Orario_di_vendita|string||0|0|0|Orario_di_vendita
Punto_vendita|string||0|0|0|Punto_vendita
Periodo_consigliato|string||0|0|0|Periodo_consigliato
Orari|string||0|0|0|Orari
Offerta_territoriale|string||0|0|0|Offerta_territoriale
Ricettività|string||0|0|0|Ricettività
Offerte_didattiche|string||0|0|0|Offerte_didattiche
Posizione_sul_territorio|string||0|0|0|Posizione_sul_territorio
Servizi_aggiuntivi|string||0|0|0|Servizi_aggiuntivi
Coordinate|string||0|0|0|Coordinate</value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>/usr/nifi</value>
                    </entry>
                    <entry>
                        <key>skipHeader</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>archiveId</key>
                        <value>${now():format('yyyyMMddHHmmss')}_${UUID()}</value>
                    </entry>
                    <entry>
                        <key>metadata.table.fieldPoliciesJson</key>
                        <value>[{"profile":false,"index":false,"fieldName":"REA","feedFieldName":"REA","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"PARTITA_IVA","feedFieldName":"PARTITA_IVA","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"DIDATTICA_SOCIALE","feedFieldName":"DIDATTICA_SOCIALE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"FATTORIE_DIDATTICHE_SOCIALI","feedFieldName":"FATTORIE_DIDATTICHE_SOCIALI","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"RAGIONE_SOCIALE","feedFieldName":"RAGIONE_SOCIALE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"INDIRIZZO","feedFieldName":"INDIRIZZO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"CAP","feedFieldName":"CAP","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"COMUNE","feedFieldName":"COMUNE","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"PROV","feedFieldName":"PROV","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"TELEFONO","feedFieldName":"TELEFONO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"TELEFONO_2","feedFieldName":"TELEFONO_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"FAX","feedFieldName":"FAX","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"E-MAIL","feedFieldName":"E-MAIL","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"E-MAIL_2","feedFieldName":"E-MAIL_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"SITO","feedFieldName":"SITO","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"SITO_2","feedFieldName":"SITO_2","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Tipologia","feedFieldName":"Tipologia","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Settore_produttivo","feedFieldName":"Settore_produttivo","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Orario_di_vendita","feedFieldName":"Orario_di_vendita","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Punto_vendita","feedFieldName":"Punto_vendita","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Periodo_consigliato","feedFieldName":"Periodo_consigliato","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Orari","feedFieldName":"Orari","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Offerta_territoriale","feedFieldName":"Offerta_territoriale","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Ricettività","feedFieldName":"Ricettività","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Offerte_didattiche","feedFieldName":"Offerte_didattiche","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Posizione_sul_territorio","feedFieldName":"Posizione_sul_territorio","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Servizi_aggiuntivi","feedFieldName":"Servizi_aggiuntivi","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false},{"profile":false,"index":false,"fieldName":"Coordinate","feedFieldName":"Coordinate","standardization":[],"validation":[],"domainTypeId":null,"partitionColumn":false}]</value>
                    </entry>
                    <entry>
                        <key>feed</key>
                        <value>test_ingestion_2_o_test_fattorie_didattiche_fvg_5</value>
                    </entry>
                    <entry>
                        <key>hdfs.archive.root</key>
                        <value>/app/tba/archive</value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>/app/tba/etl</value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>metadata.table.targetTblProperties</key>
                        <value>tblproperties("parquet.compression"="SNAPPY")</value>
                    </entry>
                    <entry>
                        <key>kylo.tmp.baseFolder</key>
                        <value>/tmp/kylo-nifi</value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFieldStructure</key>
                        <value>REA|string||0|0|0|REA
PARTITA_IVA|string||0|0|0|PARTITA_IVA
DIDATTICA_SOCIALE|string||0|0|0|DIDATTICA_SOCIALE
FATTORIE_DIDATTICHE_SOCIALI|string||0|0|0|FATTORIE_DIDATTICHE_SOCIALI
RAGIONE_SOCIALE|string||0|0|0|RAGIONE_SOCIALE
INDIRIZZO|string||0|0|0|INDIRIZZO
CAP|string||0|0|0|CAP
COMUNE|string||0|0|0|COMUNE
PROV|string||0|0|0|PROV
TELEFONO|string||0|0|0|TELEFONO
TELEFONO_2|string||0|0|0|TELEFONO_2
FAX|string||0|0|0|FAX
E-MAIL|string||0|0|0|E-MAIL
E-MAIL_2|string||0|0|0|E-MAIL_2
SITO|string||0|0|0|SITO
SITO_2|string||0|0|0|SITO_2
Tipologia|string||0|0|0|Tipologia
Settore_produttivo|string||0|0|0|Settore_produttivo
Orario_di_vendita|string||0|0|0|Orario_di_vendita
Punto_vendita|string||0|0|0|Punto_vendita
Periodo_consigliato|string||0|0|0|Periodo_consigliato
Orari|string||0|0|0|Orari
Offerta_territoriale|string||0|0|0|Offerta_territoriale
Ricettività|string||0|0|0|Ricettività
Offerte_didattiche|string||0|0|0|Offerte_didattiche
Posizione_sul_territorio|string||0|0|0|Posizione_sul_territorio
Servizi_aggiuntivi|string||0|0|0|Servizi_aggiuntivi
Coordinate|string||0|0|0|Coordinate</value>
                    </entry>
                    <entry>
                        <key>toFetch</key>
                        <value>no</value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>test_ingestion_2</value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>/app/tba/model.db</value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>/daf</value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>DEDUPE_AND_MERGE</value>
                    </entry>
                    <entry>
                        <key>metadata.table.feedFormat</key>
                        <value>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
 WITH SERDEPROPERTIES ( 'separatorChar' = ',' ,'escapeChar' = '\\' ,'quoteChar' = '\"') STORED AS TEXTFILE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialize Feed Parameters</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#11f237</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>697d5107-a31e-39bd-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>467.9162077747958</x>
                <y>300.10124535478735</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>feed</key>
                        <value>
                            <name>feed</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>
                            <name>hive.profile.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>
                            <name>hdfs.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>
                            <name>category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>
                            <name>hive.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>
                            <name>hive.master.root</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>feed</key>
                        <value>${metadata.systemFeedName}</value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>${config.hive.profile.root}</value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>${config.hdfs.ingest.root}</value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>category</key>
                        <value>${metadata.category.systemName}</value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>${config.hive.ingest.root}</value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>${config.hive.master.root}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialize Cleanup Parameters</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#11f237</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
    </snippet>
    <timestamp>09/05/2018 14:09:42 GMT</timestamp>
</template>
