nifi/templates/sftp_ingest/template.json
{"owner":{"displayName":"Data Lake Administrator","email":null,"enabled":true,"groups":["admin","user"],"systemName":"dladmin"},"allowedActions":{"actions":[{"systemName":"accessTemplate","actions":[{"systemName":"editTemplate"},{"systemName":"deleteTemplate"},{"systemName":"exportTemplate"},{"systemName":"createFeedFromTemplate"},{"systemName":"changeTemplatePermissions"}]}]},"roleMemberships":[],"feedRoleMemberships":[],"properties":[{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"File Filter Regex","value":"{DAF_file_regex_filter}","expressionProperties":null,"propertyDescriptor":{"name":"File Filter Regex","displayName":"File Filter Regex","description":"Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":null,"hidden":false},"templateValue":"{DAF_file_regex_filter}","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-File Filter Regex","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-File Filter Regex","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-File Filter Regex"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Hostname","value":"daf.teamdigitale.it","expressionProperties":null,"propertyDescriptor":{"name":"Hostname","displayName":"Hostname","description":"The fully qualified hostname or IP address of the remote system","defaultValue":null,"allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"daf.teamdigitale.it","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Hostname","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Hostname","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Hostname"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Private Key Passphrase","value":"{cipher}hell flee click chuck","expressionProperties":null,"propertyDescriptor":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","description":"Password for the private key","defaultValue":null,"allowableValues":null,"required":false,"sensitive":true,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"******","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":true,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Private Key Passphrase","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Private Key Passphrase","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Private Key Passphrase"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Private Key Path","value":"/etc/security/nifi_sftp","expressionProperties":null,"propertyDescriptor":{"name":"Private Key Path","displayName":"Private Key Path","description":"The fully qualified path to the Private Key file","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"/etc/security/nifi_sftp","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Private Key Path","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Private Key Path","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Private Key Path"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Remote Path","value":"{DAF_PATH_TO_FILE}","expressionProperties":null,"propertyDescriptor":{"name":"Remote Path","displayName":"Remote Path","description":"The path on the remote system from which to pull or push files","defaultValue":".","allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"{DAF_PATH_TO_FILE}","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Remote Path","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Remote Path","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Remote Path"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Username","value":"{cipher}nifi_sftp","expressionProperties":null,"propertyDescriptor":{"name":"Username","displayName":"Username","description":"Username","defaultValue":null,"allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"******","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":true,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Username","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Username","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Username"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"4919d37d-dfd5-34e2-d14e-ad58dcae9691","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"Feed Cleanup Event Service","value":"a2672b34-0164-1000-0000-0000421d02f1","expressionProperties":null,"propertyDescriptor":{"name":"Feed Cleanup Event Service","displayName":"Feed Cleanup Event Service","description":"Service that manages the cleanup of feeds.","defaultValue":null,"allowableValues":[{"displayName":"Kylo Cleanup Service","value":"aa08d930-0165-1000-ffff-ffffb5aaa64d","description":null}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService","hidden":false},"templateValue":"a2672b34-0164-1000-0000-0000421d02f1","userEditable":false,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-TriggerCleanup-Feed Cleanup Event Service","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-Feed Cleanup Event Service","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-4919d37d-dfd5-34e2-d14e-ad58dcae9691-Feed Cleanup Event Service"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"4919d37d-dfd5-34e2-d14e-ad58dcae9691","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"Metadata Provider Service","value":"6d36426d-0162-1000-9da6-4ca71ef709f1","expressionProperties":null,"propertyDescriptor":{"name":"Metadata Provider Service","displayName":"Metadata Provider Service","description":"Service supplying the implementations of the various metadata providers.","defaultValue":null,"allowableValues":[{"displayName":"Kylo Metadata Service","value":"a9eee555-0165-1000-0000-000038317170","description":null}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService","hidden":false},"templateValue":"6d36426d-0162-1000-9da6-4ca71ef709f1","userEditable":false,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-TriggerCleanup-Metadata Provider Service","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-Metadata Provider Service","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-4919d37d-dfd5-34e2-d14e-ad58dcae9691-Metadata Provider Service"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"4919d37d-dfd5-34e2-d14e-ad58dcae9691","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":"System feed category","description":"The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.","defaultValue":"${metadata.category.systemName}","allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-TriggerCleanup-System feed category","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed category","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-4919d37d-dfd5-34e2-d14e-ad58dcae9691-System feed category"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"4919d37d-dfd5-34e2-d14e-ad58dcae9691","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":"System feed name","description":"The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.","defaultValue":"${metadata.systemFeedName}","allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-TriggerCleanup-System feed name","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed name","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-4919d37d-dfd5-34e2-d14e-ad58dcae9691-System feed name"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":"category","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-category","processorNameTypeKey":"Initialize Cleanup Parameters-false-category","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":"feed","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-feed","processorNameTypeKey":"Initialize Cleanup Parameters-false-feed","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":"hdfs.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hdfs.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":"hive.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":"hive.master.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.master.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.master.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":"hive.profile.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.profile.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.profile.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"archiveId","value":"${now():format('yyyyMMddHHmmss')}_${UUID()}","expressionProperties":null,"propertyDescriptor":{"name":"archiveId","displayName":"archiveId","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${now():format('yyyyMMddHHmmss')}_${UUID()}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-archiveId","processorNameTypeKey":"Initialize Feed Parameters-false-archiveId","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-archiveId"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":"category","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-category","processorNameTypeKey":"Initialize Feed Parameters-false-category","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":"feed","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-feed","processorNameTypeKey":"Initialize Feed Parameters-false-feed","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.archive.root","value":"${config.hdfs.archive.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.archive.root","displayName":"hdfs.archive.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.archive.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.archive.root","processorNameTypeKey":"Initialize Feed Parameters-false-hdfs.archive.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hdfs.archive.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":"hdfs.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-false-hdfs.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":"hive.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":"hive.master.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.master.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.master.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":"hive.profile.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.profile.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.profile.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.feedFieldStructure","value":"${metadata.table.feedFieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFieldStructure","displayName":"metadata.table.feedFieldStructure","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.feedFieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.feedFieldStructure","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.feedFieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.feedFormat","value":"${metadata.table.feedFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFormat","displayName":"metadata.table.feedFormat","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.feedFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.feedFormat","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.feedFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.fieldPoliciesJson","value":"${metadata.table.fieldPoliciesJson}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldPoliciesJson","displayName":"metadata.table.fieldPoliciesJson","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.fieldPoliciesJson}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.fieldPoliciesJson","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.fieldPoliciesJson"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.fieldStructure","value":"${metadata.table.fieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldStructure","displayName":"metadata.table.fieldStructure","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.fieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.fieldStructure","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.fieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetFormat","value":"${metadata.table.targetFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetFormat","displayName":"metadata.table.targetFormat","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetFormat","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetMergeStrategy","value":"${metadata.table.targetMergeStrategy}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetMergeStrategy","displayName":"metadata.table.targetMergeStrategy","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetMergeStrategy}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetMergeStrategy","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetMergeStrategy"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetTblProperties","value":"${metadata.table.targetTblProperties}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetTblProperties","displayName":"metadata.table.targetTblProperties","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetTblProperties}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetTblProperties","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetTblProperties"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"nifi.home","value":"${config.nifi.home}","expressionProperties":null,"propertyDescriptor":{"name":"nifi.home","displayName":"nifi.home","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.nifi.home}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-nifi.home","processorNameTypeKey":"Initialize Feed Parameters-false-nifi.home","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-nifi.home"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"skipHeader","value":"${metadata.options.skipHeader}","expressionProperties":null,"propertyDescriptor":{"name":"skipHeader","displayName":"skipHeader","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.options.skipHeader}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-skipHeader","processorNameTypeKey":"Initialize Feed Parameters-false-skipHeader","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-skipHeader"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"toFetch","value":"yes","expressionProperties":null,"propertyDescriptor":{"name":"toFetch","displayName":"toFetch","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"yes","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-toFetch","processorNameTypeKey":"Initialize Feed Parameters-false-toFetch","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-toFetch"}],"nonInputProcessors":[{"properties":[{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"archiveId","value":"${now():format('yyyyMMddHHmmss')}_${UUID()}","expressionProperties":null,"propertyDescriptor":{"name":"archiveId","displayName":"archiveId","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${now():format('yyyyMMddHHmmss')}_${UUID()}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-archiveId","processorNameTypeKey":"Initialize Feed Parameters-false-archiveId","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-archiveId"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":"category","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-category","processorNameTypeKey":"Initialize Feed Parameters-false-category","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":"feed","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-feed","processorNameTypeKey":"Initialize Feed Parameters-false-feed","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.archive.root","value":"${config.hdfs.archive.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.archive.root","displayName":"hdfs.archive.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.archive.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.archive.root","processorNameTypeKey":"Initialize Feed Parameters-false-hdfs.archive.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hdfs.archive.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":"hdfs.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-false-hdfs.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":"hive.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":"hive.master.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.master.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.master.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":"hive.profile.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-hive.profile.root","processorNameTypeKey":"Initialize Feed Parameters-false-hive.profile.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.feedFieldStructure","value":"${metadata.table.feedFieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFieldStructure","displayName":"metadata.table.feedFieldStructure","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.feedFieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.feedFieldStructure","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.feedFieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.feedFormat","value":"${metadata.table.feedFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFormat","displayName":"metadata.table.feedFormat","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.feedFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.feedFormat","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.feedFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.fieldPoliciesJson","value":"${metadata.table.fieldPoliciesJson}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldPoliciesJson","displayName":"metadata.table.fieldPoliciesJson","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.fieldPoliciesJson}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.fieldPoliciesJson","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.fieldPoliciesJson"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.fieldStructure","value":"${metadata.table.fieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldStructure","displayName":"metadata.table.fieldStructure","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.fieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.fieldStructure","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.fieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetFormat","value":"${metadata.table.targetFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetFormat","displayName":"metadata.table.targetFormat","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetFormat","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetMergeStrategy","value":"${metadata.table.targetMergeStrategy}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetMergeStrategy","displayName":"metadata.table.targetMergeStrategy","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetMergeStrategy}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetMergeStrategy","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetMergeStrategy"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"metadata.table.targetTblProperties","value":"${metadata.table.targetTblProperties}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetTblProperties","displayName":"metadata.table.targetTblProperties","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.table.targetTblProperties}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties","processorNameTypeKey":"Initialize Feed Parameters-false-metadata.table.targetTblProperties","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-metadata.table.targetTblProperties"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"nifi.home","value":"${config.nifi.home}","expressionProperties":null,"propertyDescriptor":{"name":"nifi.home","displayName":"nifi.home","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.nifi.home}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-nifi.home","processorNameTypeKey":"Initialize Feed Parameters-false-nifi.home","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-nifi.home"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"skipHeader","value":"${metadata.options.skipHeader}","expressionProperties":null,"propertyDescriptor":{"name":"skipHeader","displayName":"skipHeader","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.options.skipHeader}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-skipHeader","processorNameTypeKey":"Initialize Feed Parameters-false-skipHeader","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-skipHeader"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"toFetch","value":"yes","expressionProperties":null,"propertyDescriptor":{"name":"toFetch","displayName":"toFetch","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"yes","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Feed Parameters-toFetch","processorNameTypeKey":"Initialize Feed Parameters-false-toFetch","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-8a914cc4-d529-3ba3-389e-deb65bd8fca2-toFetch"}],"type":"false","name":"Initialize Feed Parameters","id":"8a914cc4-d529-3ba3-389e-deb65bd8fca2","groupName":"NiFi Flow","groupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","inputProcessor":false,"userDefinedInputProcessor":false},{"properties":[{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":"category","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-category","processorNameTypeKey":"Initialize Cleanup Parameters-false-category","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":"feed","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-feed","processorNameTypeKey":"Initialize Cleanup Parameters-false-feed","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":"hdfs.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hdfs.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":"hive.ingest.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.ingest.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":"hive.master.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.master.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.master.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"false","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":"hive.profile.root","description":"","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":true,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.profile.root","processorNameTypeKey":"Initialize Cleanup Parameters-false-hive.profile.root","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-e19fff75-9abd-3ce0-e1d8-7bff14c633a5-hive.profile.root"}],"type":"false","name":"Initialize Cleanup Parameters","id":"e19fff75-9abd-3ce0-e1d8-7bff14c633a5","groupName":"NiFi Flow","groupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","inputProcessor":false,"userDefinedInputProcessor":false}],"inputProcessors":[{"properties":[{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"File Filter Regex","value":"{DAF_file_regex_filter}","expressionProperties":null,"propertyDescriptor":{"name":"File Filter Regex","displayName":"File Filter Regex","description":"Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":null,"hidden":false},"templateValue":"{DAF_file_regex_filter}","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-File Filter Regex","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-File Filter Regex","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-File Filter Regex"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Hostname","value":"daf.teamdigitale.it","expressionProperties":null,"propertyDescriptor":{"name":"Hostname","displayName":"Hostname","description":"The fully qualified hostname or IP address of the remote system","defaultValue":null,"allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"daf.teamdigitale.it","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Hostname","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Hostname","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Hostname"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Private Key Passphrase","value":"{cipher}hell flee click chuck","expressionProperties":null,"propertyDescriptor":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","description":"Password for the private key","defaultValue":null,"allowableValues":null,"required":false,"sensitive":true,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"******","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":true,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Private Key Passphrase","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Private Key Passphrase","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Private Key Passphrase"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Private Key Path","value":"/etc/security/nifi_sftp","expressionProperties":null,"propertyDescriptor":{"name":"Private Key Path","displayName":"Private Key Path","description":"The fully qualified path to the Private Key file","defaultValue":null,"allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"/etc/security/nifi_sftp","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Private Key Path","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Private Key Path","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Private Key Path"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Remote Path","value":"{DAF_PATH_TO_FILE}","expressionProperties":null,"propertyDescriptor":{"name":"Remote Path","displayName":"Remote Path","description":"The path on the remote system from which to pull or push files","defaultValue":".","allowableValues":null,"required":false,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"{DAF_PATH_TO_FILE}","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Remote Path","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Remote Path","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Remote Path"},{"processGroupName":"NiFi Flow","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-24fb-0b2c28382751","processGroupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","processorType":"org.apache.nifi.processors.standard.ListSFTP","key":"Username","value":"{cipher}nifi_sftp","expressionProperties":null,"propertyDescriptor":{"name":"Username","displayName":"Username","description":"Username","defaultValue":null,"allowableValues":null,"required":true,"sensitive":false,"dynamic":false,"supportsEl":true,"identifiesControllerService":null,"hidden":false},"templateValue":"******","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":true,"required":true,"templateProperty":null,"hidden":false,"nameKey":"NiFi Flow-ListSFTP-Username","processorNameTypeKey":"ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Username","remoteProcessGroupProperty":false,"idKey":"f12a2b51-0165-1000-ad42-8bc3394ef654-f5c3e901-99be-372f-24fb-0b2c28382751-Username"}],"type":"org.apache.nifi.processors.standard.ListSFTP","name":"ListSFTP","id":"f5c3e901-99be-372f-24fb-0b2c28382751","groupName":"NiFi Flow","groupId":"f12a2b51-0165-1000-ad42-8bc3394ef654","inputProcessor":true,"userDefinedInputProcessor":false}],"remoteProcessGroups":null,"id":"4b48e0f8-6ae7-4814-a448-1821255b9a2f","nifiTemplateId":"63efb922-3e56-40e2-a21c-05d48907b130","templateName":"Sftp Ingest","updateDate":1537364158271,"createDate":1536156808472,"icon":null,"iconColor":null,"description":null,"state":"ENABLED","defineTable":true,"reusableTemplate":false,"reusableTemplateConnections":[{"feedOutputPortName":"to-dataset-ingest-cleanup","reusableTemplateInputPortName":"dataset-ingest-cleanup","inputPortDisplayName":"dataset-ingest-cleanup","reusableTemplateProcessGroupName":"dataset-ingest"},{"feedOutputPortName":"List to Remote","reusableTemplateInputPortName":"dataset-ingest","inputPortDisplayName":"dataset-ingest","reusableTemplateProcessGroupName":"dataset-ingest"}],"registeredDatasourceDefinitions":[{"processorType":"org.apache.nifi.processors.standard.ListSFTP","processorName":"ListSFTP","processorId":"f5c3e901-99be-372f-0000-000000000000","datasourceDefinition":{"processorType":"org.apache.nifi.processors.standard.ListSFTP","connectionType":"SOURCE","datasourcePropertyKeys":["Remote File","Hostname"],"datasourceType":"FTPDatasource","identityString":"${Remote File},${Hostname}","description":null,"title":"${Remote File},${Hostname}"}}],"order":0,"templateOrder":null,"feedsCount":45,"templateTableOption":"DEFINE_TABLE","timeBetweenStartingBatchJobs":1000,"stream":false,"allowPreconditions":false,"dataTransformation":false,"isStream":false}