kylo/api/feedcreationwizard/1_register/response_sftp_ingest.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [
  ],
  "feedRoleMemberships": [
  ],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "File Filter Regex",
      "value": "{DAF_SFTP_REGEXP_FILTER}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Filter Regex",
        "displayName": "File Filter Regex",
        "description": "Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": ".*csv",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-File Filter Regex",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-File Filter Regex",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-File Filter Regex"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "Hostname",
      "value": "{DAF_SFTP_HOSTNAME}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Hostname",
        "displayName": "Hostname",
        "description": "The fully qualified hostname or IP address of the remote system",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-Hostname",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Hostname",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Hostname"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "Password",
      "value": "{cipher}{DAF_SFTP_PASSWORD}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Password",
        "displayName": "Password",
        "description": "Password for the user account",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": true,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "******",
      "userEditable": true,
      "renderType": "password",
      "renderOptions": {
        "selectCustom": "false"
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": true,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-Password",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Password",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Password"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "Remote Path",
      "value": "{DAF_SFTP_REMOTEPATH}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Remote Path",
        "displayName": "Remote Path",
        "description": "The path on the remote system from which to pull or push files",
        "defaultValue": ".",
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": ".",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-Remote Path",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Remote Path",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Remote Path"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "Search Recursively",
      "value": "false",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Search Recursively",
        "displayName": "Search Recursively",
        "description": "If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories",
        "defaultValue": "false",
        "allowableValues": [
          {
            "displayName": "true",
            "value": "true",
            "description": null
          },
          {
            "displayName": "false",
            "value": "false",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": "false",
      "userEditable": true,
      "renderType": "select",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-Search Recursively",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Search Recursively",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Search Recursively"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "ListSFTP",
      "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.ListSFTP",
      "key": "Username",
      "value": "{DAF_SFTP_USERNAME}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Username",
        "displayName": "Username",
        "description": "Username",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-ListSFTP-Username",
      "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Username",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Username"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "FetchSFTP",
      "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
      "key": "Completion Strategy",
      "value": "None",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Completion Strategy",
        "displayName": "Completion Strategy",
        "description": "Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.",
        "defaultValue": "None",
        "allowableValues": [
          {
            "displayName": "None",
            "value": "None",
            "description": "Leave the file as-is"
          },
          {
            "displayName": "Move File",
            "value": "Move File",
            "description": "Move the file to the directory specified by the <Move Destination Directory> property"
          },
          {
            "displayName": "Delete File",
            "value": "Delete File",
            "description": "Deletes the original file from the remote system"
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": "None",
      "userEditable": false,
      "renderType": "select",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-FetchSFTP-Completion Strategy",
      "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Completion Strategy",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Completion Strategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "FetchSFTP",
      "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
      "key": "Hostname",
      "value": "${sftp.remote.host}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Hostname",
        "displayName": "Hostname",
        "description": "The fully-qualified hostname or IP address of the host to fetch the data from",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${sftp.remote.host}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-FetchSFTP-Hostname",
      "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Hostname",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Hostname"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "FetchSFTP",
      "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
      "key": "Password",
      "value": "{cipher}{DAF_SFTP_PASSWORD}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Password",
        "displayName": "Password",
        "description": "Password for the user account",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": true,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "******",
      "userEditable": true,
      "renderType": "password",
      "renderOptions": {
        "selectCustom": "false"
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": true,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-FetchSFTP-Password",
      "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Password",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Password"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "FetchSFTP",
      "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
      "key": "Remote File",
      "value": "${path}/${filename}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Remote File",
        "displayName": "Remote File",
        "description": "The fully qualified filename on the remote system",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${path}/${filename}",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-FetchSFTP-Remote File",
      "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Remote File",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Remote File"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "FetchSFTP",
      "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
      "key": "Username",
      "value": "${sftp.listing.user}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Username",
        "displayName": "Username",
        "description": "Username",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${sftp.listing.user}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-FetchSFTP-Username",
      "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Username",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Username"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "archiveId",
      "value": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "archiveId",
        "displayName": "archiveId",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-archiveId",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-archiveId",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-archiveId"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.category.systemName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.systemFeedName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.archive.root",
      "value": "${config.hdfs.archive.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.archive.root",
        "displayName": "hdfs.archive.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.archive.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hdfs.archive.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.master.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.profile.root",
      "value": "${config.hive.profile.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.profile.root",
        "displayName": "hive.profile.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.profile.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.profile.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFormat",
      "value": "${metadata.table.feedFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFormat",
        "displayName": "metadata.table.feedFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.feedFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldPoliciesJson}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetMergeStrategy}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetTblProperties}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.nifi.home}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "skipHeader",
      "value": "${metadata.options.skipHeader}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "skipHeader",
        "displayName": "skipHeader",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.options.skipHeader}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {
      },
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
      "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-skipHeader"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "archiveId",
          "value": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "archiveId",
            "displayName": "archiveId",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-archiveId",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-archiveId",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-archiveId"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.category.systemName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.systemFeedName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.archive.root",
          "value": "${config.hdfs.archive.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.archive.root",
            "displayName": "hdfs.archive.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.archive.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hdfs.archive.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.master.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.profile.root",
          "value": "${config.hive.profile.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.profile.root",
            "displayName": "hive.profile.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.profile.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-hive.profile.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFormat",
          "value": "${metadata.table.feedFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFormat",
            "displayName": "metadata.table.feedFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.feedFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldPoliciesJson}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetMergeStrategy}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetTblProperties}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.nifi.home}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "225f418e-392e-38c9-7e5d-01f6ee70de00",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "skipHeader",
          "value": "${metadata.options.skipHeader}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "skipHeader",
            "displayName": "skipHeader",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.options.skipHeader}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-225f418e-392e-38c9-7e5d-01f6ee70de00-skipHeader"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Initialize Feed Parameters",
      "id": "225f418e-392e-38c9-7e5d-01f6ee70de00",
      "groupName": "NiFi Flow",
      "groupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    },
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "FetchSFTP",
          "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
          "key": "Completion Strategy",
          "value": "None",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Completion Strategy",
            "displayName": "Completion Strategy",
            "description": "Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.",
            "defaultValue": "None",
            "allowableValues": [
              {
                "displayName": "None",
                "value": "None",
                "description": "Leave the file as-is"
              },
              {
                "displayName": "Move File",
                "value": "Move File",
                "description": "Move the file to the directory specified by the <Move Destination Directory> property"
              },
              {
                "displayName": "Delete File",
                "value": "Delete File",
                "description": "Deletes the original file from the remote system"
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": "None",
          "userEditable": false,
          "renderType": "select",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-FetchSFTP-Completion Strategy",
          "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Completion Strategy",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Completion Strategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "FetchSFTP",
          "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
          "key": "Hostname",
          "value": "${sftp.remote.host}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Hostname",
            "displayName": "Hostname",
            "description": "The fully-qualified hostname or IP address of the host to fetch the data from",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${sftp.remote.host}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-FetchSFTP-Hostname",
          "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Hostname",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Hostname"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "FetchSFTP",
          "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
          "key": "Password",
          "value": "{cipher}{DAF_SFTP_PASSWORD}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Password",
            "displayName": "Password",
            "description": "Password for the user account",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": true,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "******",
          "userEditable": true,
          "renderType": "password",
          "renderOptions": {
            "selectCustom": "false"
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": true,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-FetchSFTP-Password",
          "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Password",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Password"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "FetchSFTP",
          "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
          "key": "Remote File",
          "value": "${path}/${filename}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Remote File",
            "displayName": "Remote File",
            "description": "The fully qualified filename on the remote system",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${path}/${filename}",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-FetchSFTP-Remote File",
          "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Remote File",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Remote File"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "FetchSFTP",
          "processorId": "4f9915f3-1e86-3928-5bca-f440cfe22026",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.FetchSFTP",
          "key": "Username",
          "value": "${sftp.listing.user}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Username",
            "displayName": "Username",
            "description": "Username",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${sftp.listing.user}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-FetchSFTP-Username",
          "processorNameTypeKey": "FetchSFTP-org.apache.nifi.processors.standard.FetchSFTP-Username",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-4f9915f3-1e86-3928-5bca-f440cfe22026-Username"
        }
      ],
      "type": "org.apache.nifi.processors.standard.FetchSFTP",
      "name": "FetchSFTP",
      "id": "4f9915f3-1e86-3928-5bca-f440cfe22026",
      "groupName": "NiFi Flow",
      "groupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "File Filter Regex",
          "value": "{DAF_SFTP_REGEXP_FILTER}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "File Filter Regex",
            "displayName": "File Filter Regex",
            "description": "Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": ".*csv",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-File Filter Regex",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-File Filter Regex",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-File Filter Regex"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "Hostname",
          "value": "{DAF_SFTP_HOSTNAME}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Hostname",
            "displayName": "Hostname",
            "description": "The fully qualified hostname or IP address of the remote system",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-Hostname",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Hostname",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Hostname"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "Password",
          "value": "{cipher}{DAF_SFTP_PASSWORD}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Password",
            "displayName": "Password",
            "description": "Password for the user account",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": true,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "******",
          "userEditable": true,
          "renderType": "password",
          "renderOptions": {
            "selectCustom": "false"
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": true,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-Password",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Password",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Password"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "Remote Path",
          "value": "{DAF_SFTP_REMOTEPATH}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Remote Path",
            "displayName": "Remote Path",
            "description": "The path on the remote system from which to pull or push files",
            "defaultValue": ".",
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": ".",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-Remote Path",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Remote Path",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Remote Path"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "Search Recursively",
          "value": "false",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Search Recursively",
            "displayName": "Search Recursively",
            "description": "If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories",
            "defaultValue": "false",
            "allowableValues": [
              {
                "displayName": "true",
                "value": "true",
                "description": null
              },
              {
                "displayName": "false",
                "value": "false",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": "false",
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-Search Recursively",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Search Recursively",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Search Recursively"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "ListSFTP",
          "processorId": "74335935-ebe4-3977-8d57-be45e3aa7696",
          "processGroupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
          "processorType": "org.apache.nifi.processors.standard.ListSFTP",
          "key": "Username",
          "value": "{DAF_SFTP_USERNAME}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Username",
            "displayName": "Username",
            "description": "Username",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {
          },
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-ListSFTP-Username",
          "processorNameTypeKey": "ListSFTP-org.apache.nifi.processors.standard.ListSFTP-Username",
          "idKey": "d7b8b61e-0161-1000-fc0e-b9b5afc50067-74335935-ebe4-3977-8d57-be45e3aa7696-Username"
        }
      ],
      "type": "org.apache.nifi.processors.standard.ListSFTP",
      "name": "ListSFTP",
      "id": "74335935-ebe4-3977-8d57-be45e3aa7696",
      "groupName": "NiFi Flow",
      "groupId": "d7b8b61e-0161-1000-fc0e-b9b5afc50067",
      "inputProcessor": true,
      "userDefinedInputProcessor": false
    }
  ],
  "id": "0f41d617-9e57-4963-9f92-08caedfdd574",
  "nifiTemplateId": "6ec159bb-3f6e-4087-9365-994d3117c950",
  "templateName": "SFTP Ingest",
  "updateDate": 1519746200416,
  "createDate": 1519214634454,
  "icon": "loop",
  "iconColor": "#FFCA28",
  "description": null,
  "state": "ENABLED",
  "defineTable": true,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "filesystem-to-dataset-ingest",
      "reusableTemplateInputPortName": "dataset-ingest",
      "inputPortDisplayName": "dataset-ingest"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "3e1c06b5-54ca-32ea-c8fb-27bab8a888cd",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    },
    {
      "processorType": "org.apache.nifi.processors.hadoop.PutHDFS",
      "processorName": "Upload to HDFS",
      "processorId": "54bd7f08-450a-30f4-90f9-200378ea952c",
      "datasourceDefinition": {
        "processorType": "org.apache.nifi.processors.hadoop.PutHDFS",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Directory"
        ],
        "datasourceType": "HDFSDatasource",
        "identityString": "${Directory}",
        "description": null,
        "title": "${Directory}"
      }
    }
  ],
  "order": 2,
  "templateOrder": null,
  "feedsCount": 1,
  "templateTableOption": "DEFINE_TABLE",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": false,
  "isStream": false
}
