kylo/api/feedcreationwizard/1_register/response_specific.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [],
  "feedRoleMemberships": [],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "DB Avro Ingest Parameters",
      "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Delete Attributes Expression",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Delete Attributes Expression",
        "displayName": "Delete Attributes Expression",
        "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Delete Attributes Expression",
      "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Delete Attributes Expression"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "DB Avro Ingest Parameters",
      "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Store State",
      "value": "Store state locally",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Store State",
        "displayName": "Store State",
        "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
        "defaultValue": "Do not store state",
        "allowableValues": [
          {
            "displayName": "Do not store state",
            "value": "Do not store state",
            "description": null
          },
          {
            "displayName": "Store state locally",
            "value": "Store state locally",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Store State",
      "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Store State"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "DB Avro Ingest Parameters",
      "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Stateful Variables Initial Value",
      "value": "",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Stateful Variables Initial Value",
        "displayName": "Stateful Variables Initial Value",
        "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Stateful Variables Initial Value",
      "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Stateful Variables Initial Value"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "DB Avro Ingest Parameters",
      "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${db.table.avro.schema}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-DB Avro Ingest Parameters-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "DB Avro Ingest Parameters",
      "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "skipHeader",
      "value": "false",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "skipHeader",
        "displayName": "skipHeader",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-DB Avro Ingest Parameters-skipHeader",
      "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-skipHeader"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Input Directory",
      "value": "/var/dropzone",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Input Directory",
        "displayName": "Input Directory",
        "description": "The input directory from which to pull files",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Input Directory",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Input Directory"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "File Filter",
      "value": "mydata\\d{1,3}.csv",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Filter",
        "displayName": "File Filter",
        "description": "Only files whose names match the given regular expression will be picked up",
        "defaultValue": "[^\\.].*",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-File Filter",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-File Filter"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Path Filter",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Path Filter",
        "displayName": "Path Filter",
        "description": "When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Path Filter",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Path Filter",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Path Filter"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Batch Size",
      "value": "100",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Batch Size",
        "displayName": "Batch Size",
        "description": "The maximum number of files to pull in each iteration",
        "defaultValue": "10",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Batch Size",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Batch Size",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Batch Size"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Keep Source File",
      "value": "false",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Keep Source File",
        "displayName": "Keep Source File",
        "description": "If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
        "defaultValue": "false",
        "allowableValues": [
          {
            "displayName": "true",
            "value": "true",
            "description": null
          },
          {
            "displayName": "false",
            "value": "false",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Keep Source File",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Keep Source File",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Keep Source File"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Recurse Subdirectories",
      "value": "false",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Recurse Subdirectories",
        "displayName": "Recurse Subdirectories",
        "description": "Indicates whether or not to pull files from subdirectories",
        "defaultValue": "true",
        "allowableValues": [
          {
            "displayName": "true",
            "value": "true",
            "description": null
          },
          {
            "displayName": "false",
            "value": "false",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Recurse Subdirectories",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Recurse Subdirectories",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Recurse Subdirectories"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Polling Interval",
      "value": "0 sec",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Polling Interval",
        "displayName": "Polling Interval",
        "description": "Indicates how long to wait before performing a directory listing",
        "defaultValue": "0 sec",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Polling Interval",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Polling Interval",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Polling Interval"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Ignore Hidden Files",
      "value": "true",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Ignore Hidden Files",
        "displayName": "Ignore Hidden Files",
        "description": "Indicates whether or not hidden files should be ignored",
        "defaultValue": "true",
        "allowableValues": [
          {
            "displayName": "true",
            "value": "true",
            "description": null
          },
          {
            "displayName": "false",
            "value": "false",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Ignore Hidden Files",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Ignore Hidden Files",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Ignore Hidden Files"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Minimum File Age",
      "value": "0 sec",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Minimum File Age",
        "displayName": "Minimum File Age",
        "description": "The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
        "defaultValue": "0 sec",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Minimum File Age",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Age",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Minimum File Age"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Maximum File Age",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Maximum File Age",
        "displayName": "Maximum File Age",
        "description": "The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Maximum File Age",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Age",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Maximum File Age"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Minimum File Size",
      "value": "0 B",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Minimum File Size",
        "displayName": "Minimum File Size",
        "description": "The minimum size that a file must be in order to be pulled",
        "defaultValue": "0 B",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Minimum File Size",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Size",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Minimum File Size"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Maximum File Size",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Maximum File Size",
        "displayName": "Maximum File Size",
        "description": "The maximum size that a file can be in order to be pulled",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Maximum File Size",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Size",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Maximum File Size"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Detect DB Avro Ingest",
      "processorId": "510c7217-8841-374a-b0d3-dc01c11e0108",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "key": "Routing Strategy",
      "value": "Route to Property name",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Routing Strategy",
        "displayName": "Routing Strategy",
        "description": "Specifies how to determine which relationship to use when evaluating the Expression Language",
        "defaultValue": "Route to Property name",
        "allowableValues": [
          {
            "displayName": "Route to Property name",
            "value": "Route to Property name",
            "description": "A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'"
          },
          {
            "displayName": "Route to 'matched' if all match",
            "value": "Route to 'match' if all match",
            "description": "Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match"
          },
          {
            "displayName": "Route to 'matched' if any matches",
            "value": "Route to 'match' if any matches",
            "description": "Requires that at least one user-defined expression evaluate to 'true' for the FlowFile to be considered a match"
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Detect DB Avro Ingest-Routing Strategy",
      "processorNameTypeKey": "Detect DB Avro Ingest-org.apache.nifi.processors.standard.RouteOnAttribute-Routing Strategy",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-510c7217-8841-374a-b0d3-dc01c11e0108-Routing Strategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Detect DB Avro Ingest",
      "processorId": "510c7217-8841-374a-b0d3-dc01c11e0108",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "key": "table-avro",
      "value": "${db.table.output.format:equals('AVRO')}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "table-avro",
        "displayName": "table-avro",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Detect DB Avro Ingest-table-avro",
      "processorNameTypeKey": "Detect DB Avro Ingest-org.apache.nifi.processors.standard.RouteOnAttribute-table-avro",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-510c7217-8841-374a-b0d3-dc01c11e0108-table-avro"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Delete Attributes Expression",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Delete Attributes Expression",
        "displayName": "Delete Attributes Expression",
        "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-Delete Attributes Expression",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Delete Attributes Expression"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Store State",
      "value": "Store state locally",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Store State",
        "displayName": "Store State",
        "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
        "defaultValue": "Do not store state",
        "allowableValues": [
          {
            "displayName": "Do not store state",
            "value": "Do not store state",
            "description": null
          },
          {
            "displayName": "Store state locally",
            "value": "Store state locally",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-Store State",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Store State"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Stateful Variables Initial Value",
      "value": "",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Stateful Variables Initial Value",
        "displayName": "Stateful Variables Initial Value",
        "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-Stateful Variables Initial Value",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Stateful Variables Initial Value"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "archiveId",
      "value": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "archiveId",
        "displayName": "archiveId",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-archiveId",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-archiveId",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-archiveId"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.archive.root",
      "value": "${config.hdfs.archive.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.archive.root",
        "displayName": "hdfs.archive.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.archive.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.profile.root",
      "value": "${config.hive.profile.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.profile.root",
        "displayName": "hive.profile.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.profile.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "kylo.tmp.baseFolder",
      "value": "/tmp/kylo-nifi",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "kylo.tmp.baseFolder",
        "displayName": "kylo.tmp.baseFolder",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-kylo.tmp.baseFolder",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-kylo.tmp.baseFolder",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-kylo.tmp.baseFolder"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFormat",
      "value": "${metadata.table.feedFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFormat",
        "displayName": "metadata.table.feedFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldIndexString",
      "value": "${metadata.table.fieldIndexString}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldIndexString",
        "displayName": "metadata.table.fieldIndexString",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldIndexString"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionSpecs",
      "value": "${metadata.table.partitionSpecs}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionSpecs",
        "displayName": "metadata.table.partitionSpecs",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionSpecs"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionStructure",
      "value": "${metadata.table.partitionStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionStructure",
        "displayName": "metadata.table.partitionStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "skipHeader",
      "value": "${metadata.options.skipHeader}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "skipHeader",
        "displayName": "skipHeader",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-skipHeader"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "spark.input_folder",
      "value": "/tmp/kylo-nifi/spark",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "spark.input_folder",
        "displayName": "spark.input_folder",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-spark.input_folder",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.input_folder",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-spark.input_folder"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "DB Avro Ingest Parameters",
          "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Delete Attributes Expression",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Delete Attributes Expression",
          "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Delete Attributes Expression"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "DB Avro Ingest Parameters",
          "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Store State",
          "value": "Store state locally",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Store State",
            "displayName": "Store State",
            "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
            "defaultValue": "Do not store state",
            "allowableValues": [
              {
                "displayName": "Do not store state",
                "value": "Do not store state",
                "description": null
              },
              {
                "displayName": "Store state locally",
                "value": "Store state locally",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Store State",
          "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Store State"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "DB Avro Ingest Parameters",
          "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Stateful Variables Initial Value",
          "value": "",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-DB Avro Ingest Parameters-Stateful Variables Initial Value",
          "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-Stateful Variables Initial Value"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "DB Avro Ingest Parameters",
          "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${db.table.avro.schema}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-DB Avro Ingest Parameters-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "DB Avro Ingest Parameters",
          "processorId": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "skipHeader",
          "value": "false",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "skipHeader",
            "displayName": "skipHeader",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-DB Avro Ingest Parameters-skipHeader",
          "processorNameTypeKey": "DB Avro Ingest Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-a9f06f58-3e80-315a-e70a-091f9d0a5a1b-skipHeader"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "DB Avro Ingest Parameters",
      "id": "a9f06f58-3e80-315a-e70a-091f9d0a5a1b",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    },
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Delete Attributes Expression",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-Delete Attributes Expression",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Delete Attributes Expression"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Store State",
          "value": "Store state locally",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Store State",
            "displayName": "Store State",
            "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
            "defaultValue": "Do not store state",
            "allowableValues": [
              {
                "displayName": "Do not store state",
                "value": "Do not store state",
                "description": null
              },
              {
                "displayName": "Store state locally",
                "value": "Store state locally",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-Store State",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Store State"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Stateful Variables Initial Value",
          "value": "",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-Stateful Variables Initial Value",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-Stateful Variables Initial Value"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "archiveId",
          "value": "${now():format('yyyyMMddHHmmss')}_${UUID()}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "archiveId",
            "displayName": "archiveId",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-archiveId",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-archiveId",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-archiveId"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.archive.root",
          "value": "${config.hdfs.archive.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.archive.root",
            "displayName": "hdfs.archive.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.archive.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.profile.root",
          "value": "${config.hive.profile.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.profile.root",
            "displayName": "hive.profile.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.profile.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "kylo.tmp.baseFolder",
          "value": "/tmp/kylo-nifi",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "kylo.tmp.baseFolder",
            "displayName": "kylo.tmp.baseFolder",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-kylo.tmp.baseFolder",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-kylo.tmp.baseFolder",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-kylo.tmp.baseFolder"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFormat",
          "value": "${metadata.table.feedFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFormat",
            "displayName": "metadata.table.feedFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldIndexString",
          "value": "${metadata.table.fieldIndexString}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldIndexString",
            "displayName": "metadata.table.fieldIndexString",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldIndexString"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionSpecs",
          "value": "${metadata.table.partitionSpecs}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionSpecs",
            "displayName": "metadata.table.partitionSpecs",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionSpecs"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionStructure",
          "value": "${metadata.table.partitionStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionStructure",
            "displayName": "metadata.table.partitionStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "skipHeader",
          "value": "${metadata.options.skipHeader}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "skipHeader",
            "displayName": "skipHeader",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-skipHeader"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "spark.input_folder",
          "value": "/tmp/kylo-nifi/spark",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "spark.input_folder",
            "displayName": "spark.input_folder",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-spark.input_folder",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.input_folder",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-spark.input_folder"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Initialize Feed Parameters",
      "id": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    },
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Detect DB Avro Ingest",
          "processorId": "510c7217-8841-374a-b0d3-dc01c11e0108",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.RouteOnAttribute",
          "key": "Routing Strategy",
          "value": "Route to Property name",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "description": "Specifies how to determine which relationship to use when evaluating the Expression Language",
            "defaultValue": "Route to Property name",
            "allowableValues": [
              {
                "displayName": "Route to Property name",
                "value": "Route to Property name",
                "description": "A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'"
              },
              {
                "displayName": "Route to 'matched' if all match",
                "value": "Route to 'match' if all match",
                "description": "Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match"
              },
              {
                "displayName": "Route to 'matched' if any matches",
                "value": "Route to 'match' if any matches",
                "description": "Requires that at least one user-defined expression evaluate to 'true' for the FlowFile to be considered a match"
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Detect DB Avro Ingest-Routing Strategy",
          "processorNameTypeKey": "Detect DB Avro Ingest-org.apache.nifi.processors.standard.RouteOnAttribute-Routing Strategy",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-510c7217-8841-374a-b0d3-dc01c11e0108-Routing Strategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Detect DB Avro Ingest",
          "processorId": "510c7217-8841-374a-b0d3-dc01c11e0108",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.RouteOnAttribute",
          "key": "table-avro",
          "value": "${db.table.output.format:equals('AVRO')}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "table-avro",
            "displayName": "table-avro",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Detect DB Avro Ingest-table-avro",
          "processorNameTypeKey": "Detect DB Avro Ingest-org.apache.nifi.processors.standard.RouteOnAttribute-table-avro",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-510c7217-8841-374a-b0d3-dc01c11e0108-table-avro"
        }
      ],
      "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "name": "Detect DB Avro Ingest",
      "id": "510c7217-8841-374a-b0d3-dc01c11e0108",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Input Directory",
          "value": "/var/dropzone",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Input Directory",
            "displayName": "Input Directory",
            "description": "The input directory from which to pull files",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Input Directory",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Input Directory"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "File Filter",
          "value": "mydata\\d{1,3}.csv",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "File Filter",
            "displayName": "File Filter",
            "description": "Only files whose names match the given regular expression will be picked up",
            "defaultValue": "[^\\.].*",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-File Filter",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-File Filter"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Path Filter",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Path Filter",
            "displayName": "Path Filter",
            "description": "When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Path Filter",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Path Filter",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Path Filter"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Batch Size",
          "value": "100",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "description": "The maximum number of files to pull in each iteration",
            "defaultValue": "10",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Batch Size",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Batch Size",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Batch Size"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Keep Source File",
          "value": "false",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Keep Source File",
            "displayName": "Keep Source File",
            "description": "If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
            "defaultValue": "false",
            "allowableValues": [
              {
                "displayName": "true",
                "value": "true",
                "description": null
              },
              {
                "displayName": "false",
                "value": "false",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Keep Source File",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Keep Source File",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Keep Source File"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Recurse Subdirectories",
          "value": "false",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Recurse Subdirectories",
            "displayName": "Recurse Subdirectories",
            "description": "Indicates whether or not to pull files from subdirectories",
            "defaultValue": "true",
            "allowableValues": [
              {
                "displayName": "true",
                "value": "true",
                "description": null
              },
              {
                "displayName": "false",
                "value": "false",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Recurse Subdirectories",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Recurse Subdirectories",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Recurse Subdirectories"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Polling Interval",
          "value": "0 sec",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Polling Interval",
            "displayName": "Polling Interval",
            "description": "Indicates how long to wait before performing a directory listing",
            "defaultValue": "0 sec",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Polling Interval",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Polling Interval",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Polling Interval"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Ignore Hidden Files",
          "value": "true",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Ignore Hidden Files",
            "displayName": "Ignore Hidden Files",
            "description": "Indicates whether or not hidden files should be ignored",
            "defaultValue": "true",
            "allowableValues": [
              {
                "displayName": "true",
                "value": "true",
                "description": null
              },
              {
                "displayName": "false",
                "value": "false",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Ignore Hidden Files",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Ignore Hidden Files",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Ignore Hidden Files"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Minimum File Age",
          "value": "0 sec",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Minimum File Age",
            "displayName": "Minimum File Age",
            "description": "The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
            "defaultValue": "0 sec",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Minimum File Age",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Age",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Minimum File Age"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Maximum File Age",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Maximum File Age",
            "displayName": "Maximum File Age",
            "description": "The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Maximum File Age",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Age",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Maximum File Age"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Minimum File Size",
          "value": "0 B",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Minimum File Size",
            "displayName": "Minimum File Size",
            "description": "The minimum size that a file must be in order to be pulled",
            "defaultValue": "0 B",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Minimum File Size",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Size",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Minimum File Size"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Maximum File Size",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Maximum File Size",
            "displayName": "Maximum File Size",
            "description": "The maximum size that a file can be in order to be pulled",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Maximum File Size",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Size",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Maximum File Size"
        }
      ],
      "type": "org.apache.nifi.processors.standard.GetFile",
      "name": "Filesystem",
      "id": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": true,
      "userDefinedInputProcessor": false
    }
  ],
  "id": "07b7509c-4916-48fe-9dd0-4e184ddcc4ec",
  "nifiTemplateId": "d0f26cf7-3e78-4482-af2b-3022d50dc78e",
  "templateName": "Dataset Ingest",
  "updateDate": 1513257717238,
  "createDate": 1513181399486,
  "icon": "get_app",
  "iconColor": "#66BB6A",
  "description": "Dataset Ingest",
  "state": "ENABLED",
  "defineTable": true,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "to-dataset-ingest",
      "reusableTemplateInputPortName": "dataset-ingest",
      "inputPortDisplayName": "dataset-ingest"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-0000-000000000000",
      "datasourceDefinition": {
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "connectionType": "SOURCE",
        "datasourcePropertyKeys": [
          "Input Directory",
          "File Filter"
        ],
        "datasourceType": "DirectoryDatasource",
        "identityString": "${Input Directory}/${File Filter}",
        "description": " Directory or File source",
        "title": "${Input Directory}/${File Filter}"
      }
    },
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "cd9f851b-4f87-322f-79e6-a45cd4cd804d",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    }
  ],
  "order": 2,
  "templateOrder": null,
  "feedsCount": 0,
  "templateTableOption": "DEFINE_TABLE",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": false,
  "isStream": false
}