kylo/templates/dataset_transformation.template/template.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [],
  "feedRoleMemberships": [],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.category.systemName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-category",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-category",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.systemFeedName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-feed",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-feed",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hdfs.ingest.root",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hdfs.ingest.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hive.ingest.root",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hive.ingest.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.master.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hive.master.root",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hive.master.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.dataTransformation.dataTransformScript",
      "value": "${metadata.dataTransformation.dataTransformScript}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.dataTransformation.dataTransformScript",
        "displayName": "metadata.dataTransformation.dataTransformScript",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.dataTransformation.dataTransformScript}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.dataTransformScript",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.dataTransformation.dataTransformScript",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.dataTransformScript"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.dataTransformation.datasourceIds",
      "value": "${metadata.dataTransformation.datasourceIds}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.dataTransformation.datasourceIds",
        "displayName": "metadata.dataTransformation.datasourceIds",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.dataTransformation.datasourceIds}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.datasourceIds",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.dataTransformation.datasourceIds",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.datasourceIds"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.feedFieldStructure",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldIndexString",
      "value": "${metadata.table.fieldIndexString}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldIndexString",
        "displayName": "metadata.table.fieldIndexString",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldIndexString}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldIndexString",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldIndexString",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldPoliciesJson}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldPoliciesJson",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldStructure",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionSpecs",
      "value": "${metadata.table.partitionSpecs}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionSpecs",
        "displayName": "metadata.table.partitionSpecs",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionSpecs}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionSpecs",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.partitionSpecs",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionStructure",
      "value": "${metadata.table.partitionStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionStructure",
        "displayName": "metadata.table.partitionStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionStructure",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.partitionStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetFormat",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetFormat",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetMergeStrategy}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetMergeStrategy",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetTblProperties}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetTblProperties",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.nifi.home}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-nifi.home",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-nifi.home",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "spark.version",
      "value": "${config.spark.version}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "spark.version",
        "displayName": "spark.version",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.spark.version}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-spark.version",
      "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-spark.version",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.version"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.category.systemName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-category",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-category",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.systemFeedName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-feed",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-feed",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hdfs.ingest.root",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hdfs.ingest.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hive.ingest.root",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hive.ingest.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.master.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hive.master.root",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-hive.master.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.dataTransformation.dataTransformScript",
          "value": "${metadata.dataTransformation.dataTransformScript}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.dataTransformation.dataTransformScript",
            "displayName": "metadata.dataTransformation.dataTransformScript",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.dataTransformation.dataTransformScript}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.dataTransformScript",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.dataTransformation.dataTransformScript",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.dataTransformScript"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.dataTransformation.datasourceIds",
          "value": "${metadata.dataTransformation.datasourceIds}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.dataTransformation.datasourceIds",
            "displayName": "metadata.dataTransformation.datasourceIds",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.dataTransformation.datasourceIds}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.datasourceIds",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.dataTransformation.datasourceIds",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.datasourceIds"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.feedFieldStructure",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldIndexString",
          "value": "${metadata.table.fieldIndexString}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldIndexString",
            "displayName": "metadata.table.fieldIndexString",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldIndexString}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldIndexString",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldIndexString",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldPoliciesJson}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldPoliciesJson",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldStructure",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.fieldStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionSpecs",
          "value": "${metadata.table.partitionSpecs}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionSpecs",
            "displayName": "metadata.table.partitionSpecs",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionSpecs}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionSpecs",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.partitionSpecs",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionStructure",
          "value": "${metadata.table.partitionStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionStructure",
            "displayName": "metadata.table.partitionStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionStructure",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.partitionStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetFormat",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetFormat",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetMergeStrategy}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetMergeStrategy",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetTblProperties}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetTblProperties",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.nifi.home}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-nifi.home",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-nifi.home",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
          "processGroupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "spark.version",
          "value": "${config.spark.version}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "spark.version",
            "displayName": "spark.version",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.spark.version}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-spark.version",
          "idKey": "39b53eb7-3812-1f4d-7991-e6feb73c8257-bbe0ff22-3363-3d60-dbd4-3976a3dd5592-spark.version",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.version"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Update flow parameters",
      "id": "bbe0ff22-3363-3d60-dbd4-3976a3dd5592",
      "groupName": "NiFi Flow",
      "groupId": "39b53eb7-3812-1f4d-7991-e6feb73c8257",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [],
  "id": "d318502f-6c9d-4584-91a1-5586231dcdf3",
  "nifiTemplateId": "cb552baa-2fd5-40af-93bd-96e4e935b2eb",
  "templateName": "Dataset Transformation",
  "updateDate": 1517942918231,
  "createDate": 1517918789742,
  "icon": "polymer",
  "iconColor": "#AB47BC",
  "description": null,
  "state": "ENABLED",
  "defineTable": false,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "to-dataset-transformation-port",
      "reusableTemplateInputPortName": "dataset-transformation-input-port",
      "inputPortDisplayName": "dataset-transformation-input-port"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "98ca9ba3-e81a-3405-392c-e9d2f9a404c0",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    }
  ],
  "order": 2,
  "templateOrder": null,
  "feedsCount": 1,
  "templateTableOption": "DATA_TRANSFORMATION",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": true,
  "isStream": false
}