nifi/templates/dataset_transformation/dataset-transformation.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>a95459a9-0165-1000-4d8a-b3ef8d95d8a1</groupId>
    <name>dataset-transformation</name>
    <snippet>
        <connections>
            <id>8ddefe27-6cb8-327c-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>a1d7bd65-1818-386f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>9ab646a0-8ef9-3e60-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>983e061c-a38f-3cd8-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>a1d7bd65-1818-386f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9dbeff7e-e7ff-391e-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>7668955d-d40d-3e26-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Initialize</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e0bd7ee7-7042-3ad7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b0f2d98e-5be2-38e5-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>f41d0bc1-8145-314d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>c75cc265-dc4b-3a98-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b6602faa-40dc-369d-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>401f82d6-b17a-3dcc-0000-000000000000</groupId>
                <id>b03239df-3cdb-1daa-93b4-48a2313e938f</id>
                <type>REMOTE_INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>ea6a500c-5aa6-3066-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b76b94cc-b345-3132-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>c8af561b-83c9-31e3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>dc1b5423-c928-331a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b9726c17-000e-39bf-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>c75cc265-dc4b-3a98-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e0bd7ee7-7042-3ad7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ba54603e-6588-3b34-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>b9ca42f6-c5c8-340a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d65fd6b1-d7a2-3740-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>dc1b5423-c928-331a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>ddffc185-460b-3591-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e6b918ff-c92e-3187-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>6c449507-3182-3436-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e9fdca02-a46f-3856-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ea2d5912-78e2-351c-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>6bf4f473-ddf6-3dc6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>687d1dd9-2847-3608-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ed7602fb-42c4-34c5-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>b9ca42f6-c5c8-340a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>a1d7bd65-1818-386f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f73d270b-ccfe-3035-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>954eb854-93fe-30a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>6bf4f473-ddf6-3dc6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fa16086b-6eca-3e59-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e9fdca02-a46f-3856-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>f41d0bc1-8145-314d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fa1b7d9b-da68-3b04-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>cae79c95-2c56-35c0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>IndexColumns</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>c8af561b-83c9-31e3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fdba7f89-f935-3cdd-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>7668955d-d40d-3e26-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fe7313aa-4fdc-3756-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>fb3a03fb-4989-3685-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>dc1b5423-c928-331a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>01b6a849-18e8-3d77-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>nonzero status</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>43df34fe-4d74-36f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1267b904-0c7a-3845-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>6c449507-3182-3436-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>fb3a03fb-4989-3685-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2210721b-3148-3b26-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>9ab646a0-8ef9-3e60-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>43df34fe-4d74-36f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>261f61cd-4098-30da-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>687d1dd9-2847-3608-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>ce79c6e4-c981-3c8b-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2e40c7df-bd62-3485-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>ddffc185-460b-3591-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>ProfileColumns</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e9fdca02-a46f-3856-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>31fbb507-9e8c-35a6-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>be288ada-1cbb-31b9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>dc1b5423-c928-331a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3daf5fd6-5a47-3c92-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>9ab646a0-8ef9-3e60-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4c84f5f8-5c94-3ee1-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>33366403-883c-335c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>7668955d-d40d-3e26-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>54b354f1-158c-3ed2-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>1db928e2-57ca-3128-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>be288ada-1cbb-31b9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5f2629ab-5ef8-3b22-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>43df34fe-4d74-36f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>33366403-883c-335c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6f5f422f-7516-38eb-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>c6b6d669-737d-3007-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>cae79c95-2c56-35c0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6feeb855-1cfc-375f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>de744b3c-1a51-3244-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>nonzero status</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>33366403-883c-335c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7b2678e5-b1de-3ec3-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>693cc2da-5126-3085-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>b9ca42f6-c5c8-340a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7cd09e13-7237-329f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>e0bd7ee7-7042-3ad7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7997215f-6779-3a61-0000-000000000000</groupId>
                <id>954eb854-93fe-30a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>b71e5795-a3c5-3c76-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-core-service-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>client-password</key>
                    <value>
                        <name>client-password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>
                        <name>client-username</name>
                    </value>
                </entry>
                <entry>
                    <key>Spring Context Service</key>
                    <value>
                        <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService>
                        <name>Spring Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>
                        <name>Implementation</name>
                    </value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>
                        <name>rest-client-url</name>
                    </value>
                </entry>
            </descriptors>
            <name>Kylo Metadata Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>client-password</key>
                    <value></value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>client-username</key>
                    <value>dladmin</value>
                </entry>
                <entry>
                    <key>Spring Context Service</key>
                </entry>
                <entry>
                    <key>Implementation</key>
                    <value>REMOTE</value>
                </entry>
                <entry>
                    <key>rest-client-url</key>
                    <value>http://tba-kylo-ui:8400/proxy/v1/metadata</value>
                </entry>
                <entry>
                    <key>Cleanup Event Service</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
        </controllerServices>
        <controllerServices>
            <id>06568ba6-2e31-3dc0-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-jms-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>cflib</key>
                    <value>
                        <name>cflib</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>cf</key>
                    <value>
                        <name>cf</name>
                    </value>
                </entry>
                <entry>
                    <key>broker</key>
                    <value>
                        <name>broker</name>
                    </value>
                </entry>
            </descriptors>
            <name>JMSConnectionFactoryProvider</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>cflib</key>
                    <value>/usr/nifi/activemq</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>cf</key>
                    <value>org.apache.activemq.ActiveMQConnectionFactory</value>
                </entry>
                <entry>
                    <key>broker</key>
                    <value>tcp://tba-activemq:61616</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.jms.cf.JMSConnectionFactoryProvider</type>
        </controllerServices>
        <controllerServices>
            <id>34835444-caa7-35a3-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>kylo-nifi-hadoop-service-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Hadoop Configuration Resources</key>
                    <value>
                        <name>Hadoop Configuration Resources</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation Query Timeout</key>
                    <value>
                        <name>Validation Query Timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>
                        <name>Kerberos Keytab</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Jar Url</key>
                    <value>
                        <name>Database Driver Jar Url</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>
                        <name>Kerberos Principal</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation Query</key>
                    <value>
                        <name>Validation Query</name>
                    </value>
                </entry>
            </descriptors>
            <name>Hive Thrift Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Hadoop Configuration Resources</key>
                    <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                </entry>
                <entry>
                    <key>Validation Query Timeout</key>
                    <value>10 s</value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>/usr/nifi/daf.keytab</value>
                </entry>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:hive2://master.novalocal:10000/default;principal=hive/master.novalocal@DAF.GOV.IT</value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.apache.hive.jdbc.HiveDriver</value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>hive</value>
                </entry>
                <entry>
                    <key>Database Driver Jar Url</key>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>daf@DAF.GOV.IT</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Validation Query</key>
                    <value>select 1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
        </controllerServices>
        <inputPorts>
            <id>ce79c6e4-c981-3c8b-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>680.4702274923502</x>
                <y>35.796491290221184</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>dataset-transformation-input-port</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
            <id>ea6a500c-5aa6-3066-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>65.93021499287624</x>
                <y>38.62083899748859</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>transform-ingest</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
            <id>f4ae9795-e0ab-3902-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1863.7537343445465</x>
                <y>579.1144371148926</y>
            </position>
            <height>1029.5555419921875</height>
            <label>One-time registration</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#dbdbdb</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>1399.280517578125</width>
        </labels>
        <processors>
            <id>954eb854-93fe-30a2-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1184.3923078280377</x>
                <y>406.7188419555937</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.table.role</key>
                        <value>
                            <name>daf.table.role</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.type.folder</key>
                        <value>
                            <name>daf.type.folder</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.db.role</key>
                        <value>
                            <name>daf.db.role</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>daf.table.role</key>
                        <value>table_${daf.domain}__${daf.subdomain}__${feed}_role</value>
                    </entry>
                    <entry>
                        <key>daf.type.folder</key>
                        <value>${hive.master.root}/${daf.type}</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>daf.db.role</key>
                        <value>db_${daf.domain}__${daf.subdomain}_role</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Set daf.type.folder for DERIVED</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>9ab646a0-8ef9-3e60-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1917.786276700298</x>
                <y>1251.3035243896852</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Target Table Properties</key>
                        <value>
                            <name>Target Table Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Root Path</key>
                        <value>
                            <name>Feed Root Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Profile Root Path</key>
                        <value>
                            <name>Profile Root Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Field specification</key>
                        <value>
                            <name>Field specification</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Table Properties</key>
                        <value>
                            <name>Feed Table Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Table Override</key>
                        <value>
                            <name>Feed Table Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Table Type</key>
                        <value>
                            <name>Table Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Field specification</key>
                        <value>
                            <name>Feed Field specification</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Master Root Path</key>
                        <value>
                            <name>Master Root Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Table Storage Format</key>
                        <value>
                            <name>Feed Table Storage Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Partition specification</key>
                        <value>
                            <name>Partition specification</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Target Table Format</key>
                        <value>
                            <name>Target Table Format</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Target Table Properties</key>
                        <value>${metadata.table.targetTblProperties}</value>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>34835444-caa7-35a3-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>Feed Root Path</key>
                        <value>${daf.type.folder}/kylo</value>
                    </entry>
                    <entry>
                        <key>Profile Root Path</key>
                        <value>${daf.type.folder}/kylo</value>
                    </entry>
                    <entry>
                        <key>Field specification</key>
                        <value>${metadata.table.fieldStructure}</value>
                    </entry>
                    <entry>
                        <key>Feed Table Properties</key>
                        <value>${metadata.table.feedTblProperties}</value>
                    </entry>
                    <entry>
                        <key>Feed Table Override</key>
                        <value>${metadata.table.feedTableOverride}</value>
                    </entry>
                    <entry>
                        <key>Table Type</key>
                        <value>ALL</value>
                    </entry>
                    <entry>
                        <key>Feed Field specification</key>
                        <value>${metadata.table.feedFieldStructure}</value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>${daf.domain}__${daf.subdomain}</value>
                    </entry>
                    <entry>
                        <key>Master Root Path</key>
                        <value>${daf.type.folder}</value>
                    </entry>
                    <entry>
                        <key>Feed Table Storage Format</key>
                        <value>STORED AS ORC</value>
                    </entry>
                    <entry>
                        <key>Partition specification</key>
                        <value>${metadata.table.partitionStructure}</value>
                    </entry>
                    <entry>
                        <key>Target Table Format</key>
                        <value>${metadata.table.targetFormat}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Register Tables</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#da05ff</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type>
        </processors>
        <processors>
            <id>a1d7bd65-1818-386f-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1917.2394766218995</x>
                <y>1457.1924118336187</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Name</key>
                        <value>
                            <name>Feed Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hiveTableNames</key>
                        <value>
                            <name>hiveTableNames</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hiveSchema</key>
                        <value>
                            <name>hiveSchema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Namespace</key>
                        <value>
                            <name>Namespace</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Feed Category</key>
                        <value>
                            <name>Feed Category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfsFolders</key>
                        <value>
                            <name>hdfsFolders</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Feed Name</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>hiveTableNames</key>
                        <value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value>
                    </entry>
                    <entry>
                        <key>hiveSchema</key>
                        <value>${daf.domain}__${daf.subdomain}</value>
                    </entry>
                    <entry>
                        <key>Namespace</key>
                        <value>metadata</value>
                    </entry>
                    <entry>
                        <key>Feed Category</key>
                        <value>${daf.organization}</value>
                    </entry>
                    <entry>
                        <key>hdfsFolders</key>
                        <value>${daf.type.folder}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Record Metadata</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#da05ff</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type>
        </processors>
        <processors>
            <id>b9ca42f6-c5c8-340a-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>2438.554748384887</x>
                <y>1452.9368294157744</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>createTableRoleQuery</key>
                        <value>
                            <name>createTableRoleQuery</name>
                        </value>
                    </entry>
                    <entry>
                        <key>grantRoleQuery</key>
                        <value>
                            <name>grantRoleQuery</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hiveThriftServiceName</key>
                        <value>
                            <name>hiveThriftServiceName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>createTableRoleQuery</key>
                        <value>create role ${daf.table.role}</value>
                    </entry>
                    <entry>
                        <key>grantRoleQuery</key>
                        <value>GRANT SELECT ON TABLE ${daf.domain}__${daf.subdomain}.${feed} TO ROLE ${daf.table.role};
GRANT ROLE ${daf.table.role} TO GROUP ${daf.organization}</value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>hiveThriftServiceName</key>
                        <value>Hive Thrift Service</value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>import groovy.sql.Sql
import org.apache.nifi.controller.ControllerService
import org.apache.nifi.processor.ProcessSession

session = (ProcessSession) session

flowFile = session.get()
if (!flowFile) return

lookup = context.controllerServiceLookup
hiveThriftServiceName = hiveThriftServiceName.evaluateAttributeExpressions(flowFile).value
createTableRoleQueryValue = createTableRoleQuery.evaluateAttributeExpressions(flowFile).value
grantRoleQueryList = grantRoleQuery.evaluateAttributeExpressions(flowFile).value

def dbcpServiceCS = lookup.getControllerServiceIdentifiers(ControllerService).find {
    cs -&gt; lookup.getControllerServiceName(cs) == hiveThriftServiceName
}
def hiveConnection = lookup.getControllerService(dbcpServiceCS)?.getConnection()
def sql = new Sql(hiveConnection)

try {
    // this can fail
    sql.execute(createTableRoleQueryValue)
} catch (Exception ex) {
    log.info(ex.message)
}

try {
    // this should not fail
    grantRoleQueryList.split(";").each {
        sql.execute(it)
    }
} catch (Exception ex) {
    log.error(ex.message)
    flowFile = session.putAttribute(flowFile, context.getName() + " Exit code", "FAILED")
    flowFile = session.putAttribute(flowFile, context.getName() + " Exit description", ex.message)
    flowFile = session.putAttribute(flowFile, "kylo.jobExitDescription", ex.message)
    hiveConnection?.close()
    session.transfer(flowFile, REL_FAILURE)
    return -1
}

hiveConnection?.close()
session.transfer(flowFile, REL_SUCCESS)</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Create Table Role if Not Exist</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>be288ada-1cbb-31b9-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1190.748759791125</x>
                <y>2020.6696013317055</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/usr/bin/kinit</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>-k;-t;/usr/nifi/daf.keytab;daf@DAF.GOV.IT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#029e8c</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>c6b6d669-737d-3007-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>3026.36229738191</x>
                <y>1787.4930871807533</y>
            </position>
            <bundle>
                <artifact>nifi-jms-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Name</key>
                        <value>
                            <name>User Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Client ID</key>
                        <value>
                            <name>Connection Client ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination Name</key>
                        <value>
                            <name>Destination Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session Cache size</key>
                        <value>
                            <name>Session Cache size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination Type</key>
                        <value>
                            <name>Destination Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-body-type</key>
                        <value>
                            <name>message-body-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Factory Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.jms.cf.JMSConnectionFactoryProviderDefinition</identifiesControllerService>
                            <name>Connection Factory Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>User Name</key>
                    </entry>
                    <entry>
                        <key>Connection Client ID</key>
                    </entry>
                    <entry>
                        <key>Destination Name</key>
                        <value>thinkbig.nifi.index</value>
                    </entry>
                    <entry>
                        <key>Session Cache size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Destination Type</key>
                        <value>QUEUE</value>
                    </entry>
                    <entry>
                        <key>message-body-type</key>
                        <value>bytes</value>
                    </entry>
                    <entry>
                        <key>Connection Factory Service</key>
                        <value>06568ba6-2e31-3dc0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Update Index</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.jms.processors.PublishJMS</type>
        </processors>
        <processors>
            <id>c75cc265-dc4b-3a98-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1180.8210116346954</x>
                <y>883.9057049594189</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>// Get flow file
def flowFile = session.get()
if (!flowFile) return
// Create output directory
def inputFolder = flowFile.getAttribute("spark.input_folder")
def organization = flowFile.getAttribute("daf.organization")
def domain = flowFile.getAttribute("daf.domain")
def subDomain = flowFile.getAttribute("daf.subdomain")
def feed = flowFile.getAttribute("feed")
def feedts = flowFile.getAttribute("feedts")
def folder = new File(inputFolder + "/" + organization + "/" + domain + "__" + subDomain + "/" + feed + "/" + feedts)
if (!folder.exists()) folder.mkdirs()
// Write script
def script = "sqlContext.setConf(\"hive.exec.dynamic.partition\", \"true\")\n"
script = script + "sqlContext.setConf(\"hive.exec.dynamic.partition.mode\", \"nonstrict\")\n"
script = script + flowFile.getAttribute("metadata.dataTransformation.dataTransformScript")
script = script + ".withColumn(\"processing_dttm\", org.apache.spark.sql.functions.lit(\"" + feedts + "\"))"
script = script + ".write.mode(SaveMode.Overwrite)"
def isPreFeed = (flowFile.getAttribute("transform_script") != null)
def sparkVersion = flowFile.getAttribute("spark.version")
if (!isPreFeed &amp;&amp; (sparkVersion == null || sparkVersion == "1")) {
    script = script + ".partitionBy(\"processing_dttm\")"
}
script = script + ".insertInto(\"" + domain + "__" + subDomain + "." + feed + (isPreFeed ? "" : "_feed") + "\")"
def scalaFile = new File(folder, "transform.scala")
scalaFile.write(script)
// Write field policies
def json = flowFile.getAttribute("metadata.table.fieldPoliciesJson")
if (json != null) {
    def jsonFile = new File(folder, feed + "_field_policy.json")
    jsonFile.write(json)
    flowFile = session.putAttribute(flowFile, "table_field_policy_json_file", jsonFile.getCanonicalPath())
}
// Output file path
flowFile = session.putAttribute(flowFile, "transform_script_file", scalaFile.getCanonicalPath())
session.transfer(flowFile, REL_SUCCESS)
</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Prepare Script</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>c8af561b-83c9-31e3-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1809.3298987008993</x>
                <y>1793.7195287443988</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IndexColumns</key>
                        <value>
                            <name>IndexColumns</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>IndexColumns</key>
                        <value>${metadata.table.fieldIndexString:isEmpty():not()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Route If Data To Be Indexed</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>IndexColumns</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>cae79c95-2c56-35c0-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>2427.5839820784995</x>
                <y>1792.169607491201</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes List</key>
                        <value>feed,category,feedts,metadata.table.fieldIndexString,daf.domain,daf.subdomain,daf.organization</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Set Metadata for Indexing</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>dc1b5423-c928-331a-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1183.532368822608</x>
                <y>1790.480546890924</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Feed partition value</key>
                        <value>
                            <name>Feed partition value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hive Configurations</key>
                        <value>
                            <name>Hive Configurations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Source table</key>
                        <value>
                            <name>Source table</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hive Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Hive Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Field specification</key>
                        <value>
                            <name>Field specification</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Target schema</key>
                        <value>
                            <name>Target schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Source schema</key>
                        <value>
                            <name>Source schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Reset hive on connection</key>
                        <value>
                            <name>Reset hive on connection</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Target table</key>
                        <value>
                            <name>Target table</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Partition Specification</key>
                        <value>
                            <name>Partition Specification</name>
                        </value>
                    </entry>
                    <entry>
                        <key>blocking-id</key>
                        <value>
                            <name>blocking-id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Feed partition value</key>
                        <value>${feedts}</value>
                    </entry>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>${metadata.table.targetMergeStrategy}</value>
                    </entry>
                    <entry>
                        <key>Hive Configurations</key>
                    </entry>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>34835444-caa7-35a3-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Source table</key>
                        <value>${feed}_valid</value>
                    </entry>
                    <entry>
                        <key>Hive Connection Pooling Service</key>
                    </entry>
                    <entry>
                        <key>Field specification</key>
                        <value>${metadata.table.fieldStructure}</value>
                    </entry>
                    <entry>
                        <key>Target schema</key>
                        <value>${daf.domain}__${daf.subdomain}</value>
                    </entry>
                    <entry>
                        <key>Source schema</key>
                        <value>${daf.domain}__${daf.subdomain}</value>
                    </entry>
                    <entry>
                        <key>Reset hive on connection</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Target table</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>Partition Specification</key>
                        <value>${metadata.table.partitionSpecs}</value>
                    </entry>
                    <entry>
                        <key>blocking-id</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Merge Table</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type>
        </processors>
        <processors>
            <id>ddffc185-460b-3591-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1182.2069681837775</x>
                <y>1569.052385328227</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-spark-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>
                            <name>Spark YARN Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>
                            <name>SparkHome</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>
                            <name>Executor Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>
                            <name>ApplicationJAR</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                        <value>
                            <name>Data Sources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>
                            <name>MainArgs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>
                            <name>Spark Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>
                            <name>Spark Process Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>
                            <name>MainClass</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                        <value>
                            <name>Spark Configurations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>
                            <name>SparkMaster</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                        <value>
                            <name>Extra Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>
                            <name>Network Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>/opt/cloudera/parcels/CDH/lib/spark</value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>7192m</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>/usr/nifi/kylo/kylo-spark-validate-cleanse-spark-v1-0.9.1.1-SNAPSHOT-jar-with-dependencies.jar</value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>${daf.domain}__${daf.subdomain},${feed},${feedts},${table_field_policy_json_file}</value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>Validator</value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>1 hr</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>/opt/cloudera/parcels/CDH/lib/hive-hcatalog/share/hcatalog/hive-hcatalog-core.jar,/usr/nifi/drivers/mariadb-java-client-2.1.0.jar</value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>com.thinkbiganalytics.spark.datavalidator.Validator</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>/etc/security/daf.keytab</value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                        <value>spark.default.parallelism=4</value>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>daf@DAF.GOV.IT</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                        <value>/etc/hive/conf/hive-site.xml,${table_field_policy_json_file}</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2048m</value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>120s</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Validate And Split Records</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
        </processors>
        <processors>
            <id>de744b3c-1a51-3244-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>2713.3750645837526</x>
                <y>847.6511629041365</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Initialization Result</key>
                        <value>
                            <name>Initialization Result</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>System feed category</key>
                        <value>${category}</value>
                    </entry>
                    <entry>
                        <key>Initialization Result</key>
                        <value>FAILURE</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialization Failure</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20909</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
        </processors>
        <processors>
            <id>e0bd7ee7-7042-3ad7-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1178.7530603032164</x>
                <y>644.2988025312748</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Initialization Retry Delay (seconds)</key>
                        <value>
                            <name>Initialization Retry Delay (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Clone initialization flowfile</key>
                        <value>
                            <name>Clone initialization flowfile</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Flow File Count</key>
                        <value>
                            <name>Max Flow File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Initialization Attempts</key>
                        <value>
                            <name>Max Initialization Attempts</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Initialization Failure Strategy</key>
                        <value>
                            <name>Initialization Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Flow Files size</key>
                        <value>
                            <name>Max Flow Files size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>System feed category</key>
                        <value>${category}</value>
                    </entry>
                    <entry>
                        <key>Initialization Retry Delay (seconds)</key>
                        <value>15</value>
                    </entry>
                    <entry>
                        <key>Clone initialization flowfile</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Max Flow File Count</key>
                        <value>500</value>
                    </entry>
                    <entry>
                        <key>Max Initialization Attempts</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Initialization Failure Strategy</key>
                        <value>RETRY</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>Max Flow Files size</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Initialize Feed?</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Initialize</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Re-Initialize</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type>
        </processors>
        <processors>
            <id>e9fdca02-a46f-3856-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1182.485118874777</x>
                <y>1341.1119682227395</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>ProfileColumns</key>
                        <value>
                            <name>ProfileColumns</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>ProfileColumns</key>
                        <value>${table_field_policy_json_file:isEmpty():not()}</value>
                    </entry>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>ProfileColumns</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>f41d0bc1-8145-314d-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1179.500821205008</x>
                <y>1097.909838260201</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-spark-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>
                            <name>Spark YARN Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>
                            <name>SparkHome</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>
                            <name>Executor Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>
                            <name>ApplicationJAR</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                        <value>
                            <name>Data Sources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>
                            <name>MainArgs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>
                            <name>Spark Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>
                            <name>Spark Process Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>
                            <name>MainClass</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                        <value>
                            <name>Spark Configurations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>
                            <name>SparkMaster</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                        <value>
                            <name>Extra Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>
                            <name>Network Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>/opt/cloudera/parcels/CDH/lib/spark</value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>4096m</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>/usr/nifi/kylo/kylo-spark-interpreter-spark-v1-0.9.1.1-SNAPSHOT-jar-with-dependencies.jar</value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                        <value>${metadata.dataTransformation.datasourceIds}</value>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>${transform_script_file}</value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>TransformApp</value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>1 hr</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>/opt/cloudera/parcels/CDH/lib/hive-hcatalog/share/hcatalog/hive-hcatalog-core.jar</value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>com.thinkbiganalytics.spark.interpreter.App</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>/usr/nifi/daf.keytab</value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>daf@DAF.GOV.IT</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                        <value>/etc/hive/conf/hive-site.xml,${transform_script_file}</value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2048m</value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>120s</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Execute Script</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
        </processors>
        <processors>
            <id>fb3a03fb-4989-3685-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>575.4393702663137</x>
                <y>1787.9785790359488</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-spark-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>
                            <name>Spark YARN Deploy Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>
                            <name>SparkHome</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>
                            <name>Executor Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                        <value>
                            <name>Yarn Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>
                            <name>ApplicationJAR</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                        <value>
                            <name>Data Sources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>
                            <name>MainArgs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>
                            <name>Spark Application Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>
                            <name>Spark Process Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>
                            <name>Extra JARs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>
                            <name>MainClass</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>
                            <name>Executor Cores</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                        <value>
                            <name>Spark Configurations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>
                            <name>SparkMaster</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>
                            <name>Number of Executors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                        <value>
                            <name>Extra Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>
                            <name>Driver Memory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>
                            <name>Network Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Spark YARN Deploy Mode</key>
                        <value>cluster</value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>SparkHome</key>
                        <value>/opt/cloudera/parcels/CDH/lib/spark</value>
                    </entry>
                    <entry>
                        <key>Executor Memory</key>
                        <value>512m</value>
                    </entry>
                    <entry>
                        <key>Yarn Queue</key>
                    </entry>
                    <entry>
                        <key>ApplicationJAR</key>
                        <value>/usr/nifi/kylo/kylo-spark-job-profiler-spark-v1-0.9.1-jar-with-dependencies.jar</value>
                    </entry>
                    <entry>
                        <key>Data Sources</key>
                    </entry>
                    <entry>
                        <key>MainArgs</key>
                        <value>table,${daf.domain}__${daf.subdomain}.${feed}_valid,10,${daf.domain}__${daf.subdomain}.${feed}_profile,${table_field_policy_json_file},${feedts}</value>
                    </entry>
                    <entry>
                        <key>Spark Application Name</key>
                        <value>Profiler</value>
                    </entry>
                    <entry>
                        <key>Spark Process Timeout</key>
                        <value>1 hr</value>
                    </entry>
                    <entry>
                        <key>Extra JARs</key>
                        <value>/opt/cloudera/parcels/CDH/lib/hive-hcatalog/share/hcatalog/hive-hcatalog-core.jar,/usr/nifi/drivers/mariadb-java-client-2.1.0.jar</value>
                    </entry>
                    <entry>
                        <key>MainClass</key>
                        <value>com.thinkbiganalytics.spark.dataprofiler.core.Profiler</value>
                    </entry>
                    <entry>
                        <key>Executor Cores</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>/usr/nifi/daf.keytab</value>
                    </entry>
                    <entry>
                        <key>Spark Configurations</key>
                        <value>spark.default.parallelism=4</value>
                    </entry>
                    <entry>
                        <key>SparkMaster</key>
                        <value>yarn</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>daf@DAF.GOV.IT</value>
                    </entry>
                    <entry>
                        <key>Number of Executors</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Extra Files</key>
                    </entry>
                    <entry>
                        <key>Driver Memory</key>
                        <value>2048m</value>
                    </entry>
                    <entry>
                        <key>Network Timeout</key>
                        <value>120s</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Profile Data</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#0a70f5</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
        </processors>
        <processors>
            <id>1db928e2-57ca-3128-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1193.22458986925</x>
                <y>2250.467807129848</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/opt/cloudera/parcels/CDH/bin/hdfs</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>dfs;-chown;-R;${daf.organization}:${daf.organization};${daf.type.folder}/${daf.domain}__${daf.subdomain}/${feed}/*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>EVENT_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#029e8c</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>33366403-883c-335c-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1921.0393258774557</x>
                <y>834.7360813089122</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/usr/bin/kinit</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>-k;-t;/etc/security/daf.keytab;daf@DAF.GOV.IT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#029e8c</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>43df34fe-4d74-36f1-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1921.0393258774557</x>
                <y>1031.1099707008057</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/opt/cloudera/parcels/CDH/bin/hdfs</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value> </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>dfs -setfacl -R -m user:hive:rwx,user:impala:rwx,group::rwx,other::---,default:user:hive:rwx,default:user:impala:rwx,default:group::rwx,default:other::--- ${daf.type.folder}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#029e8c</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>687d1dd9-2847-3608-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1186.890613757737</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Provider Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Expiry Duration</key>
                        <value>
                            <name>Cache Expiry Duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Metadata Provider Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>System feed category</key>
                        <value>${category}</value>
                    </entry>
                    <entry>
                        <key>Cache Expiry Duration</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${feed}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>GetFeedMetadata</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.thinkbiganalytics.nifi.v2.metadata.GetFeedMetadata</type>
        </processors>
        <processors>
            <id>693cc2da-5126-3085-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>2903.162727760474</x>
                <y>1448.6691971329687</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-core-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>System feed category</key>
                        <value>
                            <name>System feed category</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Initialization Result</key>
                        <value>
                            <name>Initialization Result</name>
                        </value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>
                            <name>System feed name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>
                            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                            <name>Metadata Service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>System feed category</key>
                        <value>${category}</value>
                    </entry>
                    <entry>
                        <key>Initialization Result</key>
                        <value>SUCCESSFUL</value>
                    </entry>
                    <entry>
                        <key>System feed name</key>
                        <value>${feed}</value>
                    </entry>
                    <entry>
                        <key>Metadata Service</key>
                        <value>b71e5795-a3c5-3c76-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Record Initialization</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#da05ff</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
        </processors>
        <processors>
            <id>6bf4f473-ddf6-3dc6-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1186.401338159204</x>
                <y>207.86138933205666</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>daf.type</key>
                        <value>
                            <name>daf.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.domain</key>
                        <value>
                            <name>daf.domain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>
                            <name>hive.profile.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>
                            <name>nifi.home</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>feedts</key>
                        <value>
                            <name>feedts</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.subdomain</key>
                        <value>
                            <name>daf.subdomain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>
                            <name>hdfs.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spark.version</key>
                        <value>
                            <name>spark.version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>daf.organization</key>
                        <value>
                            <name>daf.organization</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.dataTransformation.dataTransformScript</key>
                        <value>
                            <name>metadata.dataTransformation.dataTransformScript</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>
                            <name>hive.ingest.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>
                            <name>hive.master.root</name>
                        </value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>
                            <name>metadata.table.targetMergeStrategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>daf.type</key>
                        <value>${feedJson:jsonPath('$.userProperties.daf_type')}</value>
                    </entry>
                    <entry>
                        <key>daf.domain</key>
                        <value>${feedJson:jsonPath('$.userProperties.daf_domain')}</value>
                    </entry>
                    <entry>
                        <key>hive.profile.root</key>
                        <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Store state locally</value>
                    </entry>
                    <entry>
                        <key>nifi.home</key>
                        <value>${nifi.home:replaceEmpty('/opt/nifi')}</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>feedts</key>
                        <value>${now():toNumber()}</value>
                    </entry>
                    <entry>
                        <key>daf.subdomain</key>
                        <value>${feedJson:jsonPath('$.userProperties.daf_subdomain')}</value>
                    </entry>
                    <entry>
                        <key>hdfs.ingest.root</key>
                        <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
                    </entry>
                    <entry>
                        <key>spark.version</key>
                        <value>${spark.version:replaceEmpty('1')}</value>
                    </entry>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>daf.organization</key>
                        <value>${category}</value>
                    </entry>
                    <entry>
                        <key>metadata.dataTransformation.dataTransformScript</key>
                        <value>${metadata.dataTransformation.dataTransformScript:replaceEmpty(${transform_script})}</value>
                    </entry>
                    <entry>
                        <key>hive.ingest.root</key>
                        <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
                    </entry>
                    <entry>
                        <key>hive.master.root</key>
                        <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
                    </entry>
                    <entry>
                        <key>metadata.table.targetMergeStrategy</key>
                        <value>${metadata.table.targetMergeStrategy:replaceEmpty('SYNC')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Set Feed Defaults</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>set state fail</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2bff05</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>6c449507-3182-3436-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>576.9383414086906</x>
                <y>1565.9312123422555</y>
            </position>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>def flowFile = session.get()
    if(!flowFile) return
    def inputFolder = flowFile.getAttribute("spark.input_folder")
    def feed = flowFile.getAttribute("feed")
    def category = flowFile.getAttribute("category")
    def feedts = flowFile.getAttribute("feedts")
    def folder = new File(inputFolder + "/"+category+"/"+feed+"/"+feedts)
    // If it doesn't exist
    if( folder.exists() ) {
    // Delete the folder for this feed
    folder.deleteDir()
    }
    session.transfer(flowFile, REL_SUCCESS)
</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Remove Files</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>7668955d-d40d-3e26-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>1919.8209098359248</x>
                <y>637.5588382124456</y>
            </position>
            <bundle>
                <artifact>kylo-nifi-hadoop-v1-nar</artifact>
                <group>default</group>
                <version>unversioned</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Permissions umask</key>
                        <value>0007</value>
                    </entry>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>/usr/nifi/daf.keytab</value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>${daf.organization}</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>daf@DAF.GOV.IT</value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>${daf.organization}</value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>${daf.type.folder}
${daf.type.folder}/kylo
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}/${feed}
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}/${feed}/valid
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}/${feed}/invalid
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}/${feed}/feed
${daf.type.folder}/kylo/${daf.domain}__${daf.subdomain}/${feed}/profile
${daf.type.folder}/${daf.domain}__${daf.subdomain}
${daf.type.folder}/${daf.domain}__${daf.subdomain}/${feed}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Register HDFS Folders</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#da05ff</value>
                </entry>
            </style>
            <type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type>
        </processors>
        <remoteProcessGroups>
            <id>401f82d6-b17a-3dcc-0000-000000000000</id>
            <parentGroupId>7997215f-6779-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>243.24202076624306</y>
            </position>
            <comments></comments>
            <communicationsTimeout>30 sec</communicationsTimeout>
            <contents>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>false</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>a7b8372d-2769-108e-b837-6c3e49f283e8</id>
                    <name>SviluppoPortDataset</name>
                    <targetId>f0198b87-0164-1000-ffff-ffffa13d7056</targetId>
                    <targetRunning>true</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>true</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>b03239df-3cdb-1daa-93b4-48a2313e938f</id>
                    <name>RemotePort Transfomation</name>
                    <targetId>93f75102-0164-1000-0000-00000f4a403c</targetId>
                    <targetRunning>true</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>false</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>1c65337e-7f64-1628-82bd-a7c68a190ee9</id>
                    <name>DatasetRemotePort</name>
                    <targetId>effee4b9-0164-1000-ffff-ffffca96fed6</targetId>
                    <targetRunning>true</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>false</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>8c125da8-89c7-30e0-867d-64305ad8e1ae</id>
                    <name>dataset-transformation-input-port</name>
                    <targetId>895532a2-2ab4-154f-8abc-0d0a803f37a9</targetId>
                    <targetRunning>false</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>false</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>37103352-a221-1f7a-91e9-1a890d85c6dc</id>
                    <name>Kafka Remote Port</name>
                    <targetId>dc7a254f-0164-1000-ffff-ffff9004cd10</targetId>
                    <targetRunning>true</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
                <inputPorts>
                    <batchSettings/>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>false</connected>
                    <exists>true</exists>
                    <groupId>5ce23828-3ca7-131e-b237-7831dc32fb63</groupId>
                    <id>990bfdef-bffe-3b4f-86eb-eae1165bef6c</id>
                    <name>transform-ingest</name>
                    <targetId>541f3457-3dad-12e8-a578-9d781acdfd81</targetId>
                    <targetRunning>false</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
            </contents>
            <proxyHost></proxyHost>
            <proxyUser></proxyUser>
            <targetUri>http://tba-nifi:8080/nifi</targetUri>
            <targetUris>http://tba-nifi:8080/nifi</targetUris>
            <transportProtocol>HTTP</transportProtocol>
            <yieldDuration>10 sec</yieldDuration>
        </remoteProcessGroups>
    </snippet>
    <timestamp>09/05/2018 16:19:19 GMT</timestamp>
</template>
