api/feed/create.json
{
  "id": null,
  "versionName": null,
  "templateId": "07b7509c-4916-48fe-9dd0-4e184ddcc4ec",
  "feedName": "Agency Infer Dataset",
  "description": "",
  "systemFeedName": "agency_infer_datase",
  "inputProcessorType": "org.apache.nifi.processors.standard.GetFile",
  "inputProcessorName": "Filesystem",
  "inputProcessor": {
    "properties": [
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Input Directory",
        "value": "/home/alessandro/AGRI/policy/agency_infer",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Input Directory",
          "displayName": "Input Directory",
          "description": "The input directory from which to pull files",
          "defaultValue": null,
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Input Directory",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Input Directory",
        "renderWithCodeMirror": false,
        "displayValue": "/var/dropzone",
        "formKey": "input_directoryfilesystem"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "File Filter",
        "value": "[\\S]+(\\.csv)(?!.read)",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "File Filter",
          "displayName": "File Filter",
          "description": "Only files whose names match the given regular expression will be picked up",
          "defaultValue": "[^\\.].*",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-File Filter",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-File Filter",
        "renderWithCodeMirror": false,
        "displayValue": "mydata\\d{1,3}.csv",
        "formKey": "file_filterfilesystem"
      }
    ],
    "type": "org.apache.nifi.processors.standard.GetFile",
    "name": "Filesystem",
    "id": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
    "groupName": "NiFi Flow",
    "groupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
    "inputProcessor": true,
    "userDefinedInputProcessor": false,
    "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
    "userEditable": true,
    "feedPropertiesUrl": null,
    "allProperties": [
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Input Directory",
        "value": "/home/alessandro/AGRI/policy/agency_infer",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Input Directory",
          "displayName": "Input Directory",
          "description": "The input directory from which to pull files",
          "defaultValue": null,
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Input Directory",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Input Directory",
        "renderWithCodeMirror": false,
        "displayValue": "/var/dropzone",
        "formKey": "input_directoryfilesystem"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "File Filter",
        "value": "[\\S]+(\\.csv)(?!.read)",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "File Filter",
          "displayName": "File Filter",
          "description": "Only files whose names match the given regular expression will be picked up",
          "defaultValue": "[^\\.].*",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-File Filter",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-File Filter",
        "renderWithCodeMirror": false,
        "displayValue": "mydata\\d{1,3}.csv",
        "formKey": "file_filterfilesystem"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Path Filter",
        "value": null,
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Path Filter",
          "displayName": "Path Filter",
          "description": "When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Path Filter",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Path Filter",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Path Filter",
        "renderWithCodeMirror": false,
        "displayValue": null
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Batch Size",
        "value": "100",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Batch Size",
          "displayName": "Batch Size",
          "description": "The maximum number of files to pull in each iteration",
          "defaultValue": "10",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Batch Size",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Batch Size",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Batch Size",
        "renderWithCodeMirror": false,
        "displayValue": "100"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Keep Source File",
        "value": "false",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Keep Source File",
          "displayName": "Keep Source File",
          "description": "If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
          "defaultValue": "false",
          "allowableValues": [
            {
              "displayName": "true",
              "value": "true",
              "description": null
            },
            {
              "displayName": "false",
              "value": "false",
              "description": null
            }
          ],
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Keep Source File",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Keep Source File",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Keep Source File",
        "renderWithCodeMirror": false,
        "displayValue": "false"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Recurse Subdirectories",
        "value": "false",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Recurse Subdirectories",
          "displayName": "Recurse Subdirectories",
          "description": "Indicates whether or not to pull files from subdirectories",
          "defaultValue": "true",
          "allowableValues": [
            {
              "displayName": "true",
              "value": "true",
              "description": null
            },
            {
              "displayName": "false",
              "value": "false",
              "description": null
            }
          ],
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Recurse Subdirectories",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Recurse Subdirectories",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Recurse Subdirectories",
        "renderWithCodeMirror": false,
        "displayValue": "false"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Polling Interval",
        "value": "0 sec",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Polling Interval",
          "displayName": "Polling Interval",
          "description": "Indicates how long to wait before performing a directory listing",
          "defaultValue": "0 sec",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Polling Interval",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Polling Interval",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Polling Interval",
        "renderWithCodeMirror": false,
        "displayValue": "0 sec"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Ignore Hidden Files",
        "value": "true",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Ignore Hidden Files",
          "displayName": "Ignore Hidden Files",
          "description": "Indicates whether or not hidden files should be ignored",
          "defaultValue": "true",
          "allowableValues": [
            {
              "displayName": "true",
              "value": "true",
              "description": null
            },
            {
              "displayName": "false",
              "value": "false",
              "description": null
            }
          ],
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Ignore Hidden Files",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Ignore Hidden Files",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Ignore Hidden Files",
        "renderWithCodeMirror": false,
        "displayValue": "true"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Minimum File Age",
        "value": "0 sec",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Minimum File Age",
          "displayName": "Minimum File Age",
          "description": "The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
          "defaultValue": "0 sec",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Minimum File Age",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Age",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Minimum File Age",
        "renderWithCodeMirror": false,
        "displayValue": "0 sec"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Maximum File Age",
        "value": null,
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Maximum File Age",
          "displayName": "Maximum File Age",
          "description": "The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Maximum File Age",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Age",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Maximum File Age",
        "renderWithCodeMirror": false,
        "displayValue": null
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Minimum File Size",
        "value": "0 B",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Minimum File Size",
          "displayName": "Minimum File Size",
          "description": "The minimum size that a file must be in order to be pulled",
          "defaultValue": "0 B",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Minimum File Size",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Size",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Minimum File Size",
        "renderWithCodeMirror": false,
        "displayValue": "0 B"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
        "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Maximum File Size",
        "value": null,
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Maximum File Size",
          "displayName": "Maximum File Size",
          "description": "The maximum size that a file can be in order to be pulled",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": null,
        "userEditable": false,
        "renderType": null,
        "renderOptions": null,
        "selected": false,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Maximum File Size",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Size",
        "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Maximum File Size",
        "renderWithCodeMirror": false,
        "displayValue": null
      }
    ],
    "sortIndex": 0
  },
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Source Database Connection",
          "value": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Source Database Connection",
            "displayName": "Source Database Connection",
            "description": "The database where the source table resides",
            "defaultValue": null,
            "allowableValues": [
              {
                "displayName": "Kylo MySQL",
                "value": "11c6b9b9-0160-1000-57d9-00deefc9b0e9"
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Source Database Connection",
          "renderWithCodeMirror": false,
          "displayValue": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
          "isLoading": false,
          "formKey": "source_database_connectionfetch_rdbms_data"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Load Strategy",
          "value": "FULL_LOAD",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Load Strategy",
            "displayName": "Load Strategy",
            "description": "Whether to load the entire table or perform an incremental extract",
            "defaultValue": "FULL_LOAD",
            "allowableValues": [
              {
                "displayName": "FULL_LOAD",
                "value": "FULL_LOAD",
                "description": null
              },
              {
                "displayName": "INCREMENTAL",
                "value": "INCREMENTAL",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Load Strategy",
          "renderWithCodeMirror": false,
          "displayValue": "FULL_LOAD"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Date Field",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Date Field",
            "displayName": "Date Field",
            "description": "Source field containing a modified date for tracking incremental load",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Date Field",
          "renderWithCodeMirror": false,
          "displayValue": null
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Output Type",
          "value": "DELIMITED",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Output Type",
            "displayName": "Output Type",
            "description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
            "defaultValue": "DELIMITED",
            "allowableValues": [
              {
                "displayName": "DELIMITED",
                "value": "DELIMITED",
                "description": null
              },
              {
                "displayName": "AVRO",
                "value": "AVRO",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Output Type",
          "renderWithCodeMirror": false,
          "displayValue": "DELIMITED",
          "formKey": "output_typefetch_rdbms_data"
        }
      ],
      "type": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
      "name": "Fetch RDBMS Data",
      "id": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "groupName": "NiFi Flow",
      "groupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "inputProcessor": false,
      "userDefinedInputProcessor": false,
      "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "userEditable": false,
      "feedPropertiesUrl": "js/plugin/processor-templates/GetTableData/get-table-data-create.html",
      "allProperties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Source Database Connection",
          "value": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Source Database Connection",
            "displayName": "Source Database Connection",
            "description": "The database where the source table resides",
            "defaultValue": null,
            "allowableValues": [
              {
                "displayName": "Kylo MySQL",
                "value": "11c6b9b9-0160-1000-57d9-00deefc9b0e9"
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Source Database Connection",
          "renderWithCodeMirror": false,
          "displayValue": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
          "isLoading": false,
          "formKey": "source_database_connectionfetch_rdbms_data"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Metadata Service",
          "value": "63175850-64cc-3631-cb19-259cbd9ee3ae",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Metadata Service",
            "displayName": "Metadata Service",
            "description": "Think Big metadata service",
            "defaultValue": null,
            "allowableValues": [
              {
                "displayName": "Kylo Metadata Service",
                "value": "11c66718-0160-1000-01d4-2a48e6dae788",
                "description": null
              },
              {
                "displayName": "Kylo Metadata Service",
                "value": "63175850-64cc-3631-cb19-259cbd9ee3ae",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": "com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService"
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Metadata Service",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Metadata Service",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Metadata Service",
          "renderWithCodeMirror": false,
          "displayValue": "63175850-64cc-3631-cb19-259cbd9ee3ae"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "System feed category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "System feed category",
            "displayName": "System feed category",
            "description": "System category of the feed this processor supports",
            "defaultValue": "${metadata.category.systemName}",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed category",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-System feed category",
          "renderWithCodeMirror": false,
          "displayValue": "${metadata.category.systemName}"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "System feed name",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "System feed name",
            "displayName": "System feed name",
            "description": "Name of feed this processor supports",
            "defaultValue": "${metadata.systemFeedName}",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed name",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-System feed name",
          "renderWithCodeMirror": false,
          "displayValue": "${metadata.systemFeedName}"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Source Table",
          "value": "${metadata.table.sourceTableSchema.name}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Source Table",
            "displayName": "Source Table",
            "description": "Name of table including schema (if applicable)",
            "defaultValue": "${metadata.table.sourceTableSchema.name}",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Table",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Source Table",
          "renderWithCodeMirror": false,
          "displayValue": "${metadata.table.sourceTableSchema.name}"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Source Fields",
          "value": "${metadata.table.sourceFields}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Source Fields",
            "displayName": "Source Fields",
            "description": "Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.",
            "defaultValue": "${metadata.table.sourceFields}",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Fields",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Source Fields",
          "renderWithCodeMirror": false,
          "displayValue": "${metadata.table.sourceFields}"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Load Strategy",
          "value": "FULL_LOAD",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Load Strategy",
            "displayName": "Load Strategy",
            "description": "Whether to load the entire table or perform an incremental extract",
            "defaultValue": "FULL_LOAD",
            "allowableValues": [
              {
                "displayName": "FULL_LOAD",
                "value": "FULL_LOAD",
                "description": null
              },
              {
                "displayName": "INCREMENTAL",
                "value": "INCREMENTAL",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Load Strategy",
          "renderWithCodeMirror": false,
          "displayValue": "FULL_LOAD"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "High-Water Mark Property Name",
          "value": "water.mark",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "High-Water Mark Property Name",
            "displayName": "High-Water Mark Property Name",
            "description": "Name of the flow file attribute that should contain the current hig-water mark date, and which this processor will update with new values.  Required if the load strategy is set to INCREMENTAL.",
            "defaultValue": "high.water.date",
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-High-Water Mark Property Name",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-High-Water Mark Property Name",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-High-Water Mark Property Name",
          "renderWithCodeMirror": false,
          "displayValue": "water.mark"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Date Field",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Date Field",
            "displayName": "Date Field",
            "description": "Source field containing a modified date for tracking incremental load",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Date Field",
          "renderWithCodeMirror": false,
          "displayValue": null
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Overlap Period",
          "value": "300 seconds",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Overlap Period",
            "displayName": "Overlap Period",
            "description": "Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: >0s",
            "defaultValue": "0 seconds",
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Overlap Period",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Overlap Period",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Overlap Period",
          "renderWithCodeMirror": false,
          "displayValue": "300 seconds"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Max Wait Time",
          "value": "0 seconds",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "description": "The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.",
            "defaultValue": "0 seconds",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Max Wait Time",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Max Wait Time",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Max Wait Time",
          "renderWithCodeMirror": false,
          "displayValue": "0 seconds"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Backoff Period",
          "value": "300 seconds",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Backoff Period",
            "displayName": "Backoff Period",
            "description": "Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: >5m",
            "defaultValue": "300 seconds",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Backoff Period",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Backoff Period",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Backoff Period",
          "renderWithCodeMirror": false,
          "displayValue": "300 seconds"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Minimum Time Unit",
          "value": "NONE",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Minimum Time Unit",
            "displayName": "Minimum Time Unit",
            "description": "The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.",
            "defaultValue": "NONE",
            "allowableValues": [
              {
                "displayName": "NONE",
                "value": "NONE",
                "description": null
              },
              {
                "displayName": "HOUR",
                "value": "HOUR",
                "description": null
              },
              {
                "displayName": "DAY",
                "value": "DAY",
                "description": null
              },
              {
                "displayName": "WEEK",
                "value": "WEEK",
                "description": null
              },
              {
                "displayName": "MONTH",
                "value": "MONTH",
                "description": null
              },
              {
                "displayName": "YEAR",
                "value": "YEAR",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Minimum Time Unit",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Minimum Time Unit",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Minimum Time Unit",
          "renderWithCodeMirror": false,
          "displayValue": "NONE"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Output Type",
          "value": "DELIMITED",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Output Type",
            "displayName": "Output Type",
            "description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
            "defaultValue": "DELIMITED",
            "allowableValues": [
              {
                "displayName": "DELIMITED",
                "value": "DELIMITED",
                "description": null
              },
              {
                "displayName": "AVRO",
                "value": "AVRO",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": true,
          "renderType": "select",
          "renderOptions": {},
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Output Type",
          "renderWithCodeMirror": false,
          "displayValue": "DELIMITED",
          "formKey": "output_typefetch_rdbms_data"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Fetch RDBMS Data",
          "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
          "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
          "key": "Output Delimiter",
          "value": ",",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Output Delimiter",
            "displayName": "Output Delimiter",
            "description": "Used only if the Output Type is 'Delimited'.  If this is empty and the Output Type is delimited it will default to a ','.  This property is not used if the Output Type is AVRO.",
            "defaultValue": ",",
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Fetch RDBMS Data-Output Delimiter",
          "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Delimiter",
          "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Output Delimiter",
          "renderWithCodeMirror": false,
          "displayValue": ","
        }
      ],
      "sortIndex": 0
    }
  ],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Input Directory",
      "value": "/home/alessandro/AGRI/policy/agency_infer",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Input Directory",
        "displayName": "Input Directory",
        "description": "The input directory from which to pull files",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Input Directory",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-Input Directory",
      "renderWithCodeMirror": false,
      "displayValue": "/var/dropzone",
      "formKey": "input_directoryfilesystem"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "62ccdf4f-f87e-3e57-df69-dc13b5f88cac",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "File Filter",
      "value": "[\\S]+(\\.csv)(?!.read)",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Filter",
        "displayName": "File Filter",
        "description": "Only files whose names match the given regular expression will be picked up",
        "defaultValue": "[^\\.].*",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-File Filter",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-62ccdf4f-f87e-3e57-df69-dc13b5f88cac-File Filter",
      "renderWithCodeMirror": false,
      "displayValue": "mydata\\d{1,3}.csv",
      "formKey": "file_filterfilesystem"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Fetch RDBMS Data",
      "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
      "key": "Source Database Connection",
      "value": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Source Database Connection",
        "displayName": "Source Database Connection",
        "description": "The database where the source table resides",
        "defaultValue": null,
        "allowableValues": [
          {
            "displayName": "Kylo MySQL",
            "value": "11c6b9b9-0160-1000-57d9-00deefc9b0e9"
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "select",
      "renderOptions": {},
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
      "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Source Database Connection",
      "renderWithCodeMirror": false,
      "displayValue": "ea0bd0a6-8a7e-3a08-298b-9a4cb432bc18",
      "isLoading": false,
      "formKey": "source_database_connectionfetch_rdbms_data"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Fetch RDBMS Data",
      "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
      "key": "Load Strategy",
      "value": "FULL_LOAD",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Load Strategy",
        "displayName": "Load Strategy",
        "description": "Whether to load the entire table or perform an incremental extract",
        "defaultValue": "FULL_LOAD",
        "allowableValues": [
          {
            "displayName": "FULL_LOAD",
            "value": "FULL_LOAD",
            "description": null
          },
          {
            "displayName": "INCREMENTAL",
            "value": "INCREMENTAL",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "select",
      "renderOptions": {},
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
      "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Load Strategy",
      "renderWithCodeMirror": false,
      "displayValue": "FULL_LOAD"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Fetch RDBMS Data",
      "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
      "key": "Date Field",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Date Field",
        "displayName": "Date Field",
        "description": "Source field containing a modified date for tracking incremental load",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
      "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Date Field",
      "renderWithCodeMirror": false,
      "displayValue": null
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Fetch RDBMS Data",
      "processorId": "4c62f185-410d-34af-ce0c-4956990fd8d2",
      "processGroupId": "50968e6c-0160-1000-8c49-7db642e86a5f",
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
      "key": "Output Type",
      "value": "DELIMITED",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Output Type",
        "displayName": "Output Type",
        "description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
        "defaultValue": "DELIMITED",
        "allowableValues": [
          {
            "displayName": "DELIMITED",
            "value": "DELIMITED",
            "description": null
          },
          {
            "displayName": "AVRO",
            "value": "AVRO",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "select",
      "renderOptions": {},
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
      "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
      "idKey": "50968e6c-0160-1000-8c49-7db642e86a5f-4c62f185-410d-34af-ce0c-4956990fd8d2-Output Type",
      "renderWithCodeMirror": false,
      "displayValue": "DELIMITED",
      "formKey": "output_typefetch_rdbms_data"
    }
  ],
  "securityGroups": [],
  "schedule": {
    "schedulingPeriod": "5 sec",
    "schedulingStrategy": "TIMER_DRIVEN",
    "concurrentTasks": 1,
    "schedulingStrategyTouched": true
  },
  "defineTable": true,
  "allowPreconditions": false,
  "dataTransformationFeed": false,
  "table": {
    "tableSchema": {
      "name": "agency_infer_datase",
      "fields": [
        {
          "name": "agency_id",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "GTT",
            "GTT_E",
            "GTT_F",
            "GTT_T",
            "FS"
          ],
          "selectedSampleValue": "GTT",
          "tags": null,
          "_id": "1",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_id",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_id",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_name",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Gruppo Torinese Trasporti",
            "GTT servizio extraurbano",
            "Gruppo Torinese Trasporti",
            "GTT Servizi Turistici",
            "Trenitalia"
          ],
          "selectedSampleValue": "Gruppo Torinese Trasporti",
          "tags": null,
          "_id": "3",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_name",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_name",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_url",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.trenitalia.com"
          ],
          "selectedSampleValue": "http://www.gtt.to.it",
          "tags": null,
          "_id": "5",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_url",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_url",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_timezone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome"
          ],
          "selectedSampleValue": "Europe/Rome",
          "tags": null,
          "_id": "7",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_timezone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_timezone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_lang",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "it",
            "it",
            "it",
            "it",
            "it"
          ],
          "selectedSampleValue": "it",
          "tags": null,
          "_id": "9",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_lang",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_lang",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_phone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "800-019152",
            "800-019152",
            "800-019152",
            "800-019152",
            "199-892021"
          ],
          "selectedSampleValue": "800-019152",
          "tags": null,
          "_id": "11",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_phone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_phone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "num",
          "description": "",
          "derivedDataType": "int",
          "precisionScale": null,
          "dataTypeDisplay": "int",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "21",
            "43",
            "0",
            "121",
            "2"
          ],
          "selectedSampleValue": "21",
          "tags": null,
          "_id": "13",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "int",
          "descriptionWithoutNewLines": "",
          "origName": "num",
          "origDataType": "int",
          "deleted": false,
          "history": [
            {
              "name": "num",
              "derivedDataType": "int",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        }
      ]
    },
    "sourceTableSchema": {
      "name": null,
      "tableSchema": null,
      "fields": [
        {
          "name": "agency_id",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "GTT",
            "GTT_E",
            "GTT_F",
            "GTT_T",
            "FS"
          ],
          "selectedSampleValue": "GTT",
          "tags": null,
          "_id": "1",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_id",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_id",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_name",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Gruppo Torinese Trasporti",
            "GTT servizio extraurbano",
            "Gruppo Torinese Trasporti",
            "GTT Servizi Turistici",
            "Trenitalia"
          ],
          "selectedSampleValue": "Gruppo Torinese Trasporti",
          "tags": null,
          "_id": "3",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_name",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_name",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_url",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.trenitalia.com"
          ],
          "selectedSampleValue": "http://www.gtt.to.it",
          "tags": null,
          "_id": "5",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_url",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_url",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_timezone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome"
          ],
          "selectedSampleValue": "Europe/Rome",
          "tags": null,
          "_id": "7",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_timezone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_timezone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_lang",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "it",
            "it",
            "it",
            "it",
            "it"
          ],
          "selectedSampleValue": "it",
          "tags": null,
          "_id": "9",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_lang",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_lang",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_phone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "800-019152",
            "800-019152",
            "800-019152",
            "800-019152",
            "199-892021"
          ],
          "selectedSampleValue": "800-019152",
          "tags": null,
          "_id": "11",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_phone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_phone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "num",
          "description": "",
          "derivedDataType": "int",
          "precisionScale": null,
          "dataTypeDisplay": "int",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "21",
            "43",
            "0",
            "121",
            "2"
          ],
          "selectedSampleValue": "21",
          "tags": null,
          "_id": "13",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "int",
          "descriptionWithoutNewLines": "",
          "origName": "num",
          "origDataType": "int",
          "deleted": false,
          "history": [
            {
              "name": "num",
              "derivedDataType": "int",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        }
      ]
    },
    "feedTableSchema": {
      "name": null,
      "fields": [
        {
          "name": "agency_id",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "GTT",
            "GTT_E",
            "GTT_F",
            "GTT_T",
            "FS"
          ],
          "selectedSampleValue": "GTT",
          "tags": null,
          "_id": "1",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_id",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_id",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_name",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Gruppo Torinese Trasporti",
            "GTT servizio extraurbano",
            "Gruppo Torinese Trasporti",
            "GTT Servizi Turistici",
            "Trenitalia"
          ],
          "selectedSampleValue": "Gruppo Torinese Trasporti",
          "tags": null,
          "_id": "3",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_name",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_name",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_url",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.trenitalia.com"
          ],
          "selectedSampleValue": "http://www.gtt.to.it",
          "tags": null,
          "_id": "5",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_url",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_url",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_timezone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome"
          ],
          "selectedSampleValue": "Europe/Rome",
          "tags": null,
          "_id": "7",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_timezone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_timezone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_lang",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "it",
            "it",
            "it",
            "it",
            "it"
          ],
          "selectedSampleValue": "it",
          "tags": null,
          "_id": "9",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_lang",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_lang",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "agency_phone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "800-019152",
            "800-019152",
            "800-019152",
            "800-019152",
            "199-892021"
          ],
          "selectedSampleValue": "800-019152",
          "tags": null,
          "_id": "11",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_phone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_phone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        {
          "name": "num",
          "description": "",
          "derivedDataType": "int",
          "precisionScale": null,
          "dataTypeDisplay": "int",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "21",
            "43",
            "0",
            "121",
            "2"
          ],
          "selectedSampleValue": "21",
          "tags": null,
          "_id": "13",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "int",
          "descriptionWithoutNewLines": "",
          "origName": "num",
          "origDataType": "int",
          "deleted": false,
          "history": [
            {
              "name": "num",
              "derivedDataType": "int",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        }
      ]
    },
    "method": "SAMPLE_FILE",
    "existingTableName": null,
    "structured": false,
    "targetMergeStrategy": "DEDUPE_AND_MERGE",
    "feedFormat": "ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'\n WITH SERDEPROPERTIES ( 'separatorChar' = ',' ,'escapeChar' = '\\\\' ,'quoteChar' = '\\\"') STORED AS TEXTFILE",
    "targetFormat": "STORED AS PARQUET",
    "fieldPolicies": [
      {
        "name": "agency_id",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_id",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "GTT",
            "GTT_E",
            "GTT_F",
            "GTT_T",
            "FS"
          ],
          "selectedSampleValue": "GTT",
          "tags": null,
          "_id": "1",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_id",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_id",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_id"
      },
      {
        "name": "agency_name",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_name",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Gruppo Torinese Trasporti",
            "GTT servizio extraurbano",
            "Gruppo Torinese Trasporti",
            "GTT Servizi Turistici",
            "Trenitalia"
          ],
          "selectedSampleValue": "Gruppo Torinese Trasporti",
          "tags": null,
          "_id": "3",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_name",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_name",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_name"
      },
      {
        "name": "agency_url",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_url",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.gtt.to.it",
            "http://www.trenitalia.com"
          ],
          "selectedSampleValue": "http://www.gtt.to.it",
          "tags": null,
          "_id": "5",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_url",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_url",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_url"
      },
      {
        "name": "agency_timezone",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_timezone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome",
            "Europe/Rome"
          ],
          "selectedSampleValue": "Europe/Rome",
          "tags": null,
          "_id": "7",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_timezone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_timezone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_timezone"
      },
      {
        "name": "agency_lang",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_lang",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "it",
            "it",
            "it",
            "it",
            "it"
          ],
          "selectedSampleValue": "it",
          "tags": null,
          "_id": "9",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_lang",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_lang",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_lang"
      },
      {
        "name": "agency_phone",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "agency_phone",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "800-019152",
            "800-019152",
            "800-019152",
            "800-019152",
            "199-892021"
          ],
          "selectedSampleValue": "800-019152",
          "tags": null,
          "_id": "11",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_phone",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_phone",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "agency_phone"
      },
      {
        "name": "num",
        "partition": null,
        "profile": false,
        "standardization": null,
        "validation": null,
        "field": {
          "name": "num",
          "description": "",
          "derivedDataType": "int",
          "precisionScale": null,
          "dataTypeDisplay": "int",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "21",
            "43",
            "0",
            "121",
            "2"
          ],
          "selectedSampleValue": "21",
          "tags": null,
          "_id": "13",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "int",
          "descriptionWithoutNewLines": "",
          "origName": "num",
          "origDataType": "int",
          "deleted": false,
          "history": [
            {
              "name": "num",
              "derivedDataType": "int",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        },
        "feedFieldName": "num"
      }
    ],
    "partitions": [
      {
        "position": 0,
        "field": "agency_id",
        "sourceField": "agency_id",
        "formula": "val",
        "sourceDataType": "string",
        "_id": "15",
        "columnDef": {
          "name": "agency_id",
          "description": "",
          "derivedDataType": "string",
          "precisionScale": null,
          "dataTypeDisplay": "string",
          "primaryKey": false,
          "nullable": true,
          "createdTracker": false,
          "updatedTracker": false,
          "sampleValues": [
            "GTT",
            "GTT_E",
            "GTT_F",
            "GTT_T",
            "FS"
          ],
          "selectedSampleValue": "GTT",
          "tags": null,
          "_id": "1",
          "nativeDataType": null,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "dataTypeWithPrecisionAndScale": "string",
          "descriptionWithoutNewLines": "",
          "origName": "agency_id",
          "origDataType": "string",
          "deleted": false,
          "history": [
            {
              "name": "agency_id",
              "derivedDataType": "string",
              "precisionScale": null,
              "deleted": false,
              "primaryKey": false,
              "updatedTracker": false,
              "createdTracker": false
            }
          ]
        }
      }
    ],
    "options": {
      "compress": false,
      "compressionFormat": "SNAPPY",
      "auditLogging": true,
      "encrypt": false,
      "trackHistory": false
    },
    "sourceTableIncrementalDateField": null,
    "tableType": "SNAPSHOT"
  },
  "category": {
    "id": "34c5bc6c-4acc-4651-b3a9-29cf873497da",
    "name": "testnew",
    "systemName": "testnew"
  },
  "dataOwner": "",
  "tags": [],
  "reusableFeed": false,
  "dataTransformation": {
    "chartViewModel": null,
    "datasourceIds": null,
    "datasources": null,
    "dataTransformScript": null,
    "sql": null,
    "states": []
  },
  "userProperties": [],
  "options": {
    "skipHeader": true
  },
  "active": true,
  "roleMemberships": [],
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin",
    "name": "Data Lake Administrator",
    "title": "Data Lake Administrator",
    "type": "user",
    "_lowername": "data lake administrator",
    "_lowerSystemName": "dladmin",
    "_lowerDisplayName": "data lake administrator"
  },
  "roleMembershipsUpdated": false,
  "tableOption": {},
  "cloned": false,
  "usedByFeeds": [],
  "totalSteps": 7,
  "feedDescriptor": "",
  "templateName": "Dataset Ingest",
  "templateTableOption": "DEFINE_TABLE",
  "allowSkipHeaderOption": true
}