kylo/feeds/cdc_o_apm.feed/feed.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessFeed",
        "actions": [
          {
            "systemName": "editFeedSummary"
          },
          {
            "systemName": "accessFeedDetails",
            "actions": [
              {
                "systemName": "editFeedDetails"
              },
              {
                "systemName": "deleteFeed"
              },
              {
                "systemName": "enableFeed"
              },
              {
                "systemName": "exportFeed"
              }
            ]
          },
          {
            "systemName": "accessFeedOperations"
          },
          {
            "systemName": "changeFeedPermissions"
          }
        ]
      }
    ]
  },
  "id": "ea6d1dc9-d2c1-4d3a-955b-186abd2456c7",
  "feedId": "ea6d1dc9-d2c1-4d3a-955b-186abd2456c7",
  "templateId": "07b7509c-4916-48fe-9dd0-4e184ddcc4ec",
  "inputProcessorType": "org.apache.nifi.processors.standard.GetFile",
  "inputProcessorName": "Filesystem",
  "templateName": "Dataset Ingest",
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
      "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Input Directory",
      "value": "/home/pac_cdc/tecnologia/monitoraggio/apm",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Input Directory",
        "displayName": "Input Directory",
        "description": "The input directory from which to pull files",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Input Directory",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
      "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-Input Directory"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
      "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "File Filter",
      "value": ".*csv",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Filter",
        "displayName": "File Filter",
        "description": "Only files whose names match the given regular expression will be picked up",
        "defaultValue": "[^\\.].*",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": true,
      "renderType": "text",
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-File Filter",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
      "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-File Filter"
    }
  ],
  "schedule": {
    "processorId": null,
    "schedulingPeriod": "10 sec",
    "schedulingStrategy": "TIMER_DRIVEN",
    "concurrentTasks": 1,
    "executionNode": null,
    "preconditions": null
  },
  "feedName": "cdc_o_apm",
  "systemFeedName": "cdc_o_apm",
  "description": "cdc_o_apm",
  "category": {
    "owner": null,
    "allowedActions": null,
    "roleMemberships": [],
    "feedRoleMemberships": [],
    "id": "f8209368-54dc-4ba2-874a-900ac4ec5978",
    "name": "pac_cdc",
    "systemName": "pac_cdc",
    "icon": null,
    "iconColor": null,
    "description": "pac_cdc",
    "securityGroups": null,
    "userFields": null,
    "userProperties": null,
    "relatedFeeds": 0,
    "createDate": 1513868513661,
    "updateDate": 1513875283154
  },
  "table": {
    "fieldStructure": "Time|string||0|0|0|Time\nApplication|string||0|0|0|Application\nTransaction|string||0|0|0|Transaction\nClient_IP_address|string||0|0|0|Client_IP_address\nOperations|double||0|0|0|Operations\nOperation_time_ms|string||0|0|0|Operation_time_ms\nFailures_total|double||0|0|0|Failures_total\nempty_column|string||0|0|0|empty_column",
    "existingTableName": null,
    "tableSchema": {
      "name": "cdc_o_apm",
      "description": null,
      "charset": null,
      "properties": {},
      "fields": [
        {
          "sampleValues": [
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00"
          ],
          "name": "Time",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC"
          ],
          "name": "Application",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS"
          ],
          "name": "Transaction",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.146.13.130",
            "10.146.32.48",
            "10.146.87.18",
            "10.146.131.213",
            "10.146.151.69",
            "10.146.154.24",
            "10.146.159.138",
            "10.146.204.22",
            "10.146.225.44"
          ],
          "name": "Client_IP_address",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "0.0",
            "0.0",
            "34.0",
            "61.0",
            "58.0",
            "66.0",
            "9.0",
            "2.0",
            "8.0"
          ],
          "name": "Operations",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "-",
            "-",
            "2.7617647647857666",
            "5.695082187652588",
            "3.572413682937622",
            "9.978787422180176",
            "1.100000023841858",
            "44.099998474121094",
            "4.3125"
          ],
          "name": "Operation_time_ms",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.0",
            "37.0",
            "5.0",
            "42.0",
            "30.0",
            "37.0",
            "9.0",
            "1.0",
            "10.0"
          ],
          "name": "Failures_total",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "name": "empty_column",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        }
      ],
      "schemaName": null,
      "databaseName": null,
      "id": "05e055fe-61ca-41bc-a35a-432bec88758e"
    },
    "sourceTableSchema": {
      "name": "NA",
      "description": null,
      "charset": null,
      "properties": {},
      "fields": [
        {
          "sampleValues": [
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00"
          ],
          "name": "Time",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC"
          ],
          "name": "Application",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS"
          ],
          "name": "Transaction",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.146.13.130",
            "10.146.32.48",
            "10.146.87.18",
            "10.146.131.213",
            "10.146.151.69",
            "10.146.154.24",
            "10.146.159.138",
            "10.146.204.22",
            "10.146.225.44"
          ],
          "name": "Client_IP_address",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "0.0",
            "0.0",
            "34.0",
            "61.0",
            "58.0",
            "66.0",
            "9.0",
            "2.0",
            "8.0"
          ],
          "name": "Operations",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "-",
            "-",
            "2.7617647647857666",
            "5.695082187652588",
            "3.572413682937622",
            "9.978787422180176",
            "1.100000023841858",
            "44.099998474121094",
            "4.3125"
          ],
          "name": "Operation_time_(ms)",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.0",
            "37.0",
            "5.0",
            "42.0",
            "30.0",
            "37.0",
            "9.0",
            "1.0",
            "10.0"
          ],
          "name": "Failures_(total)",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "name": "",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        }
      ],
      "schemaName": null,
      "databaseName": null,
      "id": "bf733f4a-978b-4394-97fe-b5664a177801"
    },
    "feedTableSchema": {
      "name": null,
      "description": null,
      "charset": null,
      "properties": {},
      "fields": [
        {
          "sampleValues": [
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00",
            "11/12/2017 00:00"
          ],
          "name": "Time",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC",
            "ACTIVEDIRECTORY CDC"
          ],
          "name": "Application",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS",
            "DNS"
          ],
          "name": "Transaction",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.146.13.130",
            "10.146.32.48",
            "10.146.87.18",
            "10.146.131.213",
            "10.146.151.69",
            "10.146.154.24",
            "10.146.159.138",
            "10.146.204.22",
            "10.146.225.44"
          ],
          "name": "Client_IP_address",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "0.0",
            "0.0",
            "34.0",
            "61.0",
            "58.0",
            "66.0",
            "9.0",
            "2.0",
            "8.0"
          ],
          "name": "Operations",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": null,
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "-",
            "-",
            "2.7617647647857666",
            "5.695082187652588",
            "3.572413682937622",
            "9.978787422180176",
            "1.100000023841858",
            "44.099998474121094",
            "4.3125"
          ],
          "name": "Operation_time_ms",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        },
        {
          "sampleValues": [
            "10.0",
            "37.0",
            "5.0",
            "42.0",
            "30.0",
            "37.0",
            "9.0",
            "1.0",
            "10.0"
          ],
          "name": "Failures_total",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "double",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": true,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "double"
        },
        {
          "sampleValues": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "name": "empty_column",
          "description": "",
          "nativeDataType": null,
          "derivedDataType": "string",
          "primaryKey": false,
          "nullable": true,
          "modifiable": true,
          "dataTypeDescriptor": {
            "numeric": false,
            "date": false,
            "complex": false
          },
          "updatedTracker": false,
          "precisionScale": null,
          "createdTracker": false,
          "tags": [],
          "descriptionWithoutNewLines": "",
          "dataTypeWithPrecisionAndScale": "string"
        }
      ],
      "schemaName": null,
      "databaseName": null,
      "id": "4847389d-18c0-412e-b008-ff0c57402d71"
    },
    "method": "SAMPLE_FILE",
    "description": "",
    "fieldPolicies": [
      {
        "profile": false,
        "index": false,
        "fieldName": "Time",
        "feedFieldName": "Time",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Application",
        "feedFieldName": "Application",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Transaction",
        "feedFieldName": "Transaction",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Client_IP_address",
        "feedFieldName": "Client_IP_address",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Operations",
        "feedFieldName": "Operations",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Operation_time_ms",
        "feedFieldName": "Operation_time_ms",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "Failures_total",
        "feedFieldName": "Failures_total",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      },
      {
        "profile": false,
        "index": false,
        "fieldName": "empty_column",
        "feedFieldName": "empty_column",
        "standardization": null,
        "validation": null,
        "domainTypeId": null,
        "partitionColumn": false
      }
    ],
    "partitions": [],
    "tableType": null,
    "incrementalDateField": null,
    "sourceTableIncrementalDateField": null,
    "options": {
      "compress": false,
      "auditLogging": true,
      "encrypt": false,
      "trackHistory": false,
      "compressionFormat": "SNAPPY"
    },
    "feedFormat": "ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'\n WITH SERDEPROPERTIES ( 'separatorChar' = '\\;' ,'escapeChar' = '\\\\' ,'quoteChar' = '\\\"') STORED AS TEXTFILE",
    "targetFormat": "STORED AS PARQUET",
    "targetTblProperties": "tblproperties(\"parquet.compression\"=\"SNAPPY\")",
    "targetMergeStrategy": "DEDUPE_AND_MERGE",
    "fieldPoliciesJson": "[{\"profile\":false,\"index\":false,\"fieldName\":\"Time\",\"feedFieldName\":\"Time\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Application\",\"feedFieldName\":\"Application\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Transaction\",\"feedFieldName\":\"Transaction\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Client_IP_address\",\"feedFieldName\":\"Client_IP_address\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Operations\",\"feedFieldName\":\"Operations\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Operation_time_ms\",\"feedFieldName\":\"Operation_time_ms\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"Failures_total\",\"feedFieldName\":\"Failures_total\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false},{\"profile\":false,\"index\":false,\"fieldName\":\"empty_column\",\"feedFieldName\":\"empty_column\",\"standardization\":null,\"validation\":null,\"domainTypeId\":null,\"partitionColumn\":false}]",
    "fieldIndexString": "",
    "partitionStructure": "",
    "partitionSpecs": "",
    "fieldsString": "Time\nApplication\nTransaction\nClient_IP_address\nOperations\nOperation_time_ms\nFailures_total\nempty_column",
    "sourceFields": "Time\nApplication\nTransaction\nClient_IP_address\nOperations\nOperation_time_(ms)\nFailures_(total)\n",
    "sourceFieldsCommaString": "Time,Application,Transaction,Client_IP_address,Operations,Operation_time_(ms),Failures_(total),",
    "feedFieldStructure": "Time|string||0|0|0|Time\nApplication|string||0|0|0|Application\nTransaction|string||0|0|0|Transaction\nClient_IP_address|string||0|0|0|Client_IP_address\nOperations|double||0|0|0|Operations\nOperation_time_ms|string||0|0|0|Operation_time_ms\nFailures_total|double||0|0|0|Failures_total\nempty_column|string||0|0|0|empty_column",
    "nullableFields": "Time,Application,Transaction,Client_IP_address,Operations,Operation_time_ms,Failures_total,empty_column",
    "primaryKeyFields": "",
    "sourceTargetFieldMap": {
      "Operation_time_ms": "Operation_time_ms",
      "Client_IP_address": "Client_IP_address",
      "Transaction": "Transaction",
      "Time": "Time",
      "Application": "Application",
      "Operations": "Operations",
      "Failures_total": "Failures_total",
      "empty_column": "empty_column"
    },
    "targetSourceFieldMap": {
      "Operation_time_ms": "Operation_time_ms",
      "Client_IP_address": "Client_IP_address",
      "Transaction": "Transaction",
      "Time": "Time",
      "Application": "Application",
      "Operations": "Operations",
      "Failures_total": "Failures_total",
      "empty_column": "empty_column"
    }
  },
  "createDate": 1513875283154,
  "updateDate": 1513875283154,
  "dataTransformation": {
    "chartViewModel": null,
    "datasourceIds": null,
    "dataTransformScript": null,
    "sql": null,
    "states": []
  },
  "active": true,
  "state": "ENABLED",
  "nifiProcessGroupId": "39b53dc5-3812-1f4d-340e-53e287a92a8f",
  "options": {
    "skipHeader": true
  },
  "registeredTemplate": {
    "owner": {
      "displayName": "Data Lake Administrator",
      "email": null,
      "enabled": true,
      "groups": [
        "admin",
        "user"
      ],
      "systemName": "dladmin"
    },
    "allowedActions": {
      "actions": [
        {
          "systemName": "accessTemplate",
          "actions": [
            {
              "systemName": "editTemplate"
            },
            {
              "systemName": "deleteTemplate"
            },
            {
              "systemName": "exportTemplate"
            },
            {
              "systemName": "createFeedFromTemplate"
            },
            {
              "systemName": "changeTemplatePermissions"
            }
          ]
        }
      ]
    },
    "roleMemberships": [],
    "feedRoleMemberships": [],
    "properties": [
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "File Filter",
        "value": "{DAF_INPUT_REGEXP_FILTER}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "File Filter",
          "displayName": "File Filter",
          "description": "Only files whose names match the given regular expression will be picked up",
          "defaultValue": "[^\\.].*",
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": false,
          "identifiesControllerService": null
        },
        "templateValue": "{DAF_INPUT_REGEXP_FILTER}",
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-File Filter",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-File Filter"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Filesystem",
        "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "key": "Input Directory",
        "value": "{DAF_INPUT_DIRECTORY}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "Input Directory",
          "displayName": "Input Directory",
          "description": "The input directory from which to pull files",
          "defaultValue": null,
          "allowableValues": null,
          "required": true,
          "sensitive": false,
          "dynamic": false,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "{DAF_INPUT_DIRECTORY}",
        "userEditable": true,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": true,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": true,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Filesystem-Input Directory",
        "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-Input Directory"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "category",
        "value": "${metadata.category.systemName}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "category",
          "displayName": "category",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.category.systemName}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-category"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "feed",
        "value": "${metadata.systemFeedName}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "feed",
          "displayName": "feed",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.systemFeedName}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-feed"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "hdfs.archive.root",
        "value": "${config.hdfs.archive.root}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "hdfs.archive.root",
          "displayName": "hdfs.archive.root",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.hdfs.archive.root}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-hdfs.archive.root"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "hdfs.ingest.root",
        "value": "${config.hdfs.ingest.root}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "hdfs.ingest.root",
          "displayName": "hdfs.ingest.root",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.hdfs.ingest.root}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-hdfs.ingest.root"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "hive.ingest.root",
        "value": "${config.hive.ingest.root}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "hive.ingest.root",
          "displayName": "hive.ingest.root",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.hive.ingest.root}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-hive.ingest.root"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "hive.master.root",
        "value": "${config.hive.master.root}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "hive.master.root",
          "displayName": "hive.master.root",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.hive.master.root}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-hive.master.root"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "hive.profile.root",
        "value": "${config.hive.profile.root}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "hive.profile.root",
          "displayName": "hive.profile.root",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.hive.profile.root}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-hive.profile.root"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.feedFieldStructure",
        "value": "${metadata.table.feedFieldStructure}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.feedFieldStructure",
          "displayName": "metadata.table.feedFieldStructure",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.feedFieldStructure}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.feedFieldStructure"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.feedFormat",
        "value": "${metadata.table.feedFormat}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.feedFormat",
          "displayName": "metadata.table.feedFormat",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.feedFormat}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.feedFormat"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.fieldIndexString",
        "value": "${metadata.table.fieldIndexString}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.fieldIndexString",
          "displayName": "metadata.table.fieldIndexString",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.fieldIndexString}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.fieldIndexString"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.fieldPoliciesJson",
        "value": "${metadata.table.fieldPoliciesJson}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.fieldPoliciesJson",
          "displayName": "metadata.table.fieldPoliciesJson",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.fieldPoliciesJson}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.fieldPoliciesJson"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.fieldStructure",
        "value": "${metadata.table.fieldStructure}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.fieldStructure",
          "displayName": "metadata.table.fieldStructure",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.fieldStructure}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.fieldStructure"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.partitionSpecs",
        "value": "${metadata.table.partitionSpecs}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.partitionSpecs",
          "displayName": "metadata.table.partitionSpecs",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.partitionSpecs}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.partitionSpecs"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.partitionStructure",
        "value": "${metadata.table.partitionStructure}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.partitionStructure",
          "displayName": "metadata.table.partitionStructure",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.partitionStructure}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.partitionStructure"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.targetFormat",
        "value": "${metadata.table.targetFormat}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.targetFormat",
          "displayName": "metadata.table.targetFormat",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.targetFormat}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.targetFormat"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.targetMergeStrategy",
        "value": "${metadata.table.targetMergeStrategy}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.targetMergeStrategy",
          "displayName": "metadata.table.targetMergeStrategy",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.targetMergeStrategy}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.targetMergeStrategy"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "metadata.table.targetTblProperties",
        "value": "${metadata.table.targetTblProperties}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "metadata.table.targetTblProperties",
          "displayName": "metadata.table.targetTblProperties",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.table.targetTblProperties}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-metadata.table.targetTblProperties"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "nifi.home",
        "value": "${config.nifi.home}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "nifi.home",
          "displayName": "nifi.home",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${config.nifi.home}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-nifi.home"
      },
      {
        "processGroupName": "NiFi Flow",
        "processorName": "Initialize Feed Parameters",
        "processorId": "552ef4d4-6075-34f0-be85-e3bde639496b",
        "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "key": "skipHeader",
        "value": "${metadata.options.skipHeader}",
        "expressionProperties": null,
        "propertyDescriptor": {
          "name": "skipHeader",
          "displayName": "skipHeader",
          "description": "",
          "defaultValue": null,
          "allowableValues": null,
          "required": false,
          "sensitive": false,
          "dynamic": true,
          "supportsEl": true,
          "identifiesControllerService": null
        },
        "templateValue": "${metadata.options.skipHeader}",
        "userEditable": false,
        "renderType": "text",
        "renderOptions": {},
        "selected": true,
        "inputProperty": false,
        "containsConfigurationVariables": false,
        "sensitive": false,
        "required": false,
        "templateProperty": null,
        "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
        "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
        "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-552ef4d4-6075-34f0-be85-e3bde639496b-skipHeader"
      }
    ],
    "nonInputProcessors": null,
    "inputProcessors": [
      {
        "properties": [
          {
            "processGroupName": "NiFi Flow",
            "processorName": "Filesystem",
            "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
            "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
            "processorType": "org.apache.nifi.processors.standard.GetFile",
            "key": "File Filter",
            "value": "{DAF_INPUT_REGEXP_FILTER}",
            "expressionProperties": null,
            "propertyDescriptor": {
              "name": "File Filter",
              "displayName": "File Filter",
              "description": "Only files whose names match the given regular expression will be picked up",
              "defaultValue": "[^\\.].*",
              "allowableValues": null,
              "required": true,
              "sensitive": false,
              "dynamic": false,
              "supportsEl": false,
              "identifiesControllerService": null
            },
            "templateValue": "{DAF_INPUT_REGEXP_FILTER}",
            "userEditable": true,
            "renderType": "text",
            "renderOptions": {},
            "selected": true,
            "inputProperty": true,
            "containsConfigurationVariables": false,
            "sensitive": false,
            "required": true,
            "templateProperty": null,
            "nameKey": "NiFi Flow-Filesystem-File Filter",
            "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
            "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-File Filter"
          },
          {
            "processGroupName": "NiFi Flow",
            "processorName": "Filesystem",
            "processorId": "1c643713-3d59-3540-74bb-90ac879b3f85",
            "processGroupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
            "processorType": "org.apache.nifi.processors.standard.GetFile",
            "key": "Input Directory",
            "value": "{DAF_INPUT_DIRECTORY}",
            "expressionProperties": null,
            "propertyDescriptor": {
              "name": "Input Directory",
              "displayName": "Input Directory",
              "description": "The input directory from which to pull files",
              "defaultValue": null,
              "allowableValues": null,
              "required": true,
              "sensitive": false,
              "dynamic": false,
              "supportsEl": true,
              "identifiesControllerService": null
            },
            "templateValue": "{DAF_INPUT_DIRECTORY}",
            "userEditable": true,
            "renderType": "text",
            "renderOptions": {},
            "selected": true,
            "inputProperty": true,
            "containsConfigurationVariables": false,
            "sensitive": false,
            "required": true,
            "templateProperty": null,
            "nameKey": "NiFi Flow-Filesystem-Input Directory",
            "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
            "idKey": "934d1ee7-0160-1000-c7b6-6262c98e735d-1c643713-3d59-3540-74bb-90ac879b3f85-Input Directory"
          }
        ],
        "type": "org.apache.nifi.processors.standard.GetFile",
        "name": "Filesystem",
        "id": "1c643713-3d59-3540-74bb-90ac879b3f85",
        "groupName": "NiFi Flow",
        "groupId": "934d1ee7-0160-1000-c7b6-6262c98e735d",
        "inputProcessor": true,
        "userDefinedInputProcessor": false
      }
    ],
    "id": "07b7509c-4916-48fe-9dd0-4e184ddcc4ec",
    "nifiTemplateId": "d0f26cf7-3e78-4482-af2b-3022d50dc78e",
    "templateName": "Dataset Ingest",
    "updateDate": 1515149711110,
    "createDate": 1513181399486,
    "icon": "get_app",
    "iconColor": "#66BB6A",
    "description": "Dataset Ingest",
    "state": "ENABLED",
    "defineTable": true,
    "reusableTemplate": false,
    "reusableTemplateConnections": [
      {
        "feedOutputPortName": "to-dataset-ingest",
        "reusableTemplateInputPortName": "dataset-ingest",
        "inputPortDisplayName": "dataset-ingest"
      }
    ],
    "registeredDatasourceDefinitions": [
      {
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "processorName": "Filesystem",
        "processorId": "1c643713-3d59-3540-0000-000000000000",
        "datasourceDefinition": {
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "connectionType": "SOURCE",
          "datasourcePropertyKeys": [
            "Input Directory",
            "File Filter"
          ],
          "datasourceType": "DirectoryDatasource",
          "identityString": "${Input Directory}/${File Filter}",
          "description": " Directory or File source",
          "title": "${Input Directory}/${File Filter}"
        }
      },
      {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "processorName": "Merge Table",
        "processorId": "cd9f851b-4f87-322f-79e6-a45cd4cd804d",
        "datasourceDefinition": {
          "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
          "connectionType": "DESTINATION",
          "datasourcePropertyKeys": [
            "Target schema",
            "Target table"
          ],
          "datasourceType": "HiveDatasource",
          "identityString": "${Target schema}.${Target table}",
          "description": null,
          "title": "${Target schema}.${Target table}"
        }
      }
    ],
    "order": 2,
    "templateOrder": null,
    "feedsCount": 4,
    "templateTableOption": "DEFINE_TABLE",
    "timeBetweenStartingBatchJobs": 1000,
    "stream": false,
    "allowPreconditions": false,
    "dataTransformation": false,
    "isStream": false
  },
  "userProperties": [
    {
      "description": null,
      "displayName": null,
      "order": null,
      "required": null,
      "systemName": "daf_type",
      "locked": false,
      "value": "ordinary"
    },
    {
      "description": null,
      "displayName": null,
      "order": null,
      "required": null,
      "systemName": "daf_subdomain",
      "locked": false,
      "value": "monitoraggio"
    },
    {
      "description": null,
      "displayName": null,
      "order": null,
      "required": null,
      "systemName": "daf_domain",
      "locked": false,
      "value": "tecnologia"
    }
  ],
  "categoryAndFeedDisplayName": "pac_cdc.cdc_o_apm",
  "categoryName": "pac_cdc",
  "systemCategoryName": "pac_cdc",
  "new": false,
  "categoryId": "f8209368-54dc-4ba2-874a-900ac4ec5978",
  "reusableFeed": false
}