kylo/api/feedcreationwizard/6_creation/example/test_feed_api.feed/nifiConnectingReusableTemplate_0.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>118869f3-0160-1000-df7f-71a39e685173</groupId>
  <name>dataset-ingest</name>
  <snippet>
    <connections>
      <id>85d41a38-ccaa-390e-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7004c07b-fac0-3586-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e04364fb-1d97-3299-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8b4ced59-5b5a-376f-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>2f18e520-fee8-3aa4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>90e3865b-e066-398f-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>c01ba01d-779c-3083-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>cd9f851b-4f87-322f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>91316209-69fd-37d8-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>a0b43a54-8bcd-3c7a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>efb6baac-7674-3173-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>923b6001-2aaa-3052-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>81df7a75-1a4e-393c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>85b02cb0-50c0-3c73-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9c230336-84aa-345a-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>264a12fb-2d3b-347b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>ea6003bc-db0b-3859-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9dc062ca-aea3-3c8a-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e04364fb-1d97-3299-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a4f74c6f-5855-30b3-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>3d7eae58-71f7-30bb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>5e90b303-6111-3716-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a5a45550-8bea-3e6e-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>f853d026-281e-3d17-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>264a12fb-2d3b-347b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b0119cc1-18b7-3b40-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e1d02049-a0af-3c48-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b16d4eff-5a10-38c0-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>d7d4a582-e28d-3941-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4ee4c80e-f16a-331c-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>cd707c5f-b703-3477-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>2f18e520-fee8-3aa4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>38082a38-3552-3ff8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d45b6f7b-cc08-3c85-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>5e90b303-6111-3716-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>02f9b862-b63f-353f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dad81bd9-1e8d-345b-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>3d7eae58-71f7-30bb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e783923c-669b-37f9-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e04364fb-1d97-3299-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>096558fd-efa6-3f0e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>eb1c6445-f54d-3702-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>85b02cb0-50c0-3c73-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Initialize</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>3d7eae58-71f7-30bb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f04e15c6-afca-3f5b-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>38082a38-3552-3ff8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f25cba44-ede4-3853-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>cd9f851b-4f87-322f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e04364fb-1d97-3299-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f264d6c2-2c7f-3351-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>c7207020-fea7-3a16-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fb17ba62-499e-3137-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>096558fd-efa6-3f0e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>2f18e520-fee8-3aa4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fcf8135e-6e3f-3b73-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>02f9b862-b63f-353f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01013364-9daf-3e8c-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>ea6003bc-db0b-3859-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>85b02cb0-50c0-3c73-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>360d7294-3996-32ac-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7eee45d8-962d-3651-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3611100f-69b8-3cfc-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>e1d02049-a0af-3c48-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>b6b3ac7f-0021-3058-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>410e5a85-a03d-31b4-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>81df7a75-1a4e-393c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>264a12fb-2d3b-347b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4b70d4bb-a9d9-3a58-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>c7207020-fea7-3a16-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>original</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7eee45d8-962d-3651-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>587cc48d-4744-3e50-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>b6b3ac7f-0021-3058-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>cd9f851b-4f87-322f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>596e6781-2280-3818-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>02f9b862-b63f-353f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>content</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7eee45d8-962d-3651-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6e5e071c-8318-3171-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>096558fd-efa6-3f0e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6f2f0a5b-c223-39d3-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>4b7bc442-0fb8-3673-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>cd9f851b-4f87-322f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>72ce9a18-c415-3340-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>81df7a75-1a4e-393c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>ea6003bc-db0b-3859-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>75f20929-e843-3c70-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>fc1c4fdb-f287-34e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7004c07b-fac0-3586-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7a6790c4-9893-3cfd-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>efb6baac-7674-3173-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>indexColumns</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>c01ba01d-779c-3083-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7ca3aae2-4533-3998-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>7eee45d8-962d-3651-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>d7d4a582-e28d-3941-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7f4d3812-39b5-3dc2-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>38082a38-3552-3ff8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3ee97e4a-1798-3042-0000-000000000000</groupId>
        <id>3d7eae58-71f7-30bb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>9837c674-eb7f-3ef9-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>kylo-nifi-hadoop-service-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Resources</key>
          <value>
            <name>Hadoop Configuration Resources</name>
          </value>
        </entry>
        <entry>
          <key>Validation Query Timeout</key>
          <value>
            <name>Validation Query Timeout</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
          <value>
            <name>Database Driver Jar Url</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>
            <name>Validation Query</name>
          </value>
        </entry>
      </descriptors>
      <name>Hive Thrift Service</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Hadoop Configuration Resources</key>
          <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
        </entry>
        <entry>
          <key>Validation Query Timeout</key>
          <value>10 s</value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>/usr/nifi/daf.keytab</value>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:hive2://master.platform.daf.gov.it:10000/default;principal=hive/master.platform.daf.gov.it@DAF.GOV.IT</value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>org.apache.hive.jdbc.HiveDriver</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>daf</value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>daf@DAF.GOV.IT</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>show tables 'test'</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
    </controllerServices>
    <controllerServices>
      <id>bff4e34a-7112-393c-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-jms-cf-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>cflib</key>
          <value>
            <name>cflib</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>cf</key>
          <value>
            <name>cf</name>
          </value>
        </entry>
        <entry>
          <key>broker</key>
          <value>
            <name>broker</name>
          </value>
        </entry>
      </descriptors>
      <name>JMSConnectionFactoryProvider</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>cflib</key>
          <value>/usr/nifi/activemq</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>cf</key>
          <value>org.apache.activemq.ActiveMQConnectionFactory</value>
        </entry>
        <entry>
          <key>broker</key>
          <value>tcp://tba-activemq:61616</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.jms.cf.JMSConnectionFactoryProvider</type>
    </controllerServices>
    <controllerServices>
      <id>63175850-64cc-3631-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>kylo-nifi-core-service-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>client-password</key>
          <value>
            <name>client-password</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>client-username</key>
          <value>
            <name>client-username</name>
          </value>
        </entry>
        <entry>
          <key>Implementation</key>
          <value>
            <name>Implementation</name>
          </value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>
            <name>rest-client-url</name>
          </value>
        </entry>
      </descriptors>
      <name>Kylo Metadata Service</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>client-password</key>
          <value></value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>client-username</key>
          <value>dladmin</value>
        </entry>
        <entry>
          <key>Implementation</key>
          <value>REMOTE</value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>http://tba-kylo-ui:8400/proxy/v1/metadata</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
    </controllerServices>
    <inputPorts>
      <id>4ee4c80e-f16a-331c-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>631.5520395836757</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>dataset-ingest</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <labels>
      <id>536b6ee9-c6b9-3452-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2102.893018444666</x>
        <y>782.3629451409392</y>
      </position>
      <height>833.75537109375</height>
      <label>One-time registration</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#dbdbdb</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>18px</value>
        </entry>
      </style>
      <width>1272.4822998046875</width>
    </labels>
    <processors>
      <id>81df7a75-1a4e-393c-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2999.784625097287</x>
        <y>1036.2120124506596</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>
              <name>Initialization Result</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>63175850-64cc-3631-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Initialization Failure</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#fa0303</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
    </processors>
    <processors>
      <id>85b02cb0-50c0-3c73-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2149.657699722013</x>
        <y>825.5183747286769</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-hadoop-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${hive.ingest.root}/${category}
${hive.ingest.root}/${category}/${feed}
${hive.ingest.root}/${category}/${feed}/feed
${hive.ingest.root}/${category}/${feed}/valid
${hive.ingest.root}/${category}/${feed}/invalid
${hive.profile.root}/${category}
${hive.profile.root}/${category}/${feed}
${hive.profile.root}/${category}/${feed}/profile
${hive.master.root}
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}
${hdfs.ingest.root}/${category}
${hdfs.ingest.root}/${category}/${feed}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Register HDFS Folders</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type>
    </processors>
    <processors>
      <id>a0b43a54-8bcd-3c7a-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2904.415438893544</x>
        <y>2049.0507321689</y>
      </position>
      <bundle>
        <artifact>nifi-jms-processors-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>User Name</key>
            <value>
              <name>User Name</name>
            </value>
          </entry>
          <entry>
            <key>Connection Client ID</key>
            <value>
              <name>Connection Client ID</name>
            </value>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>
              <name>Destination Name</name>
            </value>
          </entry>
          <entry>
            <key>Session Cache size</key>
            <value>
              <name>Session Cache size</name>
            </value>
          </entry>
          <entry>
            <key>Destination Type</key>
            <value>
              <name>Destination Type</name>
            </value>
          </entry>
          <entry>
            <key>Connection Factory Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.jms.cf.JMSConnectionFactoryProviderDefinition</identifiesControllerService>
              <name>Connection Factory Service</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>User Name</key>
          </entry>
          <entry>
            <key>Connection Client ID</key>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>thinkbig.nifi.index</value>
          </entry>
          <entry>
            <key>Session Cache size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Destination Type</key>
            <value>QUEUE</value>
          </entry>
          <entry>
            <key>Connection Factory Service</key>
            <value>bff4e34a-7112-393c-0000-000000000000</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Update Index</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.jms.processors.PublishJMS</type>
    </processors>
    <processors>
      <id>b6b3ac7f-0021-3058-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>4.666195491445251</x>
        <y>2046.9116340528365</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Release All</key>
            <value>
              <name>Release All</name>
            </value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>High-Water Mark</key>
            <value>
              <name>High-Water Mark</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
          <entry>
            <key>High-Water Mark Value Property Name</key>
            <value>
              <name>High-Water Mark Value Property Name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Release All</key>
            <value>true</value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>High-Water Mark</key>
            <value>highWaterMark</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>COMMIT</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>abee359e-960d-3335-0000-000000000000</value>
          </entry>
          <entry>
            <key>High-Water Mark Value Property Name</key>
            <value>water.mark</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Commit Highwater Mark</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#48f513</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark</type>
    </processors>
    <processors>
      <id>c01ba01d-779c-3083-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1943.4813098878772</x>
        <y>2049.05070175282</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>indexColumns</key>
            <value>
              <name>indexColumns</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>indexColumns</key>
            <value>${metadata.table.fieldIndexString:isEmpty():not()}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Route If Data To Be Indexed</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>indexColumns</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>c7207020-fea7-3a16-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>923.3489150845526</x>
        <y>577.5740303537164</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>BZIP</value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${hdfs.archive.root}/${category}/${feed}/${archiveId}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Archive Originals</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#e6f205</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>cd9f851b-4f87-322f-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1486.7893770548253</x>
        <y>2049.2029229267473</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Target schema</key>
            <value>
              <name>Target schema</name>
            </value>
          </entry>
          <entry>
            <key>Feed partition value</key>
            <value>
              <name>Feed partition value</name>
            </value>
          </entry>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Source schema</key>
            <value>
              <name>Source schema</name>
            </value>
          </entry>
          <entry>
            <key>Hive Configurations</key>
            <value>
              <name>Hive Configurations</name>
            </value>
          </entry>
          <entry>
            <key>Reset hive on connection</key>
            <value>
              <name>Reset hive on connection</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>Source table</key>
            <value>
              <name>Source table</name>
            </value>
          </entry>
          <entry>
            <key>Target table</key>
            <value>
              <name>Target table</name>
            </value>
          </entry>
          <entry>
            <key>Partition Specification</key>
            <value>
              <name>Partition Specification</name>
            </value>
          </entry>
          <entry>
            <key>Hive Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>Hive Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>
              <name>Field specification</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Target schema</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Feed partition value</key>
            <value>${feedts}</value>
          </entry>
          <entry>
            <key>Merge Strategy</key>
            <value>${metadata.table.targetMergeStrategy}</value>
          </entry>
          <entry>
            <key>Source schema</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Hive Configurations</key>
          </entry>
          <entry>
            <key>Reset hive on connection</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>9837c674-eb7f-3ef9-0000-000000000000</value>
          </entry>
          <entry>
            <key>Source table</key>
            <value>${feed}_valid</value>
          </entry>
          <entry>
            <key>Target table</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Partition Specification</key>
            <value>${metadata.table.partitionSpecs}</value>
          </entry>
          <entry>
            <key>Hive Connection Pooling Service</key>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>${metadata.table.fieldStructure}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Merge Table</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2cfa08</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type>
    </processors>
    <processors>
      <id>d7d4a582-e28d-3941-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>581.2297831975957</x>
        <y>120.69963789733264</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>hdfs.archive.root</key>
            <value>
              <name>hdfs.archive.root</name>
            </value>
          </entry>
          <entry>
            <key>hive.profile.root</key>
            <value>
              <name>hive.profile.root</name>
            </value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>
              <name>hdfs.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>merge.correlation</key>
            <value>
              <name>merge.correlation</name>
            </value>
          </entry>
          <entry>
            <key>nifi.home</key>
            <value>
              <name>nifi.home</name>
            </value>
          </entry>
          <entry>
            <key>skipHeader</key>
            <value>
              <name>skipHeader</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>
              <name>hive.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>
              <name>hive.master.root</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>hdfs.archive.root</key>
            <value>${hdfs.archive.root:replaceEmpty('/archive')}</value>
          </entry>
          <entry>
            <key>hive.profile.root</key>
            <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Store state locally</value>
          </entry>
          <entry>
            <key>merge.correlation</key>
            <value>${category}.${feed}.correlation</value>
          </entry>
          <entry>
            <key>nifi.home</key>
            <value>${nifi.home:replaceEmpty("/opt/nifi")}</value>
          </entry>
          <entry>
            <key>skipHeader</key>
            <value>${skipHeader:replaceEmpty('false')}</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value></value>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Set Feed Defaults</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>e04364fb-1d97-3299-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1486.1620431601332</x>
        <y>1804.6953672089471</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-spark-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Spark YARN Deploy Mode</key>
            <value>
              <name>Spark YARN Deploy Mode</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>
              <name>SparkHome</name>
            </value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>
              <name>Executor Memory</name>
            </value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
            <value>
              <name>Yarn Queue</name>
            </value>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>
              <name>ApplicationJAR</name>
            </value>
          </entry>
          <entry>
            <key>Data Sources</key>
            <value>
              <name>Data Sources</name>
            </value>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>
              <name>MainArgs</name>
            </value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>
              <name>Spark Application Name</name>
            </value>
          </entry>
          <entry>
            <key>Spark Process Timeout</key>
            <value>
              <name>Spark Process Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Extra JARs</key>
            <value>
              <name>Extra JARs</name>
            </value>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>
              <name>MainClass</name>
            </value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>
              <name>Executor Cores</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Spark Configurations</key>
            <value>
              <name>Spark Configurations</name>
            </value>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>
              <name>SparkMaster</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>
              <name>Number of Executors</name>
            </value>
          </entry>
          <entry>
            <key>Extra Files</key>
            <value>
              <name>Extra Files</name>
            </value>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>
              <name>Driver Memory</name>
            </value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>
              <name>Network Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Spark YARN Deploy Mode</key>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>/usr/hdp/current/spark-client</value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>${nifi.home}/current/lib/app/kylo-spark-validate-cleanse-jar-with-dependencies.jar
</value>
          </entry>
          <entry>
            <key>Data Sources</key>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>${category},${feed},${feedts},${table_field_policy_json_file}</value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>Validator</value>
          </entry>
          <entry>
            <key>Spark Process Timeout</key>
            <value>1 hr</value>
          </entry>
          <entry>
            <key>Extra JARs</key>
            <value>${config.spark.validateAndSplitRecords.extraJars}</value>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>com.thinkbiganalytics.spark.datavalidator.Validator</value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Spark Configurations</key>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>yarn-client</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Extra Files</key>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>120s</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Validate And Split Records</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2cfa08</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
    </processors>
    <processors>
      <id>e1d02049-a0af-3c48-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>1291.8688708616278</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Group</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${kylo.tmp.baseFolder:replaceEmpty('/tmp/kylo-nifi')}/failed-flows/${category}/${feed}/${feedts}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>ignore</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Failed Flow</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#fa0303</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>ea6003bc-db0b-3859-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2151.8689772309176</x>
        <y>1037.2477410816969</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Target Table Properties</key>
            <value>
              <name>Target Table Properties</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Feed Root Path</key>
            <value>
              <name>Feed Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Profile Root Path</key>
            <value>
              <name>Profile Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>
              <name>Field specification</name>
            </value>
          </entry>
          <entry>
            <key>Table Type</key>
            <value>
              <name>Table Type</name>
            </value>
          </entry>
          <entry>
            <key>Feed Field specification</key>
            <value>
              <name>Feed Field specification</name>
            </value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Master Root Path</key>
            <value>
              <name>Master Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Feed Table Storage Format</key>
            <value>
              <name>Feed Table Storage Format</name>
            </value>
          </entry>
          <entry>
            <key>Partition specification</key>
            <value>
              <name>Partition specification</name>
            </value>
          </entry>
          <entry>
            <key>Target Table Format</key>
            <value>
              <name>Target Table Format</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Target Table Properties</key>
            <value>${metadata.table.targetTblProperties}</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>9837c674-eb7f-3ef9-0000-000000000000</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Feed Root Path</key>
            <value>${hive.ingest.root}</value>
          </entry>
          <entry>
            <key>Profile Root Path</key>
            <value>${hive.profile.root}</value>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>${metadata.table.fieldStructure}</value>
          </entry>
          <entry>
            <key>Table Type</key>
            <value>ALL</value>
          </entry>
          <entry>
            <key>Feed Field specification</key>
            <value>${metadata.table.feedFieldStructure}</value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Master Root Path</key>
            <value>${hive.master.root}</value>
          </entry>
          <entry>
            <key>Feed Table Storage Format</key>
            <value>${metadata.table.feedFormat}</value>
          </entry>
          <entry>
            <key>Partition specification</key>
            <value>${metadata.table.partitionStructure}</value>
          </entry>
          <entry>
            <key>Target Table Format</key>
            <value>${metadata.table.targetFormat}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Register Tables</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type>
    </processors>
    <processors>
      <id>efb6baac-7674-3173-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2411.5160416720573</x>
        <y>2050.513522313171</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>attributes-to-json-regex</key>
            <value>
              <name>attributes-to-json-regex</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>attributes-to-json-regex</key>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes List</key>
            <value>feed,category,feedts,metadata.table.fieldIndexString</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Set Metadata for Indexing</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>f853d026-281e-3d17-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2155.428245305257</x>
        <y>1465.547258288379</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>
              <name>Initialization Result</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>SUCCESSFUL</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>63175850-64cc-3631-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Record Initialization</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
    </processors>
    <processors>
      <id>fc1c4fdb-f287-34e7-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2665.891008687604</x>
        <y>1807.069714528899</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>Groovy</value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>def flowFile = session.get()
    if(!flowFile) return
    def inputFolder = flowFile.getAttribute("spark.input_folder")
    def feed = flowFile.getAttribute("feed")
    def category = flowFile.getAttribute("category")
    def feedts = flowFile.getAttribute("feedts")
    def folder = new File(inputFolder + "/"+category+"/"+feed+"/"+feedts)
    // If it doesn't exist
    if( folder.exists() ) {
    // Delete the folder for this feed
    folder.deleteDir()
    }
    session.transfer(flowFile, REL_SUCCESS)
</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Remove Field Policies</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>02f9b862-b63f-353f-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1479.0758269750295</x>
        <y>354.0937294574269</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Tar Modified Time</key>
            <value>
              <name>Tar Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>mergecontent-metadata-strategy</key>
            <value>
              <name>mergecontent-metadata-strategy</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Tar Modified Time</key>
            <value>${file.lastModifiedTime}</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>10s</value>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>merge.correlation</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>mergecontent-metadata-strategy</key>
            <value>Do Not Merge Uncommon Metadata</value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Merge Content</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>096558fd-efa6-3f0e-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1484.7684535980225</x>
        <y>1553.546004736199</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>Groovy</value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>def flowFile = session.get()
    if(!flowFile) return
    def json = flowFile.getAttribute("metadata.table.fieldPoliciesJson");
    def inputFolder = flowFile.getAttribute("spark.input_folder")
    def feed = flowFile.getAttribute("feed")
    def category = flowFile.getAttribute("category")
    def feedts = flowFile.getAttribute("feedts")
    def folder = new File(inputFolder + "/"+category+"/"+feed+"/"+feedts)
    // If it doesn't exist
    if( !folder.exists() ) {
    // Create all folders
    folder.mkdirs()
    }
    def jsonFile = new File(folder,feed+"_field_policy.json")
    jsonFile.write(json)
    flowFile = session.putAttribute(flowFile,"table_field_policy_json_file",jsonFile.getCanonicalPath())
    session.transfer(flowFile, REL_SUCCESS)
</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Fetch field policies</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>264a12fb-2d3b-347b-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2152.7919814713737</x>
        <y>1256.0046691560196</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Provider Service</name>
            </value>
          </entry>
          <entry>
            <key>Feed Name</key>
            <value>
              <name>Feed Name</name>
            </value>
          </entry>
          <entry>
            <key>hiveTableNames</key>
            <value>
              <name>hiveTableNames</name>
            </value>
          </entry>
          <entry>
            <key>hiveSchema</key>
            <value>
              <name>hiveSchema</name>
            </value>
          </entry>
          <entry>
            <key>Namespace</key>
            <value>
              <name>Namespace</name>
            </value>
          </entry>
          <entry>
            <key>Feed Category</key>
            <value>
              <name>Feed Category</name>
            </value>
          </entry>
          <entry>
            <key>hdfsFolders</key>
            <value>
              <name>hdfsFolders</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>63175850-64cc-3631-0000-000000000000</value>
          </entry>
          <entry>
            <key>Feed Name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>hiveTableNames</key>
            <value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value>
          </entry>
          <entry>
            <key>hiveSchema</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Namespace</key>
            <value>registration</value>
          </entry>
          <entry>
            <key>Feed Category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>hdfsFolders</key>
            <value>${hive.ingest.root}/${category}
${hive.ingest.root}/${category}/${feed}
${hive.ingest.root}/${category}/${feed}/feed
${hive.ingest.root}/${category}/${feed}/valid
${hive.ingest.root}/${category}/${feed}/invalid
${hive.profile.root}/${category}
${hive.profile.root}/${category}/${feed}
${hive.profile.root}/${category}/${feed}/profile
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Record Metadata</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type>
    </processors>
    <processors>
      <id>2f18e520-fee8-3aa4-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1482.99096867775</x>
        <y>1321.7167304075151</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Statement</key>
            <value>
              <name>Statement</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Statement</key>
            <value>alter table ${category}.${feed}_feed add
    if not exists partition (processing_dttm=${feedts})
    location '${hdfs.ingest.root}/${category}/${feed}/${feedts}/'</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>9837c674-eb7f-3ef9-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Create Feed Partition</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2cfa08</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type>
    </processors>
    <processors>
      <id>38082a38-3552-3ff8-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1477.8873365925156</x>
        <y>1075.414514868034</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${hdfs.ingest.root}/${category}/${feed}/${feedts}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Upload to HDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2cfa08</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>3d7eae58-71f7-30bb-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1482.847398447273</x>
        <y>826.2527789065439</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Retry Delay (seconds)</key>
            <value>
              <name>Initialization Retry Delay (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Max Initialization Attempts</key>
            <value>
              <name>Max Initialization Attempts</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Failure Strategy</key>
            <value>
              <name>Initialization Failure Strategy</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Retry Delay (seconds)</key>
            <value>15</value>
          </entry>
          <entry>
            <key>Max Initialization Attempts</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Initialization Failure Strategy</key>
            <value>RETRY</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>63175850-64cc-3631-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Initialize Feed?</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Initialize</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type>
    </processors>
    <processors>
      <id>4b7bc442-0fb8-3673-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>581.7416299022152</x>
        <y>1295.1838162908075</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Release All</key>
            <value>
              <name>Release All</name>
            </value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>High-Water Mark</key>
            <value>
              <name>High-Water Mark</name>
            </value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
          <entry>
            <key>High-Water Mark Value Property Name</key>
            <value>
              <name>High-Water Mark Value Property Name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Release All</key>
            <value>true</value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>High-Water Mark</key>
            <value>highWaterMark</value>
          </entry>
          <entry>
            <key>Mode</key>
            <value>REJECT</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>63175850-64cc-3631-0000-000000000000</value>
          </entry>
          <entry>
            <key>High-Water Mark Value Property Name</key>
            <value>water.mark</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Failed - Release Highwater Mark</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark</type>
    </processors>
    <processors>
      <id>5e90b303-6111-3716-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>1481.6566847911672</x>
        <y>605.8349645438807</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>feedts</key>
            <value>
              <name>feedts</name>
            </value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>feedts</key>
            <value>${now():toNumber()}</value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Store state locally</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value></value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateTimestamp</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>7004c07b-fac0-3586-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>2086.464395334137</x>
        <y>1806.6180469819624</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-spark-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Spark YARN Deploy Mode</key>
            <value>
              <name>Spark YARN Deploy Mode</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>
              <name>SparkHome</name>
            </value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>
              <name>Executor Memory</name>
            </value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
            <value>
              <name>Yarn Queue</name>
            </value>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>
              <name>ApplicationJAR</name>
            </value>
          </entry>
          <entry>
            <key>Data Sources</key>
            <value>
              <name>Data Sources</name>
            </value>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>
              <name>MainArgs</name>
            </value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>
              <name>Spark Application Name</name>
            </value>
          </entry>
          <entry>
            <key>Spark Process Timeout</key>
            <value>
              <name>Spark Process Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Extra JARs</key>
            <value>
              <name>Extra JARs</name>
            </value>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>
              <name>MainClass</name>
            </value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>
              <name>Executor Cores</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Spark Configurations</key>
            <value>
              <name>Spark Configurations</name>
            </value>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>
              <name>SparkMaster</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>
              <name>Number of Executors</name>
            </value>
          </entry>
          <entry>
            <key>Extra Files</key>
            <value>
              <name>Extra Files</name>
            </value>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>
              <name>Driver Memory</name>
            </value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>
              <name>Network Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Spark YARN Deploy Mode</key>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>/usr/hdp/current/spark-client</value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>${nifi.home}/current/lib/app/kylo-spark-job-profiler-jar-with-dependencies.jar
</value>
          </entry>
          <entry>
            <key>Data Sources</key>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>table,${category}.${feed}_valid,10,${category}.${feed}_profile,${table_field_policy_json_file},${feedts}</value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>Profiler</value>
          </entry>
          <entry>
            <key>Spark Process Timeout</key>
            <value>1 hr</value>
          </entry>
          <entry>
            <key>Extra JARs</key>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>com.thinkbiganalytics.spark.dataprofiler.core.Profiler</value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>2</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Spark Configurations</key>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>yarn-client</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Extra Files</key>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>120s</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Profile Data</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#0a70f5</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
    </processors>
    <processors>
      <id>7eee45d8-962d-3651-0000-000000000000</id>
      <parentGroupId>3ee97e4a-1798-3042-0000-000000000000</parentGroupId>
      <position>
        <x>578.8721198521453</x>
        <y>348.11557063256805</y>
      </position>
      <bundle>
        <artifact>kylo-nifi-core-v1-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Enable processing</key>
            <value>
              <name>Enable processing</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Header Line Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Enable processing</key>
            <value>${skipHeader}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Strip Header</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>content</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>header</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>original</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#11f237</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.ingest.StripHeader</type>
    </processors>
  </snippet>
  <timestamp>12/13/2017 17:43:36 GMT</timestamp>
</template>