kylo/api/feedcreationwizard/6_creation/example/test_feed_api.feed/template.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [],
  "feedRoleMemberships": [],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "File Filter",
      "value": "mydata\\d{1,3}.csv",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Filter",
        "displayName": "File Filter",
        "description": "Only files whose names match the given regular expression will be picked up",
        "defaultValue": "[^\\.].*",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": "mydata\\d{1,3}.csv",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-File Filter",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-File Filter"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "key": "Input Directory",
      "value": "/var/dropzone",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Input Directory",
        "displayName": "Input Directory",
        "description": "The input directory from which to pull files",
        "defaultValue": null,
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "/var/dropzone",
      "userEditable": true,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Filesystem-Input Directory",
      "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Input Directory"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.category.systemName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.systemFeedName}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.archive.root",
      "value": "${config.hdfs.archive.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.archive.root",
        "displayName": "hdfs.archive.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.archive.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.archive.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hdfs.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.ingest.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.master.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.profile.root",
      "value": "${config.hive.profile.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.profile.root",
        "displayName": "hive.profile.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.hive.profile.root}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.profile.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFormat",
      "value": "${metadata.table.feedFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFormat",
        "displayName": "metadata.table.feedFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.feedFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldIndexString",
      "value": "${metadata.table.fieldIndexString}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldIndexString",
        "displayName": "metadata.table.fieldIndexString",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldIndexString}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldIndexString"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldPoliciesJson}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.fieldStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionSpecs",
      "value": "${metadata.table.partitionSpecs}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionSpecs",
        "displayName": "metadata.table.partitionSpecs",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionSpecs}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionSpecs"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionStructure",
      "value": "${metadata.table.partitionStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionStructure",
        "displayName": "metadata.table.partitionStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.partitionStructure}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetFormat}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetMergeStrategy}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.table.targetTblProperties}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${config.nifi.home}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Initialize Feed Parameters",
      "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "skipHeader",
      "value": "${metadata.options.skipHeader}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "skipHeader",
        "displayName": "skipHeader",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": "${metadata.options.skipHeader}",
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
      "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
      "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-skipHeader"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.category.systemName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.systemFeedName}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.archive.root",
          "value": "${config.hdfs.archive.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.archive.root",
            "displayName": "hdfs.archive.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.archive.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.archive.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.archive.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.archive.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hdfs.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.ingest.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.master.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.profile.root",
          "value": "${config.hive.profile.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.profile.root",
            "displayName": "hive.profile.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.hive.profile.root}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-hive.profile.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFormat",
          "value": "${metadata.table.feedFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFormat",
            "displayName": "metadata.table.feedFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.feedFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.feedFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldIndexString",
          "value": "${metadata.table.fieldIndexString}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldIndexString",
            "displayName": "metadata.table.fieldIndexString",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldIndexString}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldIndexString"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldPoliciesJson}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.fieldStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionSpecs",
          "value": "${metadata.table.partitionSpecs}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionSpecs",
            "displayName": "metadata.table.partitionSpecs",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionSpecs}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionSpecs"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionStructure",
          "value": "${metadata.table.partitionStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionStructure",
            "displayName": "metadata.table.partitionStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.partitionStructure}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.partitionStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetFormat}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetMergeStrategy}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.table.targetTblProperties}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${config.nifi.home}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-nifi.home",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Initialize Feed Parameters",
          "processorId": "552ef4d4-6075-34f0-5da9-d2329afa6581",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "skipHeader",
          "value": "${metadata.options.skipHeader}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "skipHeader",
            "displayName": "skipHeader",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "${metadata.options.skipHeader}",
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
          "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-552ef4d4-6075-34f0-5da9-d2329afa6581-skipHeader"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Initialize Feed Parameters",
      "id": "552ef4d4-6075-34f0-5da9-d2329afa6581",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "File Filter",
          "value": "mydata\\d{1,3}.csv",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "File Filter",
            "displayName": "File Filter",
            "description": "Only files whose names match the given regular expression will be picked up",
            "defaultValue": "[^\\.].*",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": "mydata\\d{1,3}.csv",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-File Filter",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-File Filter"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Filesystem",
          "processorId": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
          "processGroupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
          "processorType": "org.apache.nifi.processors.standard.GetFile",
          "key": "Input Directory",
          "value": "/var/dropzone",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Input Directory",
            "displayName": "Input Directory",
            "description": "The input directory from which to pull files",
            "defaultValue": null,
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": "/var/dropzone",
          "userEditable": true,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Filesystem-Input Directory",
          "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
          "idKey": "552f863b-0160-1000-5bfb-8fc4f21853ef-1c643713-3d59-3540-d4f6-485fa7d81dbe-Input Directory"
        }
      ],
      "type": "org.apache.nifi.processors.standard.GetFile",
      "name": "Filesystem",
      "id": "1c643713-3d59-3540-d4f6-485fa7d81dbe",
      "groupName": "NiFi Flow",
      "groupId": "552f863b-0160-1000-5bfb-8fc4f21853ef",
      "inputProcessor": true,
      "userDefinedInputProcessor": false
    }
  ],
  "id": "07b7509c-4916-48fe-9dd0-4e184ddcc4ec",
  "nifiTemplateId": "d0f26cf7-3e78-4482-af2b-3022d50dc78e",
  "templateName": "Dataset Ingest",
  "updateDate": 1513264254582,
  "createDate": 1513181399486,
  "icon": "get_app",
  "iconColor": "#66BB6A",
  "description": "Dataset Ingest",
  "state": "ENABLED",
  "defineTable": true,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "to-dataset-ingest",
      "reusableTemplateInputPortName": "dataset-ingest",
      "inputPortDisplayName": "dataset-ingest"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "org.apache.nifi.processors.standard.GetFile",
      "processorName": "Filesystem",
      "processorId": "1c643713-3d59-3540-0000-000000000000",
      "datasourceDefinition": {
        "processorType": "org.apache.nifi.processors.standard.GetFile",
        "connectionType": "SOURCE",
        "datasourcePropertyKeys": [
          "Input Directory",
          "File Filter"
        ],
        "datasourceType": "DirectoryDatasource",
        "identityString": "${Input Directory}/${File Filter}",
        "description": " Directory or File source",
        "title": "${Input Directory}/${File Filter}"
      }
    },
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "cd9f851b-4f87-322f-79e6-a45cd4cd804d",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    }
  ],
  "order": 2,
  "templateOrder": null,
  "feedsCount": 2,
  "templateTableOption": "DEFINE_TABLE",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": false,
  "isStream": false
}