kylo/api/feedcreationwizard/6_creation_transformation/template.json
{
  "owner": {
    "displayName": "Data Lake Administrator",
    "email": null,
    "enabled": true,
    "groups": [
      "admin",
      "user"
    ],
    "systemName": "dladmin"
  },
  "allowedActions": {
    "actions": [
      {
        "systemName": "accessTemplate",
        "actions": [
          {
            "systemName": "editTemplate"
          },
          {
            "systemName": "deleteTemplate"
          },
          {
            "systemName": "exportTemplate"
          },
          {
            "systemName": "createFeedFromTemplate"
          },
          {
            "systemName": "changeTemplatePermissions"
          }
        ]
      }
    ]
  },
  "roleMemberships": [],
  "feedRoleMemberships": [],
  "properties": [
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "File Size",
      "value": "0 B",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "File Size",
        "displayName": "File Size",
        "description": "The size of the file that will be used",
        "defaultValue": "0B",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-File Size",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-File Size",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-File Size"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "Batch Size",
      "value": "1",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Batch Size",
        "displayName": "Batch Size",
        "description": "The number of FlowFiles to be transferred in each invocation",
        "defaultValue": "1",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-Batch Size",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Batch Size",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Batch Size"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "Data Format",
      "value": "Binary",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Data Format",
        "displayName": "Data Format",
        "description": "Specifies whether the data should be Text or Binary",
        "defaultValue": "Text",
        "allowableValues": [
          {
            "displayName": "Binary",
            "value": "Binary",
            "description": null
          },
          {
            "displayName": "Text",
            "value": "Text",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-Data Format",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Data Format",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Data Format"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "Unique FlowFiles",
      "value": "false",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Unique FlowFiles",
        "displayName": "Unique FlowFiles",
        "description": "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
        "defaultValue": "false",
        "allowableValues": [
          {
            "displayName": "true",
            "value": "true",
            "description": null
          },
          {
            "displayName": "false",
            "value": "false",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-Unique FlowFiles",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Unique FlowFiles",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Unique FlowFiles"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "generate-ff-custom-text",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "generate-ff-custom-text",
        "displayName": "Custom Text",
        "description": "If Data Format is text and if Unique FlowFiles is false, then this custom text will be used as content of the generated FlowFiles and the File Size will be ignored. Finally, if Expression Language is used, evaluation will be performed only once per batch of generated FlowFiles",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-generate-ff-custom-text",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-generate-ff-custom-text",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-generate-ff-custom-text"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Run Feed",
      "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "key": "character-set",
      "value": "UTF-8",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "character-set",
        "displayName": "Character Set",
        "description": "Specifies the character set to use when writing the bytes of Custom Text to a flow file.",
        "defaultValue": "UTF-8",
        "allowableValues": null,
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": true,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Run Feed-character-set",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-character-set",
      "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-character-set"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Delete Attributes Expression",
      "value": null,
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Delete Attributes Expression",
        "displayName": "Delete Attributes Expression",
        "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-Delete Attributes Expression",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Delete Attributes Expression",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Store State",
      "value": "Store state locally",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Store State",
        "displayName": "Store State",
        "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
        "defaultValue": "Do not store state",
        "allowableValues": [
          {
            "displayName": "Do not store state",
            "value": "Do not store state",
            "description": null
          },
          {
            "displayName": "Store state locally",
            "value": "Store state locally",
            "description": null
          }
        ],
        "required": true,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": true,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-Store State",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Store State",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "Stateful Variables Initial Value",
      "value": "",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "Stateful Variables Initial Value",
        "displayName": "Stateful Variables Initial Value",
        "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": false,
        "supportsEl": false,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-Stateful Variables Initial Value",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Stateful Variables Initial Value",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "category",
      "value": "${metadata.category.systemName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "category",
        "displayName": "category",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-category",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-category",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feed",
      "value": "${metadata.systemFeedName}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feed",
        "displayName": "feed",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-feed",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-feed",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "feedts",
      "value": "${now():format('yyyyMMddHHmmss')}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "feedts",
        "displayName": "feedts",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-feedts",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-feedts",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feedts"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hdfs.ingest.root",
      "value": "${config.hdfs.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hdfs.ingest.root",
        "displayName": "hdfs.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hdfs.ingest.root",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hdfs.ingest.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.ingest.root",
      "value": "${config.hive.ingest.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.ingest.root",
        "displayName": "hive.ingest.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hive.ingest.root",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hive.ingest.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "hive.master.root",
      "value": "${config.hive.master.root}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "hive.master.root",
        "displayName": "hive.master.root",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-hive.master.root",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hive.master.root",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.dataTransformation.datasourceIds",
      "value": "${metadata.dataTransformation.datasourceIds}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.dataTransformation.datasourceIds",
        "displayName": "metadata.dataTransformation.datasourceIds",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.datasourceIds",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.dataTransformation.datasourceIds",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.datasourceIds"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.dataTransformation.dataTransformScript",
      "value": "${metadata.dataTransformation.dataTransformScript}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.dataTransformation.dataTransformScript",
        "displayName": "metadata.dataTransformation.dataTransformScript",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.dataTransformScript",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.dataTransformation.dataTransformScript",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.dataTransformScript"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.feedFieldStructure",
      "value": "${metadata.table.feedFieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.feedFieldStructure",
        "displayName": "metadata.table.feedFieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.feedFieldStructure",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.feedFieldStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldIndexString",
      "value": "${metadata.table.fieldIndexString}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldIndexString",
        "displayName": "metadata.table.fieldIndexString",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldIndexString",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldIndexString",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldPoliciesJson",
      "value": "${metadata.table.fieldPoliciesJson}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldPoliciesJson",
        "displayName": "metadata.table.fieldPoliciesJson",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldPoliciesJson",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldPoliciesJson",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.fieldStructure",
      "value": "${metadata.table.fieldStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.fieldStructure",
        "displayName": "metadata.table.fieldStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldStructure",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionSpecs",
      "value": "${metadata.table.partitionSpecs}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionSpecs",
        "displayName": "metadata.table.partitionSpecs",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionSpecs",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.partitionSpecs",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.partitionStructure",
      "value": "${metadata.table.partitionStructure}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.partitionStructure",
        "displayName": "metadata.table.partitionStructure",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionStructure",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.partitionStructure",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetFormat",
      "value": "${metadata.table.targetFormat}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetFormat",
        "displayName": "metadata.table.targetFormat",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetFormat",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetFormat",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetMergeStrategy",
      "value": "${metadata.table.targetMergeStrategy}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetMergeStrategy",
        "displayName": "metadata.table.targetMergeStrategy",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetMergeStrategy",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetMergeStrategy",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "metadata.table.targetTblProperties",
      "value": "${metadata.table.targetTblProperties}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "metadata.table.targetTblProperties",
        "displayName": "metadata.table.targetTblProperties",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetTblProperties",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetTblProperties",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "nifi.home",
      "value": "${config.nifi.home}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "nifi.home",
        "displayName": "nifi.home",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-nifi.home",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-nifi.home",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "spark.input_folder",
      "value": "/tmp",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "spark.input_folder",
        "displayName": "spark.input_folder",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": null,
      "renderOptions": null,
      "selected": false,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-spark.input_folder",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-spark.input_folder",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.input_folder"
    },
    {
      "processGroupName": "NiFi Flow",
      "processorName": "Update flow parameters",
      "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "key": "spark.version",
      "value": "${config.spark.version}",
      "expressionProperties": null,
      "propertyDescriptor": {
        "name": "spark.version",
        "displayName": "spark.version",
        "description": "",
        "defaultValue": null,
        "allowableValues": null,
        "required": false,
        "sensitive": false,
        "dynamic": true,
        "supportsEl": true,
        "identifiesControllerService": null
      },
      "templateValue": null,
      "userEditable": false,
      "renderType": "text",
      "renderOptions": {},
      "selected": true,
      "inputProperty": false,
      "containsConfigurationVariables": false,
      "sensitive": false,
      "required": false,
      "templateProperty": null,
      "nameKey": "NiFi Flow-Update flow parameters-spark.version",
      "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-spark.version",
      "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.version"
    }
  ],
  "nonInputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Delete Attributes Expression",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "description": "Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-Delete Attributes Expression",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Delete Attributes Expression",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Delete Attributes Expression"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Store State",
          "value": "Store state locally",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Store State",
            "displayName": "Store State",
            "description": "Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information",
            "defaultValue": "Do not store state",
            "allowableValues": [
              {
                "displayName": "Do not store state",
                "value": "Do not store state",
                "description": null
              },
              {
                "displayName": "Store state locally",
                "value": "Store state locally",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-Store State",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Store State",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Store State"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "Stateful Variables Initial Value",
          "value": "",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "description": "If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-Stateful Variables Initial Value",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-Stateful Variables Initial Value",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-Stateful Variables Initial Value"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "category",
          "value": "${metadata.category.systemName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "category",
            "displayName": "category",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-category",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-category",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feed",
          "value": "${metadata.systemFeedName}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feed",
            "displayName": "feed",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-feed",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-feed",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "feedts",
          "value": "${now():format('yyyyMMddHHmmss')}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "feedts",
            "displayName": "feedts",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-feedts",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-feedts",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feedts"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hdfs.ingest.root",
          "value": "${config.hdfs.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hdfs.ingest.root",
            "displayName": "hdfs.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hdfs.ingest.root",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hdfs.ingest.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.ingest.root",
          "value": "${config.hive.ingest.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.ingest.root",
            "displayName": "hive.ingest.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hive.ingest.root",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hive.ingest.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "hive.master.root",
          "value": "${config.hive.master.root}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "hive.master.root",
            "displayName": "hive.master.root",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-hive.master.root",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-hive.master.root",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.dataTransformation.datasourceIds",
          "value": "${metadata.dataTransformation.datasourceIds}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.dataTransformation.datasourceIds",
            "displayName": "metadata.dataTransformation.datasourceIds",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.datasourceIds",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.dataTransformation.datasourceIds",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.datasourceIds"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.dataTransformation.dataTransformScript",
          "value": "${metadata.dataTransformation.dataTransformScript}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.dataTransformation.dataTransformScript",
            "displayName": "metadata.dataTransformation.dataTransformScript",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.dataTransformation.dataTransformScript",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.dataTransformation.dataTransformScript",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.dataTransformation.dataTransformScript"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.feedFieldStructure",
          "value": "${metadata.table.feedFieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.feedFieldStructure",
            "displayName": "metadata.table.feedFieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.feedFieldStructure",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.feedFieldStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldIndexString",
          "value": "${metadata.table.fieldIndexString}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldIndexString",
            "displayName": "metadata.table.fieldIndexString",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldIndexString",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldIndexString",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldPoliciesJson",
          "value": "${metadata.table.fieldPoliciesJson}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldPoliciesJson",
            "displayName": "metadata.table.fieldPoliciesJson",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldPoliciesJson",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldPoliciesJson",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.fieldStructure",
          "value": "${metadata.table.fieldStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.fieldStructure",
            "displayName": "metadata.table.fieldStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.fieldStructure",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.fieldStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionSpecs",
          "value": "${metadata.table.partitionSpecs}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionSpecs",
            "displayName": "metadata.table.partitionSpecs",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionSpecs",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.partitionSpecs",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.partitionStructure",
          "value": "${metadata.table.partitionStructure}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.partitionStructure",
            "displayName": "metadata.table.partitionStructure",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.partitionStructure",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.partitionStructure",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetFormat",
          "value": "${metadata.table.targetFormat}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetFormat",
            "displayName": "metadata.table.targetFormat",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetFormat",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetFormat",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetMergeStrategy",
          "value": "${metadata.table.targetMergeStrategy}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetMergeStrategy",
            "displayName": "metadata.table.targetMergeStrategy",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetMergeStrategy",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetMergeStrategy",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "metadata.table.targetTblProperties",
          "value": "${metadata.table.targetTblProperties}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "metadata.table.targetTblProperties",
            "displayName": "metadata.table.targetTblProperties",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-metadata.table.targetTblProperties",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-metadata.table.targetTblProperties",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "nifi.home",
          "value": "${config.nifi.home}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "nifi.home",
            "displayName": "nifi.home",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-nifi.home",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-nifi.home",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-nifi.home"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "spark.input_folder",
          "value": "/tmp",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "spark.input_folder",
            "displayName": "spark.input_folder",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-spark.input_folder",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-spark.input_folder",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.input_folder"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Update flow parameters",
          "processorId": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "key": "spark.version",
          "value": "${config.spark.version}",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "spark.version",
            "displayName": "spark.version",
            "description": "",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": true,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": "text",
          "renderOptions": {},
          "selected": true,
          "inputProperty": false,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Update flow parameters-spark.version",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-bbe0ff22-3363-3d60-799f-0237ed459c6b-spark.version",
          "processorNameTypeKey": "Update flow parameters-org.apache.nifi.processors.attributes.UpdateAttribute-spark.version"
        }
      ],
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "name": "Update flow parameters",
      "id": "bbe0ff22-3363-3d60-799f-0237ed459c6b",
      "groupName": "NiFi Flow",
      "groupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "inputProcessor": false,
      "userDefinedInputProcessor": false
    }
  ],
  "inputProcessors": [
    {
      "properties": [
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "File Size",
          "value": "0 B",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "File Size",
            "displayName": "File Size",
            "description": "The size of the file that will be used",
            "defaultValue": "0B",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-File Size",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-File Size",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-File Size"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "Batch Size",
          "value": "1",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "description": "The number of FlowFiles to be transferred in each invocation",
            "defaultValue": "1",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-Batch Size",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Batch Size",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Batch Size"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "Data Format",
          "value": "Binary",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Data Format",
            "displayName": "Data Format",
            "description": "Specifies whether the data should be Text or Binary",
            "defaultValue": "Text",
            "allowableValues": [
              {
                "displayName": "Binary",
                "value": "Binary",
                "description": null
              },
              {
                "displayName": "Text",
                "value": "Text",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-Data Format",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Data Format",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Data Format"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "Unique FlowFiles",
          "value": "false",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "description": "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
            "defaultValue": "false",
            "allowableValues": [
              {
                "displayName": "true",
                "value": "true",
                "description": null
              },
              {
                "displayName": "false",
                "value": "false",
                "description": null
              }
            ],
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-Unique FlowFiles",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-Unique FlowFiles",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-Unique FlowFiles"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "generate-ff-custom-text",
          "value": null,
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "description": "If Data Format is text and if Unique FlowFiles is false, then this custom text will be used as content of the generated FlowFiles and the File Size will be ignored. Finally, if Expression Language is used, evaluation will be performed only once per batch of generated FlowFiles",
            "defaultValue": null,
            "allowableValues": null,
            "required": false,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": true,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": false,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-generate-ff-custom-text",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-generate-ff-custom-text",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-generate-ff-custom-text"
        },
        {
          "processGroupName": "NiFi Flow",
          "processorName": "Run Feed",
          "processorId": "f542bd08-418a-3aac-0193-fd66ed9b155c",
          "processGroupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
          "processorType": "org.apache.nifi.processors.standard.GenerateFlowFile",
          "key": "character-set",
          "value": "UTF-8",
          "expressionProperties": null,
          "propertyDescriptor": {
            "name": "character-set",
            "displayName": "Character Set",
            "description": "Specifies the character set to use when writing the bytes of Custom Text to a flow file.",
            "defaultValue": "UTF-8",
            "allowableValues": null,
            "required": true,
            "sensitive": false,
            "dynamic": false,
            "supportsEl": false,
            "identifiesControllerService": null
          },
          "templateValue": null,
          "userEditable": false,
          "renderType": null,
          "renderOptions": null,
          "selected": false,
          "inputProperty": true,
          "containsConfigurationVariables": false,
          "sensitive": false,
          "required": true,
          "templateProperty": null,
          "nameKey": "NiFi Flow-Run Feed-character-set",
          "idKey": "38121f6d-3e06-19b5-ec07-616babcdda22-f542bd08-418a-3aac-0193-fd66ed9b155c-character-set",
          "processorNameTypeKey": "Run Feed-org.apache.nifi.processors.standard.GenerateFlowFile-character-set"
        }
      ],
      "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "name": "Run Feed",
      "id": "f542bd08-418a-3aac-0193-fd66ed9b155c",
      "groupName": "NiFi Flow",
      "groupId": "38121f6d-3e06-19b5-ec07-616babcdda22",
      "inputProcessor": true,
      "userDefinedInputProcessor": false
    }
  ],
  "id": "d318502f-6c9d-4584-91a1-5586231dcdf3",
  "nifiTemplateId": "cb552baa-2fd5-40af-93bd-96e4e935b2eb",
  "templateName": "Dataset Transformation",
  "updateDate": 1517942918231,
  "createDate": 1517918789742,
  "icon": "polymer",
  "iconColor": "#AB47BC",
  "description": null,
  "state": "ENABLED",
  "defineTable": false,
  "reusableTemplate": false,
  "reusableTemplateConnections": [
    {
      "feedOutputPortName": "to-dataset-transformation-port",
      "reusableTemplateInputPortName": "dataset-transformation-input-port",
      "inputPortDisplayName": "dataset-transformation-input-port"
    }
  ],
  "registeredDatasourceDefinitions": [
    {
      "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
      "processorName": "Merge Table",
      "processorId": "98ca9ba3-e81a-3405-392c-e9d2f9a404c0",
      "datasourceDefinition": {
        "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
        "connectionType": "DESTINATION",
        "datasourcePropertyKeys": [
          "Target schema",
          "Target table"
        ],
        "datasourceType": "HiveDatasource",
        "identityString": "${Target schema}.${Target table}",
        "description": null,
        "title": "${Target schema}.${Target table}"
      }
    }
  ],
  "order": 2,
  "templateOrder": null,
  "feedsCount": 1,
  "templateTableOption": "DATA_TRANSFORMATION",
  "timeBetweenStartingBatchJobs": 1000,
  "stream": false,
  "allowPreconditions": false,
  "dataTransformation": true,
  "isStream": false
}